{% import "elements/content/icons.njk" as icons %}

<!-- Put this part before </body> tag -->
<div class="modal bg-gray-of/90 delete-product-modal-{{item.old_id}}" id="delete-product-modal" up-keep>
  <div class="relative text-black bg-white rounded-lg modal-box">
    <a id="delete-product-modal-close-btn" data-id="{{item.old_id}}" class="absolute bg-green-900 btn btn-sm btn-circle right-2 top-2 delete-product-modal-close-btn-{{item.old_id}} text-white">✕</a>
    <h3 class="mb-2 text-lg font-semibold">Zmazanie ponuky</h3>

    <div class="flex items-center justify-center mt-4 text-center">
      Skutočne chcete zmazať ponuku?
    </div>
    
    <div class="px-5 my-5 text-sm text-center">
      <button data-id="{{item.old_id}}" class="inline-block px-4 py-1 mt-2 text-sm text-white uppercase rounded-full cursor-pointer profile-product-delete-confirm-btn bg-red-of">Áno</button>
    </div>

  </div>
</div>