
<!-- Put this part before </body> tag -->
<div class="modal bg-gray-of/90" id="demand-modal" up-keep>
  <div class="relative text-black bg-white rounded-lg modal-box">
    <a id="demand-modal-close-btn" class="absolute text-white bg-green-900 btn btn-sm btn-circle right-2 top-2">✕</a>
    <h3 class="mb-2 text-lg font-semibold">Potvrdenie dopytu</h3>

    {% include "elements/content/form/product_demand_modal.njk" %}
    
  </div>
</div>