{% import "elements/content/icons.njk" as icons %}

<!-- Put this part before </body> tag -->
<div class="modal bg-gray-of/90" id="newsletter-modal" up-keep>
  <div class="relative text-black bg-white rounded-lg modal-box">
    <a id="newsletter-modal-close-btn" class="absolute text-white bg-green-900 btn btn-sm btn-circle right-2 top-2">✕</a>
    <h3 class="mb-2 text-lg font-semibold">Newsletter</h3>

    <div class="flex items-center justify-center text-center">
      <div class="flex items-center justify-center w-20 h-20 p-2 my-5 mr-3 text-center text-green-600 border-4 border-green-600 rounded-full">
        {{ icons.success_green('inline-block fill-current') }}
      </div>
    </div>
    
    <div class="px-5 my-5 text-sm">
      Ďakujeme, vaša emailová adresa bola prihlásená na odber newsletteru.
    </div>

  </div>
</div>