<div id="change-password-wrapper" class="col-span-2">
    {% if password_success %}
    <div class="col-span-2 p-3 px-5 my-3 text-sm text-white bg-green-900 rounded-md">
    Nastavenia boli úspešne uložené.
    </div>
    {% endif %}

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    {% if userLogged === false %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie musíte byť prihlásený</div>
    {% endif %}

    <form action="{{root_url}}/ucet/heslo" method="post" up-target="#change-password-wrapper" up-submit class="col-span-2">
        <div class="grid grid-cols-3 gap-6">

            <div class="">
                <div class="">
                    <div class="mb-1 text-sm text-gray-500">Emailová adresa</div>
                    <input type="text" class="text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm bg-gray-100 rounded-md cursor-not-allowed" placeholder="Emailová adresa" value="{{email}}" disabled />
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="mb-1 text-sm text-gray-500">Nové heslo</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "password") %}
                    <input type="password" name="password" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="*******" value="{{password}}" />
                    {% if validationErrors.password %}
                    <div class="py-2 text-xs text-red-of">{{validationErrors.password}}</div>
                    {% endif %}
                </div>
            </div>

            <div class="">
                <div class="">
                    <div class="mb-1 text-sm text-gray-500">Zopakovať heslo</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "password_repeat") %}
                    <input type="password" name="password_repeat" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="*******" value="{{password_repeat}}" />
                    {% if validationErrors.password_repeat %}
                    <div class="py-2 text-xs text-red-of">{{validationErrors.password_repeat}}</div>
                    {% endif %}
                </div>
            </div>

            <div>
            <button type="submit" class="inline-block px-4 py-1 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Uložiť zmeny</button>
            </div>
        </div>
    </form>
</div>