{% import "elements/content/icons.njk" as icons %}

<form id="add-offer-form" action="{{root}}/ucet/moja-ponuka/ulozit" method="post" up-submit up-target="#add-offer-form" up-scroll>
    <div class="max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of">

        <input type="hidden" name="id" value="{{id}}" />

        {% if successMessage  %}
        <div class='px-4 py-3 my-3 mb-5 text-white bg-green-900 rounded'>{{ successMessage }}</div>
        {% endif %}

        {% if validationErrors %}
        <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
        {% endif %}

        {% if userLogged === false %}
        <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie musíte byť prihlásený</div>
        {% endif %}

        <div class="grid grid-cols-2 gap-20 pb-16 border-b border-gray-300">
            <div>
                <h2 class="mb-8 text-lg font-semibold">Informácie o produkte</h2>

                <div class="mb-4">
                    <div class="mb-1 text-sm text-gray-500">Názov produktu</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "product_title") %}
                    <input type="text" name="product_title" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs text-sm w-full rounded-md {{ validationClasses }}" placeholder="Produkt" value="{{product_title}}"/>
                    {% if validationErrors.product_title %}
                    <div class="py-2 text-xs text-red-of">{{validationErrors.product_title}}</div>
                    {% endif %}
                </div>

                <div class="mb-2 text-sm text-gray-600">Kategória produktu</div>

                <div class="grid grid-cols-12 gap-7" >
                    <div class="col-span-6">
                        {% set validationClasses = inputValidationClasses(validationErrors, "category") %}
                        <select id="category-select" name="category" class="text-black placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}">
                            <option value="0">Vyber kategóriu</option>
                            {% for item in topCategories %}
                            {% if item.id == category  %}
                            {% set selected = "selected" %}
                            {% else %}
                            {% set selected = "" %}
                            {% endif %}
                            <option value="{{item.id}}" {{selected}}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                        {% if validationErrors.category %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.category}}</div>
                        {% endif %}
                    </div>
                    <div class="col-span-6" id="subcategory-select-wrapper">
                        {% set validationClasses = inputValidationClasses(validationErrors, "subcategory") %}
                        <select id="subcategory-select" name="subcategory" class="text-black placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}">
                            <option value="0">Vyber podkategóriu</option>
                            {% for item in subcategories %}
                            {% if item.id == subcategory  %}
                            {% set selected = "selected" %}
                            {% else %}
                            {% set selected = "" %}
                            {% endif %}
                            <option value="{{item.id}}" {{selected}}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                        {% if validationErrors.subcategory %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.subcategory}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-3 mb-3">
                    <div class="mb-1 text-sm text-gray-500">Krátky popis (maximálne 100 znakov)</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "short_description") %}
                    <textarea maxlength="100" type="text" name="short_description" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full h-40 text-sm rounded-md {{ validationClasses }}" placeholder="Krátky popis">{{short_description}}</textarea>
                    {% if validationErrors.short_description %}
                    <div class="pb-2 text-xs text-red-of">{{validationErrors.short_description}}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <div class="mb-1 text-sm text-gray-500">Dlhý Popis (maximálne 500 znakov)</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "description") %}
                    <textarea maxlength="500" type="text" name="description" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full h-40 text-sm rounded-md {{ validationClasses }}" placeholder="Dlhý popis">{{description}}</textarea>
                    {% if validationErrors.description %}
                    <div class="pb-2 text-xs text-red-of">{{validationErrors.description}}</div>
                    {% endif %}
                </div>

                <div class="grid grid-cols-12 gap-7">
                    <div class="col-span-6">
                        <div class="mb-1 text-sm text-gray-500">Celkové množstvo</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "quantity") %}
                        <input type="text" name="quantity" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 1000" value="{{quantity}}" />
                        {% if validationErrors.quantity %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.quantity}}</div>
                        {% endif %}
                    </div>
                    <div class="col-span-6">
                        <div class="mb-1 text-sm text-gray-500">Minimálny odber</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "min_quantity") %}
                        <input type="text" name="min_quantity" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 2" value="{{min_quantity}}" />
                        {% if validationErrors.min_quantity %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.min_quantity}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="grid grid-cols-12 mt-3 gap-7">
                    <div class="col-span-4">
                        <div class="mb-1 text-sm text-gray-500">Jednotková cena v €</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "price") %}
                        <input type="text" name="price" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 35,50" value="{{price}}" />
                        {% if validationErrors.price %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.price}}</div>
                        {% endif %}
                    </div>
                    <div class="col-span-4">
                        <div class="mb-1 text-sm text-gray-500">Za množstvo</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "unit") %}
                        <input type="text" name="unit" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 1" value="{{unit}}" />
                        {% if validationErrors.unit %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.unit}}</div>
                        {% endif %}
                    </div>
                    <div class="col-span-4">
                        <div class="mb-1 text-sm text-gray-500">V jednotke</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "price_for") %}
                        <select name="price_for" class="text-black placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{ validationClasses }}">
                            <option value="">Vyber jednotku</option>
                            {% for item in units %}
                            {% if item.value == price_for  %}
                            {% set selected = "selected" %}
                            {% else %}
                            {% set selected = "" %}
                            {% endif %}
                            <option value="{{item.value}}" {{selected}}>{{ item.label }}</option>
                            {% endfor %}
                        </select>
                        {% if validationErrors.price_for %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.price_for}}</div>
                        {% endif %}
                    </div>
                </div>

                <h2 class="pt-6 mt-8 mb-8 text-lg font-semibold border-t border-gray-300">Dostupnosť produktu</h2>

                <div class="grid grid-cols-12 mt-3 gap-7 h-14">
                    <div class="col-span-4 pt-7">
                        {% set validationClasses = inputValidationClasses(validationErrors, "unlimited") %}
                        {% if unlimited %}
                        <input type="checkbox" id="unlimited" name="unlimited" class="{{ validationClasses }} mr-1" value="1" checked />
                        {% else %}
                        <input type="checkbox" id="unlimited" name="unlimited" class="{{ validationClasses }} mr-1" value="1" />
                        {% endif %}
                        <span class="mb-1 text-sm text-gray-500">Neobmedzená</span>
                        {% if validationErrors.unlimited %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.unlimited}}</div>
                        {% endif %}
                    </div>
                    {% if unlimited %}
                    <div class="hidden col-span-4 start-date-wrapper">
                    {% else %}
                    <div class="col-span-4 start-date-wrapper">
                    {% endif %}
                        <span class="mb-1 text-sm text-gray-500">Od</span>
                        {% set validationClasses = inputValidationClasses(validationErrors, "start_date") %}
                        <input type="text" autocomplete="off" name="start_date" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs date w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 24.07.2018" value="{{start_date}}" />
                        {% if validationErrors.start_date %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.start_date}}</div>
                        {% endif %}
                    </div>
                    {% if unlimited %}
                    <div class="hidden col-span-4 end-date-wrapper">
                    {% else %}
                    <div class="col-span-4 end-date-wrapper">
                    {% endif %}
                        <span class="mb-1 text-sm text-gray-500">Do</span>
                        {% set validationClasses = inputValidationClasses(validationErrors, "end_date") %}
                        <input type="text" autocomplete="off" name="end_date" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs date w-full text-sm rounded-md {{ validationClasses }}" placeholder="napr. 24.08.2018" value="{{end_date}}" />
                        {% if validationErrors.end_date %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.end_date}}</div>
                        {% endif %}
                    </div>
                </div>
                
            </div>

            <div>
                <h2 class="mb-8 text-lg font-semibold">Produktové foto</h2>

                <div class="my-5 text-sm">Prvý obrázok bude použitý ako featured image. Maximálny počet obrázkov je 8.</div>

                <div class="hidden my-2 text-sm text-red-of" id="image_max"></div>

                <div class="grid grid-cols-4 gap-5" id="uploadedPhotos">

                    {% for item in images %}
                    <div class="cursor-move item" data-id="{{item.id}}">
                        <div up-follow up-instant up-transition="cross-fade" class="">
                        <div class="relative overflow-hidden border-4 border-white rounded-md">
                            <div class="w-full h-32 bg-center bg-cover bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_large/{{item.name}});">
                            </div>
                            <div class="absolute p-2 pb-4 pr-4 bg-white rounded-md cursor-pointer profile-add-offer-remove-photo -bottom-2 -right-2" data-id="{{item.id}}">
                                {{ icons.delete('inline-block fill-current w-6 opacity-60') }}
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}

                    <input id="uploadedPhotosValue" type="hidden" name="uploadedPhotosValue" value="{{uploadedPhotosValue}}" />
                   
                </div>

                <div class="relative mt-10">
                    <div class="inline-block uppy-create-offer">
                        <form action="{{root}}/ucet/upload" method="post">
                            <div class="hidden">
                                <input type="file" name="profile_photo">
                                <button type="submit">Fallback Form Upload</button>
                            </div>
                        </form>
                    </div>
                    <div id="addOfferDeleteAllPhotosWrapper" class="inline-block">
                        {% if(images.length) %}
                        <a class="inline-block" href="/profil/pridat-ponuku" up-target=".content" up-transition="cross-fade">
                        <div id="addOfferDeleteAllPhotos" class="inline-block px-4 py-1 ml-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                            Zmazať všetko
                        </div>
                        </a>
                        {% endif %}
                    </div>
                </div>

                
            </div>
        </div>
{# 
        <div class="grid grid-cols-2 gap-20 pt-6 pb-6 border-b border-gray-300">
            <div>
                <h2 class="mb-8 text-lg font-semibold">Nutrície</h2>

                <div class="grid items-center grid-cols-12 gap-2">
                    <div class="col-span-7">
                        <div class="mb-1 text-sm text-gray-500">Názov nutrície</div>
                        <input type="text" class="w-full text-sm rounded-md" placeholder="Nutrícia" />
                    </div>
                    <div class="col-span-4">
                        <div class="mb-1 text-sm text-gray-500">Hodnota</div>
                        <input type="text" class="w-full text-sm rounded-md" placeholder="Hodnota" />
                    </div>
                    <div class="col-span-1">
                    </div>

                    <div class="col-span-7">
                        <div class="mb-1 text-sm text-gray-500">Názov nutrície</div>
                        <input type="text" class="w-full text-sm rounded-md" placeholder="Nutrícia" />
                    </div>
                    <div class="col-span-4">
                        <div class="mb-1 text-sm text-gray-500">Hodnota</div>
                        <input type="text" class="w-full text-sm rounded-md" placeholder="Hodnota" />
                    </div>
                    <div class="col-span-1 pt-6 text-right">
                        {{ icons.delete('inline-block fill-current relative -top-0.5 w-6 mr-1') }}
                    </div>
                </div>

                <a class="inline-block mt-5 mr-2" href="/profil/pridat-ponuku" up-target=".content" up-transition="cross-fade">
                    <div class="inline-block px-4 py-1 pl-2 text-sm text-white uppercase bg-gray-400 rounded-full cursor-pointer">
                        {{ icons.add('inline-block fill-current relative -top-0.5 w-5') }}
                        Pridať nutríciu
                    </div>
                </a>

            </div>
            <div class="">
                <h2 class="mb-8 text-lg font-semibold">Doplnkové informácie</h2>

                <div class="mb-1 text-sm text-gray-500">Ďalšie</div>
                <div class="mb-2 text-sm">
                    <input class="mr-2" type="checkbox" name="email" value="1" /> Eko-friendly
                </div>
                <div class="mb-2 text-sm">
                    <input class="mr-2" type="checkbox" name="week" value="1" /> Bio výroba
                </div>
                <div class="mb-2 text-sm">
                    <input class="mr-2" type="checkbox" name="new" value="1" /> Bezobalový predaj
                </div>
            </div>
        </div> #}

        <div class="grid grid-cols-2">
            <div>
                <button type="submit" class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Uložiť produkt</button>
            </div>
        </div>
        
    </div>
</form>