{% import "elements/content/icons.njk" as icons %}

<form class="farmer-contact-form" action="{{root}}/form/farmer/contact" method="post" up-submit up-target=".farmer-contact-form">

    {% if success_message  %}
    <div class='px-4 py-3 my-3 mb-5 text-white bg-green-900 rounded'>{{ icons.mail_send('inline-block text-white fill-current mr-3') }} {{ success_message }}</div>
    {% endif %}

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    <input name="id" type="hidden" value="{{id}}">

    <div class="mb-2">
    <span class="text-gray-400">Meno</span><br/>
    {% set validationClasses = inputValidationClasses(validationErrors, "name") %}
    <input name="name" type="text" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{validationClasses}}" placeholder="napr. Jožko Mrkvička" value="{{name}}">
    {% if validationErrors.name %}
    <div class="py-2 text-xs text-red-of">{{validationErrors.name}}</div>
    {% endif %}
    </div>

    <div class="mb-2">
    <span class="text-gray-400">Email</span><br/>
    {% set validationClasses = inputValidationClasses(validationErrors, "email") %}
    <input name="email" type="text" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{validationClasses}}" placeholder="napr. jozko@mrkvicka.sk" value="{{email}}">
    {% if validationErrors.email %}
    <div class="py-2 text-xs text-red-of">{{validationErrors.email}}</div>
    {% endif %}
    </div>

    <div class="mb-2">
    <span class="text-gray-400">Telefón</span><br/>
    {% set validationClasses = inputValidationClasses(validationErrors, "phone") %}
    <input name="phone" type="text" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{validationClasses}}" placeholder="napr. +421 912 345 678" value="{{phone}}">
    {% if validationErrors.phone %}
    <div class="py-2 text-xs text-red-of">{{validationErrors.phone}}</div>
    {% endif %}
    </div>

    <div class="mb-2">
    <span class="text-gray-400">Komentár</span><br/>
    {% set validationClasses = inputValidationClasses(validationErrors, "message") %}
    <textarea name="message" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{validationClasses}}" placeholder="Správa pre farmára">{{message}}</textarea>
    {% if validationErrors.message %}
    <div class="pt-1 pb-2 text-xs text-red-of">{{validationErrors.message}}</div>
    {% endif %}
    </div>

    <button type="submit" class="inline-block px-4 py-2 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Odoslať</button>
</form>