{% import "elements/content/icons.njk" as icons %}

<div id="newsletter-form-wrapper" class="relative">
    <form id="newsletter-form">

        {% set validationClasses = inputValidationClasses(validationErrors, "email") %}
        <input id="newsletter-email" type="text" name="email" class="text-black text-left w-full px-6 py-3 text-sm border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{validationClasses}}" placeholder="Zadajte email" value="{{email}}" />
        <button type="submit" id="newsletter-submit-btn" class="button absolute flex items-center justify-center inline-block w-10 h-10 rounded-md right-1.5 top-1.5 anim-head-shake">
            <div class="inline-block icon">{{ icons.arrow_right_thin('arrow inline-block text-yellow-of fill-current') }}</div>
            <svg class="hidden w-5 h-5 text-white loader animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </button>
        
        {% if validationErrors.email %}
            <div class="py-2 text-xs text-red-of">{{validationErrors.email}}</div>
        {% endif %}
    </form>
</div>