<div id="notifications-wrapper">
    {% if notification_success %}
    <div class="col-span-2 p-3 px-5 mb-5 text-sm text-white bg-green-900 rounded-md">
    Nastavenia boli úspešne uložené.
    </div>
    {% endif %}

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    {% if userLogged === false %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie musíte byť prihlásený</div>
    {% endif %}

    <form action="{{root_url}}/ucet/notifikacie" method="post" up-target="#notifications-wrapper" up-submit class="col-span-2">
        {% if notification_email %}
        {% set notification_email_checked = 'checked' %}
        {% else %}
        {% set notification_email_checked = '' %}
        {% endif %}
        <div class="mb-2">
            {% set validationClasses = inputValidationClasses(validationErrors, "notification_email") %}
            <input class="mr-2 text-green-900 {{validationClasses}}" type="checkbox" name="notification_email" value="1" {{notification_email_checked}} /> Dostávať upozornenie na mail
            {% if validationErrors.notification_email %}
            <div class="py-2 text-xs text-red-of">{{validationErrors.notification_email}}</div>
            {% endif %}
        </div>

        {% if user and user.privilegs === 'customer' %}
            {% if notification_only_week %}
            {% set notification_only_week_checked = 'checked' %}
            {% else %}
            {% set notification_only_week_checked = '' %}
            {% endif %}
            <div class="mb-2">
                {% set validationClasses = inputValidationClasses(validationErrors, "notification_only_week") %}
                <input class="mr-2 text-green-900 {{validationClasses}}" type="checkbox" name="notification_only_week" value="1" {{notification_only_week_checked}} /> Upozornenie raz týždenne
                {% if validationErrors.notification_only_week %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.notification_only_week}}</div>
                {% endif %}
            </div>

            {% if notification_new_products %}
            {% set notification_new_products_checked = 'checked' %}
            {% else %}
            {% set notification_new_products_checked = '' %}
            {% endif %}
            <div class="mb-2">
                {% set validationClasses = inputValidationClasses(validationErrors, "notification_new_products") %}
                <input class="mr-2 text-green-900 {{validationClasses}}" type="checkbox" name="notification_new_products" value="1" {{notification_new_products_checked}} /> Dostávať iba nové produkty
                {% if validationErrors.notification_new_products %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.notification_new_products}}</div>
                {% endif %}
            </div>
        {% endif %}

        <button type="submit" class="inline-block px-4 py-1 mt-5 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Uložiť zmeny</button>
    </form>
</div>