<div id="password-reset-wrapper">

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    {% if emailNotFound %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na zadaný email nie je registrovaný žiadny užívateľ.</div>
    {% endif %}

    {% if success %}

    <div class='px-4 py-3 my-3 mb-5 text-sm text-white bg-green-900 rounded'>Obnova hesla bola zaslaná na uvedený email.</div>

    {% else%}

    <form id="password-reset-form" action="{{root}}/zabudnute-heslo" method="post" up-submit up-target="#password-reset-wrapper">
       
        <div class="mt-5">
            <div class="mb-2">
                <div class="mb-1 text-sm text-gray-500">Emailová adresa</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "email") %}
                <input name="email" type="text" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full px-6 py-3 border-2 border-yellow-of rounded-md {{ validationClasses }} focus:border-black ring-0 focus:ring-0" placeholder="Email" value="{{email}}" />
                {% if validationErrors.email %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.email}}</div>
                {% endif %}
            </div>
        </div>

        <div class="mt-5">
            <button class="block w-full p-3 mt-8 font-medium text-white uppercase rounded-full bg-red-of" type="submit">Reset hesla</button>
        </div>
        
    </form>

    {% endif %}
    
    <div>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/prihlasenie" up-follow up-instant up-follow up-target="body">Prihlásiť</a>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/registracia" up-follow up-instant up-follow up-target="body">Registrovať</a>
    </div>
    
</div>