<div id="password-restore-wrapper">

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    {% if failedMessage %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>{{ failedMessage }}</div>
    {% endif %}

    {% if successMessage %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white bg-green-900 rounded'>{{ successMessage }}</div>

    <div>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/prihlasenie" up-follow up-instant up-follow up-target="body">Prihlásiť</a>
    </div>
    {% else %}

    <form id="password-reset-form" action="{{root}}/obnova-hesla" method="post" up-submit up-target="#password-restore-wrapper">

        <input type="hidden" name="token" value="{{token}}" />
       
        <div class="mt-5">
            <div class="mb-2">
                <div class="mb-1 text-sm text-gray-500">Heslo</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "password") %}
                <input name="password" type="password" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md {{ validationClasses }} focus:border-black ring-0 focus:ring-0" placeholder="Heslo" value="{{password}}" />
                {% if validationErrors.password %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.password}}</div>
                {% endif %}
            </div>
        </div>

        <div class="mt-5">
            <div class="mb-2">
                <div class="mb-1 text-sm text-gray-500">Zopakovať heslo</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "password_repeat") %}
                <input name="password_repeat" type="password" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md {{ validationClasses }} focus:border-black ring-0 focus:ring-0" placeholder="Zopakovať heslo" value="{{password_repeat}}" />
                {% if validationErrors.password_repeat %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.password_repeat}}</div>
                {% endif %}
            </div>
        </div>

        <div class="mt-5">
            <button class="block w-full p-3 mt-8 font-medium text-white uppercase rounded-full bg-red-of" type="submit">Obnoviť heslo</button>
        </div>
    </form>

    <div>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/prihlasenie" up-follow up-instant up-follow up-target="body">Prihlásiť</a>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/registracia" up-follow up-instant up-follow up-target="body">Registrovať</a>
    </div>

    {% endif %}
    
</div>