{% import "elements/content/icons.njk" as icons %}

<form class="product-demand-form" action="{{root}}/form/product/demand" method="post" up-submit up-target=".product-qty-selector">

    {% if success_message  %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white bg-green-900 rounded'>{{ success_message }}</div>
    {% endif %}

    {% if validationErrors %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
    {% endif %}

    {% if userLogout %}
    <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie dopytu musíte byť prihlásený.</div>
    {% endif %}

    <div class="p-4 px-6 rounded-lg bg-red-of-bg">

        <input type="hidden" id="cart-id-value-modal" name="id" value="{{id}}">

        <div class="pb-3 mt-2 mb-3 text-sm text-black border-b border-gray-300 title">
            <div class="inline-block font-semibold">{{item.title}}, </div>
            <div class="inline-block">jednotková cena za</div>
            <div class="inline-block font-semibold">
                {{ item.unit }}
                {% if item.price_for === 'gramy' %}
                g.
                {% elif item.price_for === 'kilogramy' %}
                kg.
                {% elif item.price_for === 'liters' %}
                l.
                {% elif item.price_for === 'kusy' %}
                ks.
                {% elif item.price_for === 'balenie' %}
                bal.
                {% else %}
                {{item.price_for}}
                {% endif %}
            </div>
        </div>

        <div class="inline-block text-sm font-medium select-none">
            <div class="text-gray-400">Počet</div>
            <div class="relative w-32 align-top bg-white border-2 rounded-lg border-yellow-of">
                {% set validationClasses = inputValidationClasses(validationErrors, "qty") %}
                <input id="cart-qty-value-modal" disabled name="qty" type="text" class="inline-block w-24 py-3 text-center bg-transparent border-t-0 border-b-0 border-l-0 border-r-2 border-yellow-of {{ validationClasses }}" value="1" data-item-price="{{ item.price }}" />
                <div class="absolute inline-block right-0.5 top-0">
                    <div class="cursor-pointer cart-qty-up-modal">
                        {{ icons.arrow_top('inline-block text-gray-500 fill-current') }}
                    </div>
                    <div class="cursor-pointer cart-qty-down-modal">
                        {{ icons.arrow_bottom('inline-block text-gray-500 fill-current') }}
                    </div>
                </div>
            </div>
            {% if validationErrors.qty %}
            <div class="py-2 text-xs text-red-of">{{validationErrors.qty}}</div>
            {% endif %}
        </div>

        <div class="inline-block ml-8 text-sm font-medium align-top">
            <div class="text-gray-400">Celková cena</div>
            <div class="mt-2 text-2xl price" id="cart-price-overall-modal">
                {{item.price | price}}
            </div>
        </div>
        
    </div>

    <div class="p-4 px-6">
        <textarea id="cart-message-value-modal" rows="6" name="message" class="text-left w-full px-4 py-3 text-sm border-2 rounded-md border-yellow-of focus:border-black ring-0 focus:ring-0" placeholder="Komentár"></textarea>
    </div>

    <button id="demand-modal-submit-btn" type="submit" class="block w-full px-4 py-4 text-lg font-medium text-center text-white align-middle rounded-full cursor-pointer bg-red-of">Zaslať dopyt</button>

</form>