{% import "elements/content/icons.njk" as icons %}

<form class="profile-contact-form" action="{{root}}/ucet/contact-form/send-message" method="post" up-submit up-target=".profile-contact-form">

    <div class="p-10 bg-white border border-gray-300 rounded-lg">
        <h2 class="mb-1 font-semibold">Napíšte nám</h2>

        {% if successMessage  %}
        <div class='px-4 py-3 my-3 mb-5 text-white bg-green-900 rounded'>{{ icons.mail_send('inline-block text-white fill-current mr-3') }} {{ successMessage }}</div>
        {% endif %}

        {% if validationErrors %}
        <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
        {% endif %}

        {% if userLogged === false %}
        <div class='px-4 py-3 my-3 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie musíte byť prihlásený</div>
        {% endif %}

        <div class="mb-4 text-sm">
        Mate pocit ze vam daco chyba alebo ste objavili chybu? Napiste nam a my to zmastime cakum prask!
        </div>

        <div class="mb-5">
            <div class="mb-1 text-sm text-gray-500">Predmet</div>
            {% set validationClasses = inputValidationClasses(validationErrors, "category") %}
            <select name="category" class="text-black text-sm w-full rounded-md {{ validationClasses }}">
                <option value="Nahlásenie problému">Nahlásenie problému</option>
            </select>
            {% if validationErrors.category %}
            <div class="py-2 text-xs text-red-of">{{validationErrors.category}}</div>
            {% endif %}
        </div>

        <div class="mb-1">
            <div class="mb-1 text-sm text-gray-500">Správa</div>
            {% set validationClasses = inputValidationClasses(validationErrors, "message") %}
            <textarea name="message" class="text-black text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs text-sm w-full h-40 rounded-md {{ validationClasses }}" placeholder="Krátky popis">{{message}}</textarea>
            {% if validationErrors.message %}
            <div class="pb-2 text-xs text-red-of">{{validationErrors.message}}</div>
            {% endif %}
        </div>

        <button type="submit" class="inline-block px-4 py-1 mt-5 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Odoslať</button>
    </div>
</form>