{% import "elements/content/icons.njk" as icons %}

<div id="reg-form-wrapper">

    {% if(success_message) %}

    <div class="text-sm text-center">Ďakujeme za registráciu, skontrolujte si svoj email pre prihlásenie.</div>
    
    {% else %}

    <div class="flex lg:flex-row flex-col justify-center mb-5">
        <a href="{{root}}/auth/facebook" class="mt-3 px-3 py-1 mr-2 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
        {{ icons.facebook('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
        Cez Facebook
        </a>
        <a href="{{root}}/auth/google" class="mt-3 px-3 py-1 mr-2 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
        {{ icons.google('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
        Cez google
        </a>
        {# <a href="{{root}}/auth/apple" class="px-3 py-1 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
        {{ icons.apple('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
        Apple ID
        </a> #}
    </div>

    <form id="reg-form" action="{{root}}/registracia" method="post" up-submit up-target="#reg-form-wrapper">

        <input id="registrationType" name="type" type="hidden" value="{{registrationType}}">
        
        <div class="mt-5">
            {% if(registrationType == 'seller') %}
            <div class="mb-2 name-field">
                <div class="mb-1 text-sm text-gray-500">Meno a priezvisko</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "name") %}
                <input name="name" type="text" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{ validationClasses }}" placeholder="Meno a priezvisko" value="{{name}}" />
                {% if validationErrors.name %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.name}}</div>
                {% endif %}
            </div>
            {% endif %}
            <div class="mb-2">
                <div class="mb-1 text-sm text-gray-500">Emailová adresa</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "email") %}
                <input name="email" type="text" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{ validationClasses }}" placeholder="Email" value="{{email}}" />
                {% if validationErrors.email %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.email}}</div>
                {% endif %}
            </div>

            <div class="grid grid-cols-2 gap-4">
               <div class="mb-2">
                    <div class="mb-1 text-sm text-gray-500">Heslo</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "password") %}
                    <input name="password" type="password" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{ validationClasses }}" placeholder="Heslo" value="{{password}}" />
                    {% if validationErrors.password %}
                    <div class="py-2 text-xs text-red-of">{{validationErrors.password}}</div>
                    {% endif %}
                </div>
                <div class="mb-2">
                    <div class="mb-1 text-sm text-gray-500">Zopakovať heslo</div>
                    {% set validationClasses = inputValidationClasses(validationErrors, "password_repeat") %}
                    <input name="password_repeat" type="password" class="text-black text-left w-full px-6 py-3 border-2 border-yellow-of rounded-md focus:border-black ring-0 focus:ring-0 {{ validationClasses }}" placeholder="Zopakovať heslo" value="{{password_repeat}}" />
                    {% if validationErrors.password_repeat %}
                    <div class="py-2 text-xs text-red-of">{{validationErrors.password_repeat}}</div>
                    {% endif %}
                </div>
            </div>
            
        </div>

        <div class="mb-3 mt-4 text-xs">
            <input type="checkbox" name="accept" value="1" id="reg-accept-conditions" class="mr-2 text-green-900" {{checked}}/>
            Registráciou súhlasíte s <a class="font-semibold underline" href="{{root}}/podmienky-pouzivania" up-follow up-instant>obchodnými podmienkami</a> a <a class="font-semibold underline" href="{{root}}/ochrana-osobnych-udajov" up-follow up-instant>podmienkami ochrany osobných údajov</a>.
        </div>

        <div class="mt-5">
            <button id="reg-btn" class="block w-full p-3 mt-8 font-medium text-white uppercase rounded-full bg-red-of disabled:opacity-50" type="submit" {{disabled}}>Registrovať</button>
        </div>
    </form>
    
    <div>
        <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/prihlasenie" up-follow up-instant up-target="body">Prihlásiť</a>
        <a class="inline-block my-5 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/zabudnute-heslo" up-follow up-instant up-target="body">Zabudnuté heslo</a>
    </div>
    {% endif %}

    
</div>