 {% import "elements/content/icons.njk" as icons %}
    
 <div class="inline-block align-middle">
    <div class="tooltip tooltip-right" data-tip="Obľúbené">
        <div class="product-favorite">
        {% if user and user.privilegs === 'customer' %}

            {% if(user) %}
                {% if(favorite) %}
                <div id="favorite-btn" class="flex items-center justify-center w-10 h-10 mr-1 border rounded-full cursor-pointer border-red-of bg-red-of">
                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                {% else %}
                <div id="favorite-btn" class="flex items-center justify-center w-10 h-10 mr-1 border border-gray-300 rounded-full cursor-pointer">
                    {{ icons.heart_outline('inline-block text-gray-400 fill-current relative w-4 h-4') }}
                {% endif %}
                </div>
            {% else %}
                <a href="{{root}}/prihlasenie" class="flex items-center justify-center w-10 h-10 mr-1 border border-gray-300 rounded-full cursor-pointer" up-follow up-instant up-follow up-target="body">
                    {{ icons.heart_outline('inline-block text-gray-400 fill-current relative w-4 h-4') }}
                </a>
            {% endif %}
            
        {% endif %}
        </div>
    </div>
</div>