{% import "elements/content/icons.njk" as icons %}

<div class="product-qty-selector">

    {% if success_message  %}
    <div class='px-4 py-3 my-3 mb-5 text-white bg-green-900 rounded'>{{ icons.mail_send('inline-block text-white fill-current mr-3') }} {{ success_message }}</div>
    {% endif %}

    <div class="inline-block text-sm font-medium select-none">
        <div class="text-gray-400">Počet</div>

        {% if old or item.quantity === 0  %}
        <div class="opacity-40 relative w-32 align-top bg-white border-2 rounded-lg border-yellow-of">
        {% else %}
        <div class="relative w-32 align-top bg-white border-2 rounded-lg border-yellow-of">
        {% endif %}

            {% if item.min_quantity  %}
            {% set min_quantity = item.min_quantity %}
            {% else %}
            {% set min_quantity = 1 %}
            {% endif %}

            {% if item.unit  %}
            {% set unit = item.unit %}
            {% else %}
            {% set unit = 1 %}
            {% endif %}

            <input id="cart-qty-value" disabled type="text" data-unit="{{unit}}" data-min-quantity="{{min_quantity}}" class="inline-block w-24 py-3 text-center bg-transparent border-t-0 border-b-0 border-l-0 border-r-2 border-yellow-of" value="{{min_quantity}}" data-item-price="{{ item.price }}" />

            {% if old or item.quantity === 0  %}
            <div class="absolute inline-block right-0.5 top-0">
                <div class="">
                    {{ icons.arrow_top('inline-block text-gray-500 fill-current') }}
                </div>
                <div class="">
                    {{ icons.arrow_bottom('inline-block text-gray-500 fill-current') }}
                </div>
            </div>
            {% else %}
            <div class="absolute inline-block right-0.5 top-0">
                <div class="cursor-pointer cart-qty-up">
                    {{ icons.arrow_top('inline-block text-gray-500 fill-current') }}
                </div>
                <div class="cursor-pointer cart-qty-down">
                    {{ icons.arrow_bottom('inline-block text-gray-500 fill-current') }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="inline-block ml-8 text-sm font-medium align-top">
        <div class="text-gray-400">Celková cena</div>
        <div class="mt-2 text-2xl price" id="cart-price-overall">
        {{item_min_price | price}}
        </div>
    </div>
</div>