.uppy-FileInput-btn{
    color: #FFF !important;
    border: 0px !important;
    text-transform: uppercase;
    background-color: rgb(155 172 172) !important;
    border-radius: 9999px !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    line-height: 20px !important;
    padding: 4px 16px !important;
    position: absolute;
    right: 24px;
    bottom: 40px;
}

.uppy-create-offer .uppy-FileInput-btn{
    position: static;
}

.datepicker-picker{
    background: #f5f9fc !important;
}

.datepicker-header .datepicker-controls .button{
    background: #f5f9fc !important;
}

.datepicker .datepicker-main{
    font-size: 12px;
}  


.datepicker-view .dow{
    font-size: 12px !important;
    font-weight: 600 !important;
    background: #f5f9fc !important;
    /* margin: 3px; */
}

.datepicker-header .datepicker-controls .button{
    font-size: 13px !important;
    font-weight: 600 !important;
}

.datepicker-picker span{
    border-radius: 100px !important;
    /* background-color: #FFF; */
    font-weight: 600 !important;
    /* margin: 3px; */
}

.datepicker-cell, .datepicker-view .week{
    /* height: 2rem !important;
    line-height: 2.05rem !important;
    width: 2rem !important; */
}


.datepicker-cell.focused:not(.selected){
    background-color: #FFF !important;
}

.datepicker-cell.selected{
    background-color: #e54f4e !important;
}

.datepicker-cell.selected:not(.disabled):hover{
    background-color: #e54f4e !important;
}

.datepicker-cell:not(.disabled):hover{
    background-color: #14532d !important;
    color: #FFF !important;
}

.datepicker-cell.month.focused:not(.selected), .datepicker-cell.year.focused:not(.selected){
    background-color: #f5f9fc !important;
    color: #14532d !important;
}

.datepicker-cell.month.selected:not(.disabled), .datepicker-cell.year.selected:not(.disabled){
    background-color: #f5f9fc !important;
    color: #e54f4e !important;
}

.datepicker-cell.month:not(.disabled):hover, .datepicker-cell.year:not(.disabled):hover{
    background-color: #f5f9fc !important;
    color: #14532d !important;
} 

.item-content p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapboxgl-popup{
    top: -25px !important;
}

.mapboxgl-popup-content{
    font-family: 'Poppins', sans-serif !important;
    text-align: center !important;
    padding: 20px !important;
}

.mapboxgl-popup-close-button{
    width: 20px !important;
    height: 20px !important;
    outline: none;
    color: #e54f4e !important;
    font-size: 13px;
}

.popup-button{
    display: block;
    width: 112px;
    background: #e54f4e !important;
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 2px;
    border: 0px !important;
    outline: none !important;
    margin: 5px auto 0px;
}

.mapboxgl-marker{
    cursor: pointer;
}

.map-popup-img{
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 0px auto 5px;
    border-radius: 50px;
}

.mapboxgl-popup .title{
   line-height: 1.3em;
}

.star-rating {
    background-image: url("../img/rating_off.svg") !important;
}

.star-rating .star-value{
    background-image: url("../img/rating_on.svg") !important;
}

#brand_small{
    width: 36px;
    position: relative;
    top: -4px;
    left: 8px;
}

.drawer-toggle ~ .drawer-side > .drawer-overlay{
    background-color: rgba(255, 255, 255, 0.3);
}

.menu :where(li) > :where(*:not(ul)){
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.menu :where(li) > :where(*:not(ul)){
    background-color: #FFF !important;
}

.menu :where(li) > :where(*:not(ul)) a{
    color: #000 !important;
    box-shadow: none !important;
}
