{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of">

            <h1 class="mb-8 text-2xl font-medium text-red-of">Moje kontakty</h1>

            <div class="">

                <div class="font-medium border-b border-gray-400">
                    <a href="{{root}}/ucet/kontakty" class="inline-block pb-2 mr-4" up-follow up-instant>Moje kontakty</a>
                    <a href="{{root}}/ucet/kontakty/sledujuci-pouzivatelia" class="inline-block pb-2 mr-4 cursor-pointer" up-follow up-instant>Sledujúci používatelia</a>
                    <a href="{{root}}/ucet/kontakty/ziadajuci-pouzivatelia" class="inline-block pb-2 border-b-2 border-gray-400 cursor-pointer text-red-of" up-follow up-instant>Žiadajúci používatelia</a>
                </div>
                
                {% if contacts.length %}
                    {% for item in contacts %}

                    {% set name = item.name %}
                    {% if item.company_name %}
                    {% set name = item.company_name %}
                    {% endif %}

                    {% set img = item.profile_img_filename %}
                    {% if item.profile_image %}
                    {% set img = item.profile_image %}
                    {% endif %}
                    
                    <div class="grid grid-cols-12 gap-4 py-4 text-sm border-b border-gray-400">
                        <div class="col-span-8 py-4">
                            
                            <div class="grid grid-cols-12">
                                <div class="col-span-2">
                                    {% if img %}
                                    <div class="w-24 h-24 bg-center bg-cover rounded-full bg-gray-dark-of" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{img}});"></div>
                                    {% else %}
                                    <div class="relative w-24 h-24 rounded-full bg-gray-dark-of">
                                        <div class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="flex items-center col-span-8">
                                    <div>
                                        <div class="mb-2 text-lg font-semibold">{{name}}</div>
                                        {% if item.phone %}
                                        <div class=""><span class="mr-3 text-gray-600">Telefón</span><span class="font-semibold">{{item.phone}}</span></div>
                                        {% endif %}
                                        {% if item.email %}
                                        <div class=""><span class="mr-3 text-gray-600">Email</span><span class="font-semibold">{{item.email}}</span></div>
                                        {% endif %}
                                        {% if item.street or item.houseno or item.zip or item.city %}
                                        <div class=""><span class="mr-3 text-gray-600">Adresa</span><span class="font-semibold">{{item.street}} {{item.houseno}}, {{item.zip}} {{item.city}}</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-end col-span-4 py-4 pl-4 border-l border-gray-400">
                            <div class="px-4 py-1 ml-1 text-white uppercase rounded-full cursor-pointer profile-delete-contact bg-greygreen-of" data-id="{{item.id}}">
                                Povoliť
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-span-12 my-8">Nemáte žiadne kontakty</div>
                {% endif %}

            </div>

        </div>

    </div>
</div>
{% endblock %}