{% extends "layouts/main.njk" %}

{% block content %}

<div class="text-center font-semibold text-5xl mt-10">
404.
</div>
<div class="text-center font-semibold text-5xl">
Oláá hop.
</div>
<div class="text-center font-medium text-red-of text-2xl mt-2">
Táto stránka neexistuje.
</div>

<div class="text-center mb-10">
    <a href="{{root}}" class="inline-block px-4 py-1 text-sm uppercase text-white rounded-full cursor-pointer bg-greygreen-of mt-6" up-follow up-instant>
        <span class="inline-block">Späť na úvodnú stránku</span>
    </a>
</div>

{% endblock %}