{% extends "layouts/blog.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 gap-8 mt-6 px-6">

        <div class="lg:col-span-9 col-span-12">
            
            {% if searching %}

                {% if docs.length %}

                    <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 mt-6">
                    {% for item in docs %}

                        <div class="mb-5 item">
                            <a href="{{root}}/cms/blogdetails/{{item.id}}/{{item.ge_slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                            <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                <div class="w-full bg-cover bg-center h-60 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ item.ge_thumbnail }});"></div>
                            </div>
                            </a>
                            <div class="mt-2 text-xs text-gray-500">{{ item.ge_created_date | format_date }}</div>
                            <div class="mt-0 text-xs text-gray-500">{{ item.ge_category_name }}</div>
                            <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ item.ge_name }}</div>
                        </div>

                    {% endfor %}
                    </div>

                    <div class="mt-12">
                    {% include "elements/content/list/pagination.njk" %}
                    </div>

                {% else %}
                    Žiadny článok na zobrazenie
                {% endif %}
            
            {% else %}

            <div class="grid grid-cols-2 gap-5 mt-6">

                <div class="col-span-2">

                    {% if latestArticles and latestArticles[0]  %}

                    <div class="mb-5 item">
                        <a href="{{root}}/cms/blogdetails/{{latestArticles[0].article_id}}/{{latestArticles[0].slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full bg-cover bg-center h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestArticles[0].blog_img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestArticles[0].date | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestArticles[0].category.name }}</div>
                        <div class="mt-1 text-2xl font-semibold text-black leading-8">{{ latestArticles[0].title }}</div>
                    </div>

                    {% endif %}

                    {% if tags.length %}
                    <div class="mt-12 mb-6 text-xs">
                        <ul>
                            {% for tag in tags %}
                            <li class="inline-block mb-2 mr-1"><a class="inline-block px-6 py-2 text-white rounded-md bg-red-of border-2-transparent" href="{{root}}/tag/{{tag.slug}}" up-follow up-instant>{{tag.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if latestArticles and latestArticles[1]  %}
                    <div class="mb-5 item">
                        <a href="{{root}}/cms/blogdetails/{{latestArticles[1].article_id}}/{{latestArticles[1].slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full bg-cover bg-center h-40 sm:h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestArticles[1].blog_img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestArticles[1].date | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestArticles[1].category.name }}</div>
                        <div class="mt-1 text-2xl font-semibold text-black leading-8">{{ latestArticles[1].title }}</div>
                    </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if latestArticles and latestArticles[2]  %}
                    <div class="mb-5 item">
                        <a href="{{root}}/cms/blogdetails/{{latestArticles[2].article_id}}/{{latestArticles[2].slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full bg-cover bg-center h-40 sm:h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestArticles[2].blog_img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestArticles[2].date | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestArticles[2].category.name }}</div>
                        <div class="mt-1 text-2xl font-semibold text-black leading-8">{{ latestArticles[2].title }}</div>
                    </div>
                    {% endif %}
                </div>

            </div>

            {% endif %}

        </div>

        <div class="lg:col-span-3 col-span-12">
            <div class="p-6 mt-6 rounded-md cursor-pointer bg-red-of-bg">
                <div class="flex">
                    <div>
                        <div class="inline-block">
                            <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                                {{ icons.post_box('inline-block text-white fill-current w-5 h-5') }}
                            </div>
                        </div>
                    </div>
                    <div class="text-2xl font-medium leading-6 text-red-of">Nezmeškajte novinky</div>
                </div>
                
                <div class="my-5 text-sm">
                    Dostávajte pravideľné novinky do vašej poštovej schránky.
                </div>

                {% include "elements/content/form/newsletter.njk" %}

                {% include "elements/content/modals/newsletter.njk" %}
                {% include "elements/content/modals/newsletter_exists.njk" %}
                
            </div>

            {# <div class="relative h-64 p-6 mt-10 overflow-hidden text-center rounded-md cursor-pointer bg-green-of-app-bg">
                <span class="font-medium text-red-of">Aplikácia</span>
                <img src="{{ root }}/assets/img/iphone_1.png" class="relative m-0 top-4 left-4" />
            </div> #}
            
        </div>
        
    </div>

    <h2 class="flex items-center mt-5 mb-5 text-2xl font-medium text-red-of px-6">
        Populárne z blogu
    </h2>

    <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 mt-6 px-6">

        {% for article in popularArticles %}

        <div class="mb-5 item">
            <a href="{{root}}/cms/blogdetails/{{article.article_id}}/{{article.slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
            <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                <div class="w-full bg-cover bg-center h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ article.blog_img }});"></div>
            </div>
            </a>
            <div class="mt-2 text-xs text-gray-500">{{ article.date | format_date }}</div>
            <div class="mt-0 text-xs text-gray-500">{{ article.category.name }}</div>
            <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ article.title }}</div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}