{% extends "layouts/main.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 gap-4 mt-6">
        <div class="col-span-3">
            <div class="p-6 rounded-md" style="box-shadow: 0 4px 40px 0 rgb(0 0 0 / 10%);">
                <div class="text-base font-medium text-red-of"><h2>Nájdi produkty alebo farmára</h2></div>
                <div>
                    <ul class="mt-4 mb-4 font-medium">

                        {% for category in categories %}

                        <li class="p-2 px-4 mb-1 text-sm rounded-md cursor-pointer bg-red-of-bg">
                        <a href="{{root}}/kategoria/{{ category.slug }}" up-target=".content" up-transition="cross-fade">
                        {% if category.icon %}
                            {{ icons[category.icon]('inline-block relative w-7 opacity-70 mr-1') }}
                        {% endif %}
                        {{ category.name }}
                        </a>
                        </li>
                        
                        {% endfor %}

                    </ul>
                </div>
                <div>
                    <ul class="mt-4 mb-4">
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Bratislavský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Trnavský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Nitrianský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Žilinský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Banskobystrický
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Prešovský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Trenčianský
                        </li>
                        <li class="p-2 px-4 mb-1 text-sm rounded-md bg-greygreen-of-bg">
                        {{ regions.nitriansky_kraj('inline-block mr-2', '30px', root) }}
                        Košický
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-span-9 ml-5">

            <div class="mb-6">
                <input type="text" class="w-full border-gray-300 rounded-md" />
            </div>
            
            <div>
                
                <div class="grid grid-cols-4 gap-7 items">
                    <div class="mb-5 item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-3.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-3.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="mb-5 item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                    <div class="item">
                        <a href="{{root}}/produkt" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-3.jpg);"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                        <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="grid items-center max-w-screen-xl mx-auto mt-20">
                
        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            <div class="inline-block">
                <div class="flex items-center justify-center w-10 h-10 mr-3 rounded-full bg-red-of">
                    {{ icons.star('inline-block text-white fill-current') }}
                </div>
            </div>
            
            Sezónna ponuka
        </h2>

        <div class="grid grid-cols-5 gap-7 items">
            <div class="mb-5 item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-3.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-3.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <a href="{{root}}/produkt" up-follow up-instant up-transition="cross-fade">
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                </div>
                </a>
                <div class="mt-2 text-lg font-semibold text-black">Tekvica tvrdohlavá</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">2,50 €</span> za kg</div>
                <div class="mt-1 text-xs text-gray-500">Farma Terchová</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">400 Kg</span></div>
            </div>
            <div class="item">
                <div class="mb-3 text-lg font-semibold text-red-of">Sezónne kategórie</div>
                <div class="text-black">
                    <ul>
                        <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                            <a href="{{root}}/kategoria">
                            Ovocie
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                            </a>
                        </li>
                        <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                            <a href="{{root}}/kategoria">
                            Zelenina
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                            </a>
                        </li>
                        <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                            <a href="{{root}}/kategoria">
                            Zabíjačka
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                            </a>
                        </li>
                        <li class="relative py-1 text-lg font-semibold border-t border-b border-gray-300 cursor-pointer anim-head-shake">
                            <a href="{{root}}/kategoria">
                            Burčáčik
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>{# //item #}
        </div>{# //grid #}
    </div>
    
    
    {# <div class="grid items-center max-w-screen-xl grid-cols-8 mx-auto my-10 overflow-hidden rounded-md h-80 bg-green-of-app-bg">
        <div class="col-span-5 pb-8 p-14">
            <h3 class="text-3xl font-semibold">Stiahni si aplikáciu</h3>
            <div class="mt-4 mb-8 text">
                Či už ste zákazník, alebo farmár môžete naplno využívať mobilnú aplikáciu. Pozrite si a vyskúšajte si jedinečné funkcie, ktoré sa stanú vašim každodenným pomocníkom či už predávate, alebo nakupujete.
            </div>

            <div class="grid grid-cols-3 gap-1 mb-6">
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.apple('inline-block mr-2 relative -top-2 text-white fill-current') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold">Apple Store</span>
                    </div>
                </div>
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.google_play('inline-block mr-2 text-white fill-current relative -top-1.5') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold"> Google Play</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative h-full col-span-3 overflow-hidden">
            <img src="{{ root }}/assets/img/iphone_1.png" class="absolute z-20 top-5 right-56" />
            <img src="{{ root }}/assets/img/iphone_2.png" class="absolute z-10 top-9 right-20" />
        </div>
    </div> #}

</div>

{% endblock %}