{% extends "layouts/main.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

    <div class="overflow-hidden bg-white">
        <div class="pt-6">
            <div class="max-w-screen-xl px-6 mx-auto mt-10 text-sm">
                    <h1 class="text-xl font-semibold mb-4">Zásady používania súborov cookie - Odfarmara.sk</h1>

                    <p class="mb-4">S cieľom zabezpečiť riadne fungovanie web stranky Odfarmara.sk niekedy ukladáme na vaše zariadenie malé dátové súbory, tzv. cookies.  Ide o bežnú prax väčšiny webových lokalít.</p>

                    <p class="mb-4 font-semibold">Čo sú súbory cookie?</p>

                    <p class="mb-4">Súbor cookie je malý textový súbor, ktorý webová lokalita ukladá vo vašom počítači alebo mobilnom zariadení pri jej prehliadaní. Vďaka tomuto súboru si webová lokalita na určitý čas uchováva informácie o vašich krokoch a preferenciách (ako sú prihlasovacie meno, jazyk, veľkosť písma a iné nastavenia zobrazovania), takže ich pri ďalšej návšteve lokality alebo prehliadaní našich jednotlivých stránok nemusíte opätovne uvádzať. Spoločnosť XO CREATIVE s.r.o. nezhromažďuje osobné údaje, takže používaním súborov cookies nedochádza k porušovaniu zákona č. 18/2018 Z.z. o ochrane osobných údajov  v platnom znení. Každý užívateľ prezeraním webovej stránky spoločnosti XO CREATIVE s.r.o. súhlasí s používaním cookies a ich ukladaním do jeho prehliadača. O tejto skutočnosti je návštevník upozornený pri návšteve webovej stránky a svoj súhlas prejavuje ďalším prezeraním danej webovej stránky.</p>

                    <p class="mb-4 font-semibold">Ako používame súbory cookie?</p>

                    <p class="mb-4">Projekt Odfarmara.sk - XO CREATIVE s.r.o. používajú súbory cookie na zapamätanie si používateľských nastavení a vytvorením dostatočného uživateľského komfortu.</p>

                    <p class="mb-4 font-semibold">Ako možete kontrolovať súbory cookies

                    <p class="mb-4">Cookies môžete ovládať a / alebo vymazávať podľa vlastného . Môžete odstrániť všetky súbory cookies priamo cez implementovanu funkciu vo vašom prehliadači, väčšina prehliadačov povolí nastavenia, ktoré zabraňujú ukladaniu súborov cookies. V takomto prípade budete pravdepodobne musieť manuálne upraviť niektoré nastavenia pri každom prehliadaní webových stránok a niektoré služby a funkcie.</p>

                    <p class="mb-4">
                    Cookies, ktoré sa zberajú za účelom merania návštevnosti webu a vytvárania štatistík týkajúcich sa návštevnosti a správania návštevníkov na webe, sú posudzované v podobe hromadného celku a v anonymnej podobe, ktorá neumožňuje identifikáciu jednotlivca
                    Cookies sú ukladané najviac po dobu 3 rokov (platí pre cookies za účelom zbierania návštevnosti). 
                    </p>

                    <p class="mb-4">
                    Cookies pre cielenie reklamy sú ukladané po dobu 90 dní. Zhromaždené cookies súbory sú spracované ďalšími spracovateľmi: 
                    </p>

                    <p class="mb-4">
                    Poskytovateľom služby Google Analytics, a reklamného systému Google AdWords prevádzkovanej spoločnosťou Google Inc., sídlom 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA
                    </p>

                    <p class="mb-4">
                    Spracovanie osobných údajov je vykonávané prevádzkovateľom osobných údajov, osobné údaje však môže spracovávať aj: Poskytovateľ služby Facebook Ads., prevádzkovanej spoločnosťou Facebook Inc., sídlom 1601, Willow Road, Menlo Park, CA 94025, USA
                    </p>

                    <p class="mb-4">
                    Správca spracováva nasledujúce súbory cookies:<br/>
                    <span class="font-semibold">1) Potrebné na prevádzku webu</span><br/><br/>

                    - Fungovanie jednotlivých stránok webu a udalostí:<br/>
                    - obsah nákupného košíka<br/>
                    - prihlásený užívateľ<br/>
                    - súhlas s cookie<br/>
                    - správca pre externé skripty Google Tag Manager<br/><br/>

                    <span class="font-semibold">2) Analytické - Google Analytics</span><br/><br/>

                    - Sledovanie jednotlivých stránok webu.<br/>
                    - Slúži na vytváranie štatistík o dokončenej objednávke.<br/>
                    - dokončená registrácia<br/>
                    - vyhľadávanie<br/><br/>

                    <span class="font-semibold">3) Na marketingové účely - Google Analytics</span>
                    - Sledovanie jednotlivých stránok a udalostí za účelom vytvárania publik na remarketing
                    </p>

                    <p class="mb-4 font-semibold">
                    Ako Cookies deaktivovať alebo vymazať?
                    </p>

                    <p class="mb-4">
                    Ak nechcete súbory cookies využívať alebo zmazať ich obsah, ktorý webové stránky o vašich návštevách na rôznych webových stránkach a portáloch uložili, môžete využiť návody pre jednotlivé najčastejšie využívané prehliadača nižšie:
                    </p>

                    <p class="mb-4">
                    Chrome: support.google.com<br/>
                    Opera: help.opera.com<br/>
                    Firefox: support.mozilla.org<br/>
                    MSIE: windows.microsoft.com<br/>
                    Safari: support.apple.com
                    </p>

                    <p class="mb-4">
                    Na portaly Odfarmara.sk zverejnujeme produkty tretích strán. Webstránky týchto tretích strán majú vlastné podmienky ochrany osobných údajov.  Nenesieme žiadnu právnu zodpovednosť za obsah a aktivity tretích strán na ktoré odkazujeme z portálu Odfarmara. 
                    </p>

                    <p class="mb-4">
                    V prípade otázok, nás neváhajte kontaktovat info @ odfarmara.sk
                    </p>

                    <p class="mb-4">
                    Platné od 20.7.2017
                    </p>
            </div>
         </div>
    </div>

{% endblock %}