{% extends "layouts/farmers.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 gap-5 px-6 mt-6">
        <div class="col-span-12 lg:col-span-3">
            <div class="p-6 rounded-md" style="box-shadow: 0 4px 40px 0 rgb(0 0 0 / 10%);">
                <div class="text-base font-medium text-red-of"><h2>Nájdi farmára</h2></div>
                <div>
                    <ul class="mt-4 mb-4 font-medium select-none">
                        {% for category in categories %}

                            {% if expanded(category.id, current_url) %}
                            {% set expandedClass = 'expanded' %}
                            {% else %}
                            {% set expandedClass = '' %}
                            {% endif %}

                            {% if category.active %}
                            <li class="menu-item text-sm select-none {{expandedClass}}" data-id="{{category.id}}">
                                <a id="c-{{category.id}}" data-id="{{category.id}}" class="block p-2 px-4 mb-1 text-sm rounded-md cursor-pointer select-none main-category bg-red-of-bg hover:bg-red-of hover:text-white">
                                {% if category.icon %}
                                {{ icons[category.icon]('inline-block relative w-7 opacity-70 mr-1') }}
                                {% endif %}
                                {{ category.name }}
                                </a>
                                <div class="mt-2 mb-2 submenu">
                                    {% for subcategory in category.subcategory %}

                                        {% set catUrl = categoryUrl(category.id, subcategory.id, current_url) %}
                                        {% set isCurrentCategory = currentCategory(subcategory.id, current_url) %}

                                        {% if subcategory.active %}
                                            {% if isCurrentCategory %}
                                            <span id="s-{{subcategory.id}}" class="inline-block p-1 px-2 mb-1 text-white bg-gray-600 rounded-sm cursor-not-allowed select-none">{{subcategory.name}}</span>
                                            {% else %}
                                            <a href="{{catUrl}}" id="s-{{subcategory.id}}" class="inline-block p-1 px-2 mb-1 rounded-sm cursor-pointer select-none category bg-red-of-bg-2 hover:bg-green-of-button hover:text-white" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">{{subcategory.name}}</a>
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endfor %}

                                    {% set catUrl = mainCategoryUrl(category.id, current_url, localCategories) %}
                                    {% set isCurrentMainCategory = currentMainCategory(category.id, current_url) %}
                                    {% if isCurrentMainCategory %}
                                    <span id="s-{{category.id}}" class="inline-block p-1 px-2 mt-3 mb-1 text-white bg-gray-600 rounded-sm cursor-not-allowed select-none">Všetko z kategórie {{category.name | lower}}</span>
                                    {% else %}
                                    <a href="{{catUrl}}" id="s-{{category.id}}" class="inline-block p-1 px-2 mt-3 mb-1 rounded-sm cursor-pointer select-none category bg-red-of-bg-2 hover:bg-green-of-button hover:text-white" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">Všetko z kategórie {{category.name | lower}}</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <ul class="mt-4 mb-4 font-medium">

                        {% for region in countryRegions %}

                        {% set regUrl = regionUrl(region.region_id, current_url) %}
                        {% set isCurrentRegion = currentRegion(region.region_id, current_url) %}

                        <li class="mb-1 text-sm rounded-md select-none bg-greygreen-of-bg">

                            {% if isCurrentRegion %}
                            <span id="r-{{region.region_id}}" class="block p-2 px-4 text-white bg-gray-600 rounded-md cursor-not-allowed select-none ">
                            {{ regions[region.icon]('inline-block mr-2', '30px', root) }}
                            {{region.name}}
                            </span>
                            {% else %}
                            <a class="block p-2 px-4 rounded-md region-item hover:bg-green-of-button hover:text-white" href="{{regUrl}}" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">
                            {{ regions[region.icon]('inline-block mr-2', '30px', root) }}
                            {{ region.name }}
                            </a>
                            {% endif %}
                            
                        </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-9 lg:ml-5">

            <div class="relative">
                <script>
                    var farms = [];
                    {% for farm in farms_all %}

                        {% set name = farm.ge_name %}
                        {% if farm.ge_company_name %}
                        {% set name = farm.ge_company_name %}
                        {% endif %}

                        {% set img = farm.ge_profile_img %}
                        {% set gps = "" %}
                        {% if farm.ge_gps_lat and farm.ge_gps_lng %}
                        {% set gps = farm.ge_gps_lat + "," +  farm.ge_gps_lng %}
                        {% endif %}

                        {% if gps != '' and gps.length > 1 %}
                        farms.push({name:'{{name}}', gps: '{{gps}}', img: '{{img}}', img_src: '{{root}}/assets/assets_web/thumb_small/{{img}}', url: '{{root}}/home/profil/{{farm.id}}/{{farm.slug}}'});
                        {% endif %}
                        
                    {% endfor %}
                </script>
                <div id='map' style='height: 440px;' class="mb-8 bg-gray-100 rounded-md"></div>

                {% if selectedCategories.length or selectedRegions.length or selectedMainCategories.length %}
                <div class="absolute w-full m-4 mb-6 bottom-3" style="width: calc(100% - 30px);">
                    
                    <div class="mb-6">
                        <div class="w-full p-1 pb-0 bg-white border border-gray-300 rounded-md categories-stack">
                            {% for cat in selectedCategories %}

                                {% set catRemoveUrl = removeCategoryUrl(cat.id, current_url) %}         

                                <div class="inline-block p-1 px-2 mb-1 text-sm text-white bg-gray-400 rounded-sm">
                                    {{ cat.name }}
                                    <div class="inline-block cursor-pointer hover:text-red-600">
                                    <a class="remove-category" href="{{catRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                                    </div>
                                </div>
                                
                            {% endfor %}

                            {% for mainCat in selectedMainCategories %}

                                {% set catRemoveUrl = removeMainCategoryUrl(mainCat.id, current_url) %}         

                                <div class="inline-block p-1 px-2 mb-1 text-sm text-white bg-gray-400 rounded-sm">
                                    {{ mainCat.name }}
                                    <div class="inline-block cursor-pointer hover:text-red-600">
                                    <a class="remove-category" href="{{catRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                                    </div>
                                </div>
                                
                            {% endfor %}

                            {% for reg in selectedRegions %}

                                {% set regRemoveUrl = removeRegionUrl(reg.id, current_url) %}

                                <div class="inline-block p-1 px-2 mb-1 text-sm rounded-sm bg-greygreen-of-bg">
                                    {{ reg.name }} kraj
                                    <div class="inline-block cursor-pointer hover:text-red-600">
                                    <a class="remove-region" href="{{regRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                                    </div>
                                </div>
                                
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                </div>
                {% endif %}
            </div>
            
            <div>
                
                <div class="grid grid-cols-2 gap-7 items">

                    {% for item in farms %}

                    {% set favorite = favoriteProduct(favoriteFarmers, item.id) %}

                    <div class="mb-5 item">
                        <a href="{{root}}/home/profil/{{item.id}}/{{item.ge_slug}}" up-target=".content" up-follow up-instant>
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">

                            {% if item.ge_thumbnail %}
                            <div class="w-full h-40 bg-center bg-cover sm:h-60 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.ge_thumbnail}});"></div>
                            {% else %}
                            <div class="w-full bg-70% bg-no-repeat bg-center bg-greygreen-light-of-bg thumb-image h-40 sm:h-60" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                            {% endif %}

                            {% if(favorite) %}
                                <div class="absolute z-10 px-2 py-1 h-8 rounded-b-lg top-0 right-1.5 bg-red-of">
                                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                                </div>
                            {% endif %}

                            {% if item.ge_profile_img %}
                            <div class="absolute w-16 h-16 bg-center bg-cover border border-white rounded-full bottom-3 left-3 bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.ge_profile_img}});"></div>
                            {% endif %}
                            
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">{{item.ge_company_name}}</div>
                        {% if(item.ge_name) %}
                        <div class="mt-1 text-xs text-gray-500">{{item.ge_name}}</div>
                        {% endif %}

                        <div class="mt-1">
                        {% if item.ge_region == 1 %}
                        {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 2 %}
                        {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 3 %}
                        {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 4 %}
                        {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 5 %}
                        {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 6 %}
                        {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 7 %}
                        {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 8 %}
                        {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 9 or item.ge_region == 0 %}
                        {{ regions.sk('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        </div>

                        <div class="mt-1">
                        {% if rating(item.ge_rating) == 0 %}
                        {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 0.5 %}
                        {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 1 %}
                        {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 1.5 %}
                        {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 2 %}
                        {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 2.5 %}
                        {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.rating_avg) == 3 %}
                        {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 3.5 %}
                        {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 4 %}
                        {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 4.5 %}
                        {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 5 %}
                        {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                    
                </div>

                <div class="mt-12">
                {% include "elements/content/list/pagination.njk" %}
                </div>

            </div>
        </div>
    </div>

    <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-20">

        <div class="grid grid-cols-10 sm:gap-10">

                <div class="col-span-10 lg:col-span-7">
                    <div class="grid grid-cols-1 border border-gray-300 rounded-md lg:grid-cols-2">
                        {% if randomFarm.profile_img_filename %}
                        <div class="w-full h-48 bg-center bg-cover bg-greygreen-light-of-bg rounded-l-md sm:h-auto" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{randomFarm.profile_img_filename}});">
                        {% else %}
                        <div class="bg-70% bg-no-repeat bg-center bg-greygreen-light-of-bg rounded-l-md w-full h-48 sm:h-auto" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);">
                        {% endif %}
                        </div>
                        <div class="p-10">
                            {% if randomFarm.company_name %}
                            {% set name = randomFarm.company_name %}
                            {% else %}
                            {% set name = randomFarm.name %}
                            {% endif %}
                            <h3 class="mb-4 text-xl font-medium leading-6 text-red-of">{{name}}</h3>

                            <div class="mb-4 text-sm">
                                {{randomFarm.short_description}}
                            </div>

                            <div class="py-3 mb-4 border-t border-b border-gray-300">
                                {% if randomFarm.city %}
                                <div class="text-lg font-semibold text-black">{{randomFarm.city}}</div>
                                {% endif %}
                                
                                <div>
                                    <div class="inline-block align-text-top">
                                    {% if randomFarm.region_id == 1 %}
                                    {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 2 %}
                                    {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 3 %}
                                    {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 4 %}
                                    {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 5 %}
                                    {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 6 %}
                                    {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 7 %}
                                    {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 8 %}
                                    {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if randomFarm.region_id == 9 or randomFarm.region_id == 0 %}
                                    {{ regions.sk('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    </div>

                                    <span class="inline-block text-sm">
                                    {% if randomFarm.region_id == 1 %}
                                    Banskobystrický kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 2 %}
                                    Bratislavský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 3 %}
                                    Košický kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 4 %}
                                    Nitrianský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 5 %}
                                    Prešovský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 6 %}
                                    Trenčianský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 7 %}
                                    Trnavský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 8 %}
                                    Žilinský kraj
                                    {% endif %}
                                    {% if randomFarm.region_id == 9 or randomFarm.region_id == 0 %}
                                    Slovenská republika
                                    {% endif %}
                                    </span>
                                </div>
                            </div>

                            <div class="mt-1 text-sm">
                            Hodnotenie
                            </div>
                             <div>
                            {% if rating(randomFarm.rating_avg) == 0 %}
                            {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 0.5 %}
                            {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 1 %}
                            {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 1.5 %}
                            {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 2 %}
                            {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 2.5 %}
                            {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 3 %}
                            {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 3.5 %}
                            {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 4 %}
                            {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 4.5 %}
                            {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(randomFarm.rating_avg) == 5 %}
                            {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            </div>

                            <div class='flex mt-4'>
                                <a href="{{root}}/home/profil/{{randomFarm.id}}/{{randomFarm.slug}}" up-follow up-instant class="inline-block px-4 py-1 mr-1 text-sm text-white uppercase bg-gray-400 rounded-full cursor-pointer">Profil farmára</a>
                                <div class="flex-grow"></div>
                                {# <div class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                                    {{ icons.heart_outline('inline-block text-gray-400 fill-current relative -top-0.5 w-4 h-4') }}
                                    Uložiť
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-span-10 lg:col-span-3 favorite-farmers">
                    {% if favoriteFarmers.length %}
                    <div class='pb-3 mb-1 text-lg font-medium border-b border-gray-300 text-red-of'>Sledované farmy</div>
                    <ul class="mb-5">
                        {% for farmer in favoriteFarmersItems %}
                        <li class="relative py-1 text-lg font-semibold border-b border-gray-300 cursor-pointer">
                        <a href="{{root}}/home/profil/{{farmer.id}}/{{farmer.slug}}" up-follow up-instant>   
                        {% if farmer.company_name %}
                        {% set name = farmer.company_name %}
                        {% else %}
                        {% set name = farmer.name %}
                        {% endif %}
                        {{name}}

                        <div class="mt-1 mb-1 align-text-top">
                        {% if farmer.region_id == 1 %}
                        {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 2 %}
                        {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 3 %}
                        {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 4 %}
                        {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 5 %}
                        {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 6 %}
                        {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 7 %}
                        {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 8 %}
                        {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 9 or farmer.region_id == 0 %}
                        {{ regions.sk('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        </div>

                         <div class="mb-1">
                        {% if rating(farmer.rating_avg) == 0 %}
                        {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 0.5 %}
                        {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 1 %}
                        {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 1.5 %}
                        {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 2 %}
                        {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 2.5 %}
                        {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 3 %}
                        {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 3.5 %}
                        {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 4 %}
                        {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 4.5 %}
                        {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 5 %}
                        {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        </div>

                        {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-10') }}

                        </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {# <div class="relative p-5 font-semibold border-2 border-red-200 rounded-md cursor-pointer marker-anim">
                        Farmy blízko teba

                        <div class="absolute flex items-center justify-center inline-block w-10 h-10 overflow-hidden rounded-full bg-red-of top-3 right-4">
                            {{ icons.map_marker_outline('marker inline-block text-white fill-current w-5 h-5') }}
                        </div>
                    </div> #}
                </div>

            </div>  
        
    </div>
    
    
    {# <div class="grid items-center max-w-screen-xl grid-cols-8 mx-auto my-10 overflow-hidden rounded-md h-80 bg-green-of-app-bg">
        <div class="col-span-5 pb-8 p-14">
            <h3 class="text-3xl font-semibold">Stiahni si aplikáciu</h3>
            <div class="mt-4 mb-8 text">
                Či už ste zákazník, alebo farmár môžete naplno využívať mobilnú aplikáciu. Pozrite si a vyskúšajte si jedinečné funkcie, ktoré sa stanú vašim každodenným pomocníkom či už predávate, alebo nakupujete.
            </div>

            <div class="grid grid-cols-3 gap-1 mb-6">
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.apple('inline-block mr-2 relative -top-2 text-white fill-current') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold">Apple Store</span>
                    </div>
                </div>
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.google_play('inline-block mr-2 text-white fill-current relative -top-1.5') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold"> Google Play</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative h-full col-span-3 overflow-hidden">
            <img src="{{ root }}/assets/img/iphone_1.png" class="absolute z-20 top-5 right-56" />
            <img src="{{ root }}/assets/img/iphone_2.png" class="absolute z-10 top-9 right-20" />
        </div>
    </div> #}

</div>

{% endblock %}