{% extends "layouts/farmers.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="overflow-hidden bg-white">
    <div class="pt-6">

        <div class="grid max-w-screen-xl grid-cols-1 mx-auto lg:grid-cols-2 gap-14">
            <div class="px-6 lg:pl-6 lg:pr-0">
                <div class="mb-6 rounded-md">
                    {% if item.intro_image %}
                    <div class="w-full bg-cover rounded-md h-60 md:h-product_image bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.intro_image}});"></div>
                    {% elif item.profile_image %}
                    <div class="w-full bg-cover rounded-md h-60 md:h-product_image bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.profile_image}});"></div>
                    {% else %}
                    <div class="w-full bg-cover rounded-md h-60 md:h-product_image bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.profile_img_filename}});"></div>
                    {% endif %}
                </div>
                
                <div class="grid grid-cols-2 gap-4">

                    <input type="hidden" name="farmer-id-value" id="farmer-id-value" value="{{item.id}}" />

                    {% include "elements/content/farmer/favorite.njk" %}
                    
                    <div class="text-right place-items-center">
                        <div class="inline-block ">
                            <div class="hidden mr-1 text-sm align-middle sm:inline-block">Zdieľať</div>
                            <div class="inline-block align-middle">
                                <div data-sharer="facebook" data-title="{{item.company_name}}" data-hashtags="odfarmara.sk" data-url="{{root}}/farma/{{item.id}}" class="flex items-center justify-center w-10 h-10 mr-1 border border-gray-300 rounded-full cursor-pointer">
                                    {{ icons.facebook('inline-block text-red-of fill-current w-5 h-5') }}
                                </div>
                            </div>
                            <div data-sharer="twitter" data-title="{{item.company_name}}" data-hashtags="odfarmara.sk" data-url="{{root}}/farma/{{item.id}}" class="inline-block align-middle">
                                <div class="flex items-center justify-center w-10 h-10 border border-gray-300 rounded-full cursor-pointer">
                                    {{ icons.twitter('inline-block text-red-of fill-current w-5 h-5') }}
                                </div>
                            </div>
                            <div data-sharer="reddit" data-url="{{root}}/farma/{{item.id}}" class="inline-block align-middle">
                                <div class="flex items-center justify-center w-10 h-10 border border-gray-300 rounded-full cursor-pointer">
                                    {{ icons.reddit('inline-block text-red-of fill-current w-4 h-4') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if item.additional_information.collection_person or item.additional_information.collection_courier or item.additional_information.collection_regular_delivery %}
                <div class="p-3 mt-5 text-sm rounded-md bg-greygreen-light-of-bg">
                    Možnosti odberu
                    {% if item.additional_information.collection_person %}
                    <span class="ml-2 font-semibold">Osobne</span>
                    {% endif %}
                    {% if item.additional_information.collection_courier %}
                    <span class="ml-2 font-semibold">Kuriér</span>
                    {% endif %}
                    {% if item.additional_information.collection_regular_delivery %}
                    <span class="ml-2 font-semibold">Pravidelný rozvoz</span>
                    {% endif %}
                </div>
                {% endif %}
                
                {% if item.additional_information.payment_card or item.additional_information.payment_cash or item.additional_information.payment_courier or item.additional_information.payment_crypto %}
                <div class="p-3 mt-1 text-sm rounded-md bg-greygreen-light-of-bg">
                    Platobné podmienky
                    {% if item.additional_information.payment_card %}
                    <span class="ml-2 font-semibold">Platba kartou</span>
                    {% endif %}
                    {% if item.additional_information.payment_cash %}
                    <span class="ml-2 font-semibold">Hotovosť</span>
                    {% endif %}
                    {% if item.additional_information.payment_courier %}
                    <span class="ml-2 font-semibold">Platba u kuriéra</span>
                    {% endif %}
                    {% if item.additional_information.payment_crypto %}
                    <span class="ml-2 font-semibold">Platba s crypto (BTC, ETH)</span>
                    {% endif %}
                </div>
                {% endif %}

                {% if item.additional_information.eco_friendly or item.additional_information.bio or item.additional_information.zero_waste %}
                    <div class="mt-3 text-sm">
                        {% if(item.additional_information.eco_friendly) %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Eko-friendly</div>
                        {% endif %}
                        {% if(item.additional_information.bio) %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Bio výroba</div>
                        {% endif %}
                        {% if(item.additional_information.zero_waste) %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Bezobalový predaj</div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if item.additional_information.services_kitchen or item.additional_information.services_sale or item.additional_information.services_selfpicking or item.additional_information.services_stay %}
                <div class="py-3 font-semibold">
                    Ďalej ponúkame
                </div>

                <div class="mt-2">
                    {% if item.additional_information.services_kitchen %}
                    <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Kuchyňa</div>
                    {% endif %}
                    {% if item.additional_information.services_sale %}
                    <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Predaj z dvora</div>
                    {% endif %}
                    {% if item.additional_information.services_selfpicking %}
                    <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Samozber</div>
                    {% endif %}
                    {% if item.additional_information.services_stay %}
                    <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Zážitkový pobyt</div>
                    {% endif %}
                </div>
                {% endif %}

            </div>

            <div class="px-6 lg:pr-6 lg:pl-0">
                
                <div class="grid grid-cols-12 mt-1 mb-6">

                    <div class="col-span-12 text-center lg:col-span-3 sm:text-right">
                        {% if item.profile_img_filename or item.profile_image %}
                        <div class="inline-block align-middle sm:mr-3">
                            {% if item.profile_img_filename %}
                            <div class="w-32 h-32 bg-cover border border-gray-300 rounded-full bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.profile_img_filename}});"></div>
                            {% else %}
                            <div class="w-32 h-32 bg-cover border border-gray-300 rounded-full bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.profile_image}});"></div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-span-12 text-center lg:col-span-9 sm:text-right">
                        <h1 class="text-3xl font-medium leading-9">{{item.company_name}}</h1>
                        <div class="mt-4">
                            <div class="inline-block align-text-top">
                                {% if item.region_id == 1 %}
                                {{ regions.banskobystricky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 2 %}
                                {{ regions.bratislavsky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 3 %}
                                {{ regions.kosicky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 4 %}
                                {{ regions.nitriansky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 5 %}
                                {{ regions.presovsky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 6 %}
                                {{ regions.trenciansky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 7 %}
                                {{ regions.trnavsky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 8 %}
                                {{ regions.zilinsky_kraj('inline-block mr-2', '100px', root) }}
                                {% endif %}
                                {% if item.region_id == 9 or item.region_id == 0 %}
                                {{ regions.sk('inline-block mr-2', '100px', root) }}
                                {% endif %}
                            </div>
                            <div class="inline-block align-text-top sm:ml-5">
                                {% if user %}
                                <span class="text-lg font-semibold">{{ item.street }} {{ item.houseno }}, {{item.zip}} {{item.city}}</span>
                                {% endif %}
                                <span class="block text-sm">
                                {% if item.region_id == 1 %}
                                Banskobystrický kraj
                                {% endif %}
                                {% if item.region_id == 2 %}
                                Bratislavský kraj
                                {% endif %}
                                {% if item.region_id == 3 %}
                                Košický kraj
                                {% endif %}
                                {% if item.region_id == 4 %}
                                Nitrianský kraj
                                {% endif %}
                                {% if item.region_id == 5 %}
                                Prešovský kraj
                                {% endif %}
                                {% if item.region_id == 6 %}
                                Trenčianský kraj
                                {% endif %}
                                {% if item.region_id == 7 %}
                                Trnavský kraj
                                {% endif %}
                                {% if item.region_id == 8 %}
                                Žilinský kraj
                                {% endif %}
                                {% if item.region_id == 9 or item.region_id == 0 %}
                                Slovenská republika
                                {% endif %}
                                </span>
                                {# <div class="mt-3">
                                    {% if rating(item.rating_avg) == 0 or item.rating_avg == null %}
                                    {{ icons.rating_0('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 0.5 %}
                                    {{ icons.rating_0_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 1 %}
                                    {{ icons.rating_1('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 1.5 %}
                                    {{ icons.rating_1_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 2 %}
                                    {{ icons.rating_2('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 2.5 %}
                                    {{ icons.rating_2_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 3 %}
                                    {{ icons.rating_3('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 3.5 %}
                                    {{ icons.rating_3_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 4 %}
                                    {{ icons.rating_4('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 4.5 %}
                                    {{ icons.rating_4_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                    {% if rating(item.rating_avg) == 5 %}
                                    {{ icons.rating_5('inline-block text-red-of fill-current h-5') }}
                                    {% endif %}
                                </div> #}

                                <div id="farmer_wrapper">
                                {% if user and user.privilegs === 'customer' %}
                                    {% if user_rated %}
                                    <div id="rating" class="mt-3" data-average="{{rating(item.rating_avg)}}" data-readonly="1" data-id="{{item.id}}"></div>
                                    <div class="mt-2 text-xs">Ďakujeme za váš hlas.<br/>Tohto farmára ste ohodnotili {{user_rating}} z 5 hviezd.</div>
                                    {% else %}
                                    <div id="rating" class="mt-3" data-average="{{rating(item.rating_avg)}}" data-readonly="0" data-id="{{item.id}}"></div>
                                    {% endif %}
                                {% else %}
                                <div id="rating" class="mt-3" data-average="{{rating(item.rating_avg)}}" data-readonly="1" data-id="{{item.id}}"></div>
                                {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                {% if item.short_description %}
                <div class="mt-10">{{item.short_description}}</div>
                {% endif %}

                {% if productCategories and productCategories.length %}
                <div class="mt-5 mb-5 text-xl font-semibold">Ponúkame</div>
                <div class="mb-8">
                    {% for category in productCategories %}
                    <a up-follow up-instant class="inline-block px-3 py-2 mb-2 mr-1 text-sm border rounded border-red-of" href="{{root}}/produkty?c={{category.id}}">{{category.name}}</a>
                    {% endfor %}
                </div>
                {% endif %}

                <div id="farm-tab" class="mt-5">
                    <div class="inline-block py-2 mr-5 text-lg font-medium border-b-2 border-gray-300 cursor-pointer select-none text-red-of" id="tab-btn-profile">
                        {{ icons.account('inline-block text-red-of fill-current h-5 relative -top-0.5') }}
                        Profil
                    </div>
                     {% if user %}
                    <div class="inline-block py-2 mr-5 text-lg font-medium cursor-pointer select-none" id="tab-btn-address">
                        {{ icons.map_marker_outline('inline-block text-black fill-current h-5 relative -top-0.5') }}
                        Adresa
                    </div>
                    {% endif %}
                    <div class="inline-block py-2 mr-5 text-lg font-medium cursor-pointer select-none" id="tab-btn-open">
                        {{ icons.clock('inline-block text-black fill-current h-5 relative -top-0.5') }}
                        Otvorené
                    </div>
                    {% if user %}
                    <div class="inline-block py-2 text-lg font-medium cursor-pointer select-none" id="tab-btn-message">
                        {{ icons.mail('inline-block text-black fill-current h-5 relative -top-0.5') }}
                        Pošli správu
                    </div>
                    {% endif %}
                </div>
                
                <div class="py-5 text-sm border-t border-gray-300" id="tab-profile">

                    <div class="mb-5 text-xl font-semibold">O nás</div>
                    
                    {{ item.long_description | safe }}

                    {% if item.awards and item.awards.length > 0 %}
                    <div class="mb-5 mt-7">

                        <div class="mb-5 text-xl font-semibold">Ocenenia</div>
                        
                        {% for award in item.awards %}
                        <div class="h-32 bg-cover border border-gray-300 rounded-md w-28 bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{award.filename}});"></div>
                        {% endfor %}

                    </div>
                    {% endif %}
                
                    {% if item.website %}
                    <div class="mt-7">
                        <a href="{{item.website}}">
                        <div class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                            Naša webstránka
                        </div>
                        </a>
                    </div>
                    {% endif %}
                
                </div>

                {% if user %}
                <div class="hidden py-5 text-sm border-t border-gray-300" id="tab-address">

                    <div class="mb-5 text-xl font-semibold">Kde nás nájdete</div>

                    {% if item.phone %}
                    <div class="px-4 py-3 mb-2 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Telefón</span> <span class="font-semibold">{{ item.phone }}</span>
                    </div>
                    {% endif %}

                    {% if item.email %}
                    <div class="px-4 py-3 mb-5 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Email</span> <span class="font-semibold">{{ item.email }}</span>
                    </div>
                    {% endif %}

                    <span class="font-semibold">{{ item.company_name }}</span><br/>
                    {{ item.street }} {{ item.houseno }}<br/>
                    {{ item.zip }} {{ item.city }}

                    {% if gps %}
                    <div class="mt-5 rounded-lg map map-farmer" style="height: 400px;" id="map-farmer" data-gps-lat="{{gps_lat}}" data-gps-lng="{{gps_lng}}"></div>
                    {% endif %}
                </div>
                {% endif %}

                <div class="hidden py-5 text-sm border-t border-gray-300" id="tab-open">

                    <div class="mb-5 text-xl font-semibold">Otváracie hodiny</div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Pondelok</span> <span class="font-semibold">{{opening_hours.day_1}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Utorok</span> <span class="font-semibold">{{opening_hours.day_2}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Streda</span> <span class="font-semibold">{{opening_hours.day_3}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Štvrtok</span> <span class="font-semibold">{{opening_hours.day_4}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Piatok</span> <span class="font-semibold">{{opening_hours.day_5}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Sobota</span> <span class="font-semibold">{{opening_hours.day_6}}</span>
                    </div>

                    <div class="px-4 py-3 mb-1 rounded bg-greygreen-light-of-bg">
                        <span class="inline-block w-24">Nedeľa</span> <span class="font-semibold">{{opening_hours.day_7}}</span>
                    </div>
                </div>

                {% if user %}
                <div class="hidden py-5 text-sm border-t border-gray-300" id="tab-message">

                    <div class="mb-5 text-xl font-semibold">Napíš farmárovi</div>

                    {% include "elements/content/form/farmer_contact.njk" %}
                </div>
                {% endif %}

            </div>

        </div>


        {% if products and products.length %}
        
        <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">

            <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                <div class="inline-block">
                    <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                        {{ icons.star('inline-block text-white fill-current w-5 h-5') }}
                    </div>
                </div>
                
                Ponuka
            </h2>

            <div class="grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 gap-7 items">
                
                {% for product in products %}

                    <div class="mb-5 item">
                        <a href="{{root}}/home/ponuka/{{product.old_id}}/{{product.slug}}" up-follow up-instant>
                            <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                {% if product.image[0] and product.image[0].filename %}
                                <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{product.image[0].filename}});"></div>
                                {% endif %}
                            </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black truncate title">{{ product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{product.price | price}}</span> za 
                        {{product.unit}}
                        {% if product.price_for.trim() === 'gramy' %}
                        g.
                        {% elif product.price_for.trim() === 'kilogramy' %}
                        kg.
                        {% elif product.price_for.trim() === 'liters' %}
                        l.
                        {% elif product.price_for.trim() === 'kusy' %}
                        ks.
                        {% elif product.price_for.trim() === 'balenie' %}
                        bal.
                        {% else %}
                        {{product.price_for}}.
                        {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{product.farmer.company_name}}</div>
                        {% if product.quantity %}
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{product.quantity}} 
                        {% if product.price_for === 'gramy' %}
                        g.
                        {% elif product.price_for === 'kilogramy' %}
                        kg.
                        {% elif product.price_for === 'liters' %}
                        l.
                        {% elif product.price_for === 'kusy' %}
                        ks.
                        {% elif product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{product.price_for}}.
                        {% endif %}
                        </span></div>
                        {% endif %}
                    </div>

                {% endfor %}

            </div>

        </div>

        {% endif %}

        {# <div class="grid items-center max-w-screen-xl px-6 pt-6 pb-8 mx-auto">

            <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                <div class="inline-block">
                    <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                        {{ icons.farm('inline-block text-white fill-current w-5 h-5') }}
                    </div>
                </div>
                
                Farmy v regióne
            </h2>
            
            <div class="grid grid-cols-10 gap-10">

                <div class="col-span-7">
                    <div class="grid grid-cols-2 border border-gray-300 rounded-md">
                         {% if regionFarm.profile_img_filename %}
                        <div class="bg-center bg-cover bg-greygreen-light-of-bg rounded-l-md" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{regionFarm.profile_img_filename}});">
                        {% else %}
                        <div class="bg-70% bg-no-repeat bg-center bg-greygreen-light-of-bg rounded-l-md" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);">
                        {% endif %}
                        </div>
                        <div class="p-10">
                            {% if regionFarm.company_name %}
                            {% set name = regionFarm.company_name %}
                            {% else %}
                            {% set name = regionFarm.name %}
                            {% endif %}
                            <h3 class="mb-4 text-xl font-medium leading-6 text-red-of">{{name}}</h3>

                            <div class="mb-4 text-sm">
                                {{regionFarm.short_description}}
                            </div>

                            <div class="py-3 mb-4 border-t border-b border-gray-300">
                                {% if regionFarm.city %}
                                <div class="text-lg font-semibold text-black">{{regionFarm.city}}</div>
                                {% endif %}
                                
                                <div>
                                    <div class="inline-block align-text-top">
                                    {% if regionFarm.region_id == 1 %}
                                    {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 2 %}
                                    {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 3 %}
                                    {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 4 %}
                                    {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 5 %}
                                    {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 6 %}
                                    {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 7 %}
                                    {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 8 %}
                                    {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    {% if regionFarm.region_id == 9 or regionFarm.region_id == 0 %}
                                    {{ regions.sk('inline-block mr-2', '50px', root) }}
                                    {% endif %}
                                    </div>

                                    <span class="inline-block text-sm">
                                    {% if regionFarm.region_id == 1 %}
                                    Banskobystrický kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 2 %}
                                    Bratislavský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 3 %}
                                    Košický kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 4 %}
                                    Nitrianský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 5 %}
                                    Prešovský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 6 %}
                                    Trenčianský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 7 %}
                                    Trnavský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 8 %}
                                    Žilinský kraj
                                    {% endif %}
                                    {% if regionFarm.region_id == 9 or regionFarm.region_id == 0 %}
                                    Slovenská republika
                                    {% endif %}
                                    </span>
                                </div>
                            </div>

                            <div class="mt-1 text-sm">
                            Hodnotenie
                            </div>
                             <div>
                            {% if rating(regionFarm.rating_avg) == 0 %}
                            {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 0.5 %}
                            {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 1 %}
                            {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 1.5 %}
                            {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 2 %}
                            {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 2.5 %}
                            {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 3 %}
                            {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 3.5 %}
                            {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 4 %}
                            {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 4.5 %}
                            {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            {% if rating(regionFarm.rating_avg) == 5 %}
                            {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                            {% endif %}
                            </div>

                            <div class='flex mt-4'>
                                <a href="{{root}}/farma/{{regionFarm.id}}" up-follow up-instant class="inline-block px-4 py-1 mr-1 text-sm text-white uppercase bg-gray-400 rounded-full cursor-pointer">Profil farmára</a>
                                <div class="flex-grow"></div>
                                <div class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                                    {{ icons.heart_outline('inline-block text-gray-400 fill-current relative -top-0.5 w-4 h-4') }}
                                    Uložiť
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-span-3 favorite-farmers">
                    {% if favoriteFarmers and favoriteFarmers.length %}
                    <div class='pb-3 mb-1 text-lg font-medium border-b border-gray-300 text-red-of'>Sledované farmy</div>
                    <ul class="mb-5">
                        {% for farmer in favoriteFarmers %}
                        <li class="relative py-1 text-lg font-semibold border-b border-gray-300 cursor-pointer">
                        <a href="{{root}}/farma/{{farmer.id}}" up-follow up-instant>   
                        {% if farmer.company_name %}
                        {% set name = farmer.company_name %}
                        {% else %}
                        {% set name = farmer.name %}
                        {% endif %}
                        {{name}}

                        <div class="mt-1 mb-1 align-text-top">
                        {% if farmer.region_id == 1 %}
                        {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 2 %}
                        {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 3 %}
                        {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 4 %}
                        {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 5 %}
                        {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 6 %}
                        {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 7 %}
                        {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 8 %}
                        {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if farmer.region_id == 9 or farmer.region_id == 0 %}
                        {{ regions.sk('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        </div>

                         <div class="mb-1">
                        {% if rating(farmer.rating_avg) == 0 %}
                        {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 0.5 %}
                        {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 1 %}
                        {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 1.5 %}
                        {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 2 %}
                        {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 2.5 %}
                        {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 3 %}
                        {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 3.5 %}
                        {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 4 %}
                        {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 4.5 %}
                        {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(farmer.rating_avg) == 5 %}
                        {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        </div>

                        {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-10') }}

                        </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div class="relative p-5 font-semibold border-2 border-red-200 rounded-md cursor-pointer marker-anim">
                        Farmy blízko teba

                        <div class="absolute flex items-center justify-center inline-block w-10 h-10 overflow-hidden rounded-full bg-red-of top-3 right-4">
                            {{ icons.map_marker_outline('marker inline-block text-white fill-current w-5 h-5') }}
                        </div>
                    </div>
                </div>

            </div>

        </div> 
        #}
        
    </div>
</div>

<style>
    .swiper-button-next, .swiper-button-prev{
        color: #FFF !important;
    }
</style>

{% endblock %}