{% extends "layouts/main.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

    <div class="overflow-hidden bg-white">
        <div class="pt-6">

            {% if tags.length %}
            <div class="grid px-6 tags place-items-center">
                <ul>
                    {% for tag in tags %}
                    <li class="inline-block mb-2">
                        <a href="{{root}}/tag/{{tag.slug}}" up-follow up-instant class="inline-block px-6 py-3 mr-1 text-sm text-gray-600 rounded-full cursor-pointer bg-greygreen-of-bg">{{tag.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {# <div class="flex justify-center mt-10">
                <!-- Revive Adserver Hosted edition Asynchronous JS Tag - Generated with Revive Adserver v5.4.1 -->
                <ins data-revive-zoneid="13550" data-revive-id="727bec5e09208690b050ccfc6a45d384"></ins>
                <script async src="//servedby.revive-adserver.net/asyncjs.php"></script>
            </div> #}

            <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">
                
            {% include "elements/content/list/seasonal_offer.njk" %}

            </div>{# //main grid #}
        </div>
    </div>

    <div class="bg-red-of-bg">

        <div class="grid items-center max-w-screen-xl px-6 pt-6 pb-8 mx-auto mt-10">

            <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                <div class="inline-block">
                    <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                        {{ icons.new_product('inline-block text-white fill-current w-5 h-5') }}
                    </div>
                </div>
                Najnovšie pridané
            </h2>

            <div class="grid grid-cols-2 gap-5 md:grid-cols-3 items lg:grid-cols-5">

                {% for new_product in new_products %}

                {% set favorite = favoriteProduct(favoriteProducts, new_product.old_id) %}
                {% set old = old_date(new_product.end_date) %}

                <div class="mb-5 item">
                    {% if new_product.external %}
                    <a href="{{new_product.external_url}}" target="_blank">
                    {% else %}
                    <a href="{{root}}/home/ponuka/{{new_product.old_id}}/{{new_product.slug}}" up-target=".content" up-follow up-instant >
                    {% endif %}
                    
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="absolute z-10 px-2 py-1 text-xs uppercase bg-white rounded top-1.5 left-1.5 text-red-of">{{ new_product.created | before_humanize }}</div>
                            {% if new_product.image[0] and new_product.image[0].filename %}
                            <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{new_product.image[0].filename}});"></div>
                            {% else %}
                            <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                            {% endif %}

                            {% if(favorite) %}
                            <div class="absolute top-0 z-10 h-8 px-2 py-1 rounded-b-lg right-2 bg-red-of">
                                {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                            </div>
                            {% endif %}

                            {% if old or new_product.quantity === 0 or new_product.flags.length %}
                            <div class="absolute z-10 bottom-2 left-2">
                            {% if old or new_product.quantity === 0 %}
                            <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                                Vypredané
                            </div>
                            {% endif %}
                            {% if new_product.flags.length %}
                            {% for flag in new_product.flags %}
                                {% if flag.ge_active %}
                                <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                    {{flag.ge_name}}
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="mt-2 text-lg font-semibold text-black truncate title">{{ new_product.title }}</div>
                    <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{ new_product.price | price }}</span> za 
                        {{new_product.unit}}
                        {% if new_product.price_for === 'gramy' %}
                        g.
                        {% elif new_product.price_for === 'kilogramy' %}
                        kg.
                        {% elif new_product.price_for === 'liters' %}
                        l.
                        {% elif new_product.price_for === 'kusy' %}
                        ks.
                        {% elif new_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{new_product.price_for}}.
                        {% endif %}
                    </div>
                    <div class="mt-1 text-xs text-gray-500">{{new_product.farmer.company_name}}</div>
                    <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{new_product.quantity}} 
                        {% if new_product.price_for === 'gramy' %}
                        g.
                        {% elif new_product.price_for === 'kilogramy' %}
                        kg.
                        {% elif new_product.price_for === 'liters' %}
                        l.
                        {% elif new_product.price_for === 'kusy' %}
                        ks.
                        {% elif new_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{new_product.price_for}}.
                        {% endif %}
                    </span></div>
                </div>
                {% endfor %}
  
            </div>
            
        </div>

    </div>{# //red wrapper #}


    <div class="grid items-center max-w-screen-xl px-6 pt-8 pb-8 mx-auto">
    
        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            Zelenina
        </h2>

        <div class="grid grid-cols-2 gap-5 md:grid-cols-3 items lg:grid-cols-7">

            {% for vegetable_product in vegetable_products %}

            {% set old = old_date(vegetable_product.end_date) %}
            
            <div class="mb-5 item">
                {% if vegetable_product.external %}
                <a class="relative block" href="{{vegetable_product.external_url}}" target="_blank">
                {% else %}
                <a class="relative block" href="{{root}}/home/ponuka/{{vegetable_product.old_id}}/{{vegetable_product.slug}}" up-target=".content" up-follow up-instant >
                {% endif %}
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                {% if vegetable_product.image[0] and vegetable_product.image[0].filename %}
                    <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{vegetable_product.image[0].filename}});"></div>
                {% else %}
                    <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                {% endif %}
                </div>

                {% if old or vegetable_product.quantity === 0 or vegetable_product.flags.length %}
                <div class="absolute z-10 bottom-2 left-2">
                {% if old or vegetable_product.quantity === 0 %}
                <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                    Vypredané
                </div>
                {% endif %}
                {% if vegetable_product.flags.length %}
                {% for flag in vegetable_product.flags %}
                    {% if flag.ge_active %}
                    <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                        {{flag.ge_name}}
                    </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                
                </div>
                {% endif %}

                </a>
                <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ vegetable_product.title }}</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{vegetable_product.price | price}}</span> za 
                    {{vegetable_product.unit}}
                    {% if vegetable_product.price_for === 'gramy' %}
                    g.
                    {% elif vegetable_product.price_for === 'kilogramy' %}
                    kg.
                    {% elif vegetable_product.price_for === 'liters' %}
                    l.
                    {% elif vegetable_product.price_for === 'kusy' %}
                    ks.
                    {% elif vegetable_product.price_for === 'balenie' %}
                    bal.
                    {% else %}
                    {{vegetable_product.price_for}}.
                    {% endif %}
                </div>
                <div class="mt-1 text-xs leading-4 text-gray-500">{{vegetable_product.farmer.company_name}}</div>
                <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{vegetable_product.quantity}} 
                    {% if vegetable_product.price_for === 'gramy' %}
                    g.
                    {% elif vegetable_product.price_for === 'kilogramy' %}
                    kg.
                    {% elif vegetable_product.price_for === 'liters' %}
                    l.
                    {% elif vegetable_product.price_for === 'kusy' %}
                    ks.
                    {% elif vegetable_product.price_for === 'balenie' %}
                    bal.
                    {% else %}
                    {{vegetable_product.price_for}}.
                    {% endif %}
                </span></div>
            </div>
            {% endfor %}
          
            <div class="col-span-2 item md:col-span-3 lg:col-span-1">
                <a href="{{root}}/produkty?mc=1&e=1" up-follow up-instant up-target=".content" >
                <div class="relative w-full p-4 border-2 border-red-200 rounded-md cursor-pointer lg:h-36 show-full-category">
                    <div class="text-lg font-semibold text-black">Zelenina</div>
                    <div class="mb-1 text-sm text-black">Zobraziť celú kategóriu</div>
                    <div class="absolute flex items-center justify-center inline-block mr-3 rounded-full lg:static right-2 top-6 w-9 h-9 bg-red-of">
                        {{ icons.arrow_right_thin('arrow-white inline-block text-white fill-current') }}
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>{# //grid #}

    <div class="bg-red-of-bg">
        <div class="grid items-center max-w-screen-xl px-6 pt-6 pb-8 mx-auto">
            
            <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                Ovocie
            </h2>

            <div class="grid grid-cols-2 gap-5 md:grid-cols-3 items lg:grid-cols-7">

                {% for fruit_product in fruit_products %}

                {% set old = old_date(fruit_product.end_date) %}
                <div class="mb-5 item">
                    {% if fruit_product.external %}
                    <a class="relative block" href="{{fruit_product.external_url}}" target="_blank">
                    {% else %}
                    <a class="relative block" href="{{root}}/home/ponuka/{{fruit_product.old_id}}/{{fruit_product.slug}}" up-target=".content" up-follow up-instant >
                    {% endif %}

                    <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    {% if fruit_product.image[0] and fruit_product.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{fruit_product.image[0].filename}});"></div>
                    {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                    {% endif %}
                    </div>

                    {% if old or fruit_product.quantity === 0 or fruit_product.flags.length %}
                    <div class="absolute z-10 bottom-2 left-2">
                    {% if old or fruit_product.quantity === 0 %}
                    <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                        Vypredané
                    </div>
                    {% endif %}
                    {% if fruit_product.flags.length %}
                    {% for flag in fruit_product.flags %}
                        {% if flag.ge_active %}
                        <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                            {{flag.ge_name}}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                    {% endif %}
                    </a>
                    <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ fruit_product.title }}</div>
                    <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{fruit_product.price | price}}</span> za 
                        {{fruit_product.unit}}
                        {% if fruit_product.price_for === 'gramy' %}
                        g.
                        {% elif fruit_product.price_for === 'kilogramy' %}
                        kg.
                        {% elif fruit_product.price_for === 'liters' %}
                        l.
                        {% elif fruit_product.price_for === 'kusy' %}
                        ks.
                        {% elif fruit_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{fruit_product.price_for}}.
                        {% endif %}
                    </div>
                    <div class="mt-1 text-xs text-gray-500">{{fruit_product.farmer.company_name}}</div>
                    <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{fruit_product.quantity}} 
                        {% if fruit_product.price_for === 'gramy' %}
                        g.
                        {% elif fruit_product.price_for === 'kilogramy' %}
                        kg.
                        {% elif fruit_product.price_for === 'liters' %}
                        l.
                        {% elif fruit_product.price_for === 'kusy' %}
                        ks.
                        {% elif fruit_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{fruit_product.price_for}}.
                        {% endif %}
                    </span></div>
                </div>
                {% endfor %}
                
                <div class="col-span-2 item md:col-span-3 lg:col-span-1">
                    <a href="{{root}}/produkty?mc=2&e=2" up-target=".content" up-follow up-instant >
                    <div class="relative w-full p-4 border-2 border-red-200 rounded-md cursor-pointer lg:h-36 show-full-category">
                        <div class="text-lg font-semibold text-black">Ovocie</div>
                        <div class="mb-1 text-sm text-black">Zobraziť celú kategóriu</div>
                        <div class="absolute flex items-center justify-center inline-block mr-3 rounded-full lg:static right-2 top-6 w-9 h-9 bg-red-of">
                            {{ icons.arrow_right_thin('arrow-white inline-block text-white fill-current') }}
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid items-center max-w-screen-xl px-6 pt-8 pb-8 mx-auto next-categories">
    
        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            Ďalšie kategórie
        </h2>

        <div class="mt-2 mb-6 font-semibold">
            <ul>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/3">Bylinky</a></li>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/190">Mliečne výrobky</a></li>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/4">Mäso</a></li>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/5">Pekáreň</a></li>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/6">Nápoje</a></li>
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="inline-block px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/7">Špajza</a></li>
            </ul>
        </div>

        <div class="grid grid-cols-2 gap-5 md:grid-cols-3 items lg:grid-cols-7">

            {% for next_product in next_products %}

            {% set old = old_date(next_product.end_date) %}

            <div class="mb-5 item">
                {% if next_product.external %}
                <a class="relative block" href="{{next_product.external_url}}" target="_blank">
                {% else %}
                <a class="relative block" href="{{root}}/home/ponuka/{{next_product.old_id}}/{{next_product.slug}}" up-target=".content" up-follow up-instant >
                {% endif %}
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                {% if next_product.image[0] and next_product.image[0].filename %}
                    <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{next_product.image[0].filename}});"></div>
                {% else %}
                    <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                {% endif %}
                </div>

                {% if old or next_product.quantity === 0 or next_product.flags.length %}
                <div class="absolute z-10 bottom-2 left-2">
                {% if old or next_product.quantity === 0 %}
                <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                    Vypredané
                </div>
                {% endif %}
                {% if next_product.flags.length %}
                {% for flag in next_product.flags %}
                    {% if flag.ge_active %}
                    <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                        {{flag.ge_name}}
                    </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </div>
                {% endif %}
                </a>
                <div class="mt-2 text-lg font-semibold leading-5 text-black title">{{ next_product.title }}</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{next_product.price | price}}</span> za 
                {{next_product.unit}}
                {% if next_product.price_for === 'gramy' %}
                g.
                {% elif next_product.price_for === 'kilogramy' %}
                kg.
                {% elif next_product.price_for === 'liters' %}
                l.
                {% elif next_product.price_for === 'kusy' %}
                ks.
                {% elif next_product.price_for === 'balenie' %}
                bal.
                {% else %}
                {{next_product.price_for}}.
                {% endif %}
                </div>
                <div class="mt-1 text-xs text-gray-500">{{next_product.farmer.company_name}}</div>
                <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{next_product.quantity}} 
                {% if next_product.price_for === 'gramy' %}
                g.
                {% elif next_product.price_for === 'kilogramy' %}
                kg.
                {% elif next_product.price_for === 'liters' %}
                l.
                {% elif next_product.price_for === 'kusy' %}
                ks.
                {% elif next_product.price_for === 'balenie' %}
                bal.
                {% else %}
                {{next_product.price_for}}.
                {% endif %}
                </span></div>
            </div>
            {% endfor %}
            
            <div class="col-span-2 item md:col-span-3 lg:col-span-1">
                <a href="{{root}}/produkty?mc=3&e=3" up-follow up-instant up-target=".content" >
                <div class="relative w-full p-4 border-2 border-red-200 rounded-md cursor-pointer lg:h-36 show-full-category">
                    <div class="mb-2 text-lg font-semibold leading-5 text-black truncate">Bylinky a Korenie</div>
                    <div class="mb-1 mb-2 text-sm text-black">Zobraziť celú kategóriu</div>
                    <div class="absolute flex items-center justify-center inline-block mr-3 rounded-full lg:static right-2 top-6 w-9 h-9 bg-red-of">
                        {{ icons.arrow_right_thin('arrow-white inline-block text-white fill-current') }}
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>{# //grid #}

    <div class="items-center max-w-screen-xl px-6 mx-auto my-10 rounded-md">
        
        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            Farmári
        </h2>

        <div class="grid grid-cols-8 gap-2 mb-6">
            <div class="col-span-8 lg:col-span-6">
                <script>
                    var farms = [];
                    {% for farm in farms %}

                        {% set name = farm.name %}
                        {% if farm.company_name %}
                        {% set name = farm.company_name %}
                        {% endif %}

                        {% set img = farm.profile_img_filename %}
                        {% if farm.profile_image %}
                        {% set img = farm.profile_image %}
                        {% endif %}

                        {% if farm.gps != '' and farm.gps.length > 1 %}
                        farms.push({name:'{{name}}', gps: '{{farm.gps}}', img: '{{img}}', img_src: '{{root}}/assets/assets_web/thumb_small/{{img}}', url: '{{root}}/home/profil/{{farm.id}}/{{farm.slug}}'});
                        {% endif %}
                        
                    {% endfor %}
                </script>
                <div id='map' style='height: 440px;' class="bg-gray-100 rounded-md"></div>
            </div>
            <div class="col-span-8 mt-4 lg:mt-0 lg:pl-7 lg:col-span-2">
                <div class="mb-3 text-lg font-semibold text-red-of">Najnovšie pridané</div>
                <ul>
                    {% for new_farm in new_farms %}
                    <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                        <a href="{{root}}/home/profil/{{new_farm.id}}/{{new_farm.slug}}" up-follow up-instant up-target=".content" >
                            <div class="truncate pr-7">{{new_farm.company_name}}</div>
                            <div>
                                {% if new_farm.region_id == 1 %}
                                {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 2 %}
                                {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 3 %}
                                {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 4 %}
                                {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 5 %}
                                {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 6 %}
                                {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 7 %}
                                {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 8 %}
                                {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                                {% endif %}
                                {% if new_farm.region_id == 9 or new_farm.region_id == 0 %}
                                {{ regions.sk('inline-block mr-2', '50px', root) }}
                                {% endif %}

                                {% if rating(new_farm.rating_avg) == 0 %}
                                {{ icons.rating_0('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 0.5 %}
                                {{ icons.rating_0_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 1 %}
                                {{ icons.rating_1('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 1.5 %}
                                {{ icons.rating_1_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 2 %}
                                {{ icons.rating_2('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 2.5 %}
                                {{ icons.rating_2_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 3 %}
                                {{ icons.rating_3('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 3.5 %}
                                {{ icons.rating_3_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 4 %}
                                {{ icons.rating_4('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 4.5 %}
                                {{ icons.rating_4_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(new_farm.rating_avg) == 5 %}
                                {{ icons.rating_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                            </div>
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-5') }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <a href="{{root}}/farmari" up-follow up-instant up-target=".content"  class="block mt-5">
                    <div class="relative px-6 py-5 font-semibold border-2 border-red-200 rounded-md">
                        Všetky farmy
                        <div class="absolute flex items-center justify-center inline-block mr-3 rounded-full right-1 w-9 h-9 bg-red-of top-4">
                            {{ icons.arrow_right_thin('arrow-white inline-block text-white fill-current') }}
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>

    {# <div class="grid items-center max-w-screen-xl grid-cols-8 mx-auto my-10 overflow-hidden rounded-md h-80 bg-green-of-app-bg">
        <div class="col-span-5 pb-8 p-14">
            <h3 class="text-3xl font-semibold">Stiahni si aplikáciu</h3>
            <div class="mt-4 mb-8 text">
                Či už ste zákazník, alebo farmár môžete naplno využívať mobilnú aplikáciu. Pozrite si a vyskúšajte si jedinečné funkcie, ktoré sa stanú vašim každodenným pomocníkom či už predávate, alebo nakupujete.
            </div>

            <div class="grid grid-cols-3 gap-1 mb-6">
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.apple('inline-block mr-2 relative -top-2 text-white fill-current') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold">Apple Store</span>
                    </div>
                </div>
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.google_play('inline-block mr-2 text-white fill-current relative -top-1.5') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold"> Google Play</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative h-full col-span-3 overflow-hidden">
            <img src="{{ root }}/assets/img/iphone_1.png" class="absolute z-20 top-5 right-56" />
            <img src="{{ root }}/assets/img/iphone_2.png" class="absolute z-10 top-9 right-20" />
        </div>
    </div> #}

    <div class="grid items-center max-w-screen-xl grid-cols-1 gap-1 px-6 py-10 mx-auto my-10 border-t border-b sm:grid-cols-3 border-red-of">
        <div class="text-center">
            <div class="text-5xl text-red-of">{{products_count}}</div>
            <div class="font-semibold">Počet produktov</div>
        </div>
        <div class="text-center">
            <div class="text-5xl text-red-of">{{farmers_count}}</div>
            <div class="font-semibold">Slovenských farmárov</div>
        </div>
        <div class="text-center">
            <div class="text-5xl text-red-of">{{customers_count}}</div>
            <div class="font-semibold">Registrovaných zákazníkov</div>
        </div>
    </div>

    <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">

        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            <div class="inline-block">
                <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                    {{ icons.recept('inline-block text-white fill-current w-5 h-5') }}
                </div>
            </div>
            Recepty
        </h2>

        <div class="grid grid-cols-2 gap-5 items lg:grid-cols-4">

            {% for recipe in recipes %}

            <div class="mb-5 item">
                <a href="{{root}}/recept/{{recipe.id}}" up-target=".content" up-follow up-instant >
                    <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{recipe.img}});"></div>
                    
                        <div class="absolute z-10 px-1 py-1 text-xs rounded sm:px-2 bg-greygreen-light-of-bg left-2 bottom-2">
                        {% if recipe.time and recipe.time.overall %}
                            {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                            <span class="uppercase">{{recipe.time.overall}} min</span>
                        {% endif %}
                        {% if recipe.calories %}
                        <span class="uppercase">
                            {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                            {{recipe.calories}} kcal
                            </span>
                        {% endif %}
                        </div>
                    </div>
                    {% if recipe.category %}
                    <div class="mt-2 text-xs text-gray-500">{{recipe.category.name}}</div>
                    {% endif %}
                    <div class="mt-1 text-lg font-semibold leading-5 text-black">{{recipe.title}}</div>
                </a>
            </div>

            {% endfor %}
            
        </div>

    </div>

    <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">

        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            Novinky z blogu
        </h2>

        <div class="grid grid-cols-2 gap-5 items lg:grid-cols-4">
            {% for article in articles %}
            <div class="mb-5 item">
                <a href="{{root}}/cms/blogdetails/{{article.article_id}}/{{article.slug}}" up-target=".content" up-follow up-instant >
                    <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{article.blog_img}});"></div>
                    </div>
                    <div class="mt-2 text-xs text-gray-500 truncate">{{ article.title }}</div>
                    <div class="mt-1 text-lg font-semibold leading-5 text-black truncate">{{ article.perex }}</div>
                </a>
            </div>
            {% endfor %}
            {# <div class="mb-5 item">
                <a href="{{root}}/blog/clanok" up-target=".content" up-follow up-instant >
                    <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-9.jpg);"></div>
                    </div>
                    <div class="mt-2 text-xs text-gray-500">Farma Terchová</div>
                    <div class="mt-1 text-lg font-semibold leading-5 text-black">Farmárka čo pestuje kilové paradajky na kamenistej pôde</div>
                </a>
            </div>
            <div class="item">
                <a href="{{root}}/blog/clanok" up-target=".content" up-follow up-instant >
                    <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-8.jpg);"></div>
                    </div>
                    <div class="mt-2 text-xs text-gray-500">Farma Terchová</div>
                    <div class="mt-1 text-lg font-semibold leading-5 text-black">Farmárka čo pestuje kilové paradajky na kamenistej pôde</div>
                </a>
            </div>
            <div class="item">
                <a href="{{root}}/blog/clanok" up-target=".content" up-follow up-instant >
                    <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        <div class="w-full h-48 bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/img/thumb-6.jpg);"></div>
                    </div>
                    <div class="mt-2 text-xs text-gray-500">Farma Terchová</div>
                    <div class="mt-1 text-lg font-semibold leading-5 text-black">Farmárka čo pestuje kilové paradajky na kamenistej pôde</div>
                </a>
            </div> #}
            <div class="col-span-2 item lg:col-span-1">
                <div class="p-6 rounded-md cursor-pointer bg-red-of-bg">

                    <div class="flex">
                        <div>
                            <div class="inline-block">
                                <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                                    {{ icons.post_box('inline-block text-white fill-current w-5 h-5') }}
                                </div>
                            </div>
                        </div>
                        <div class="text-2xl font-medium leading-6 text-red-of">Nezmeškajte novinky</div>
                    </div>
                    
                    <div class="my-5 text-sm">
                        Dostávajte pravideľné novinky do vašej poštovej schránky.
                    </div>

                    {% include "elements/content/form/newsletter.njk" %}

                    {% include "elements/content/modals/newsletter.njk" %}
                    {% include "elements/content/modals/newsletter_exists.njk" %}
                    
                </div>
                
            </div>
        </div>

    </div>

{% endblock %}