{% extends "layouts/login.njk" %}

{% import "elements/content/icons.njk" as icons %}

{% block content %}
<div class="flex h-screen overflow-hidden">
    <div class="w-full max-w-screen-md pt-6 m-auto text-center">

        <div class="grid items-center max-w-screen-md p-10 mx-auto text-left bg-white rounded-md">

            <div class="mb-5 text-center">
                <a class="inline-block" href="{{root}}" up-follow up-instant up-follow up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>

            <h1 class="mb-8 text-2xl font-medium text-center text-red-of">Voľba profilu</h1>

            <div class="grid grid-cols-2 gap-6">
                <a class="flex text-center justify-center bg-red-of/20 h-64 rounded items-center" href="{{root}}/prihlasenie/zakaznik" up-follow up-instant up-follow up-target="body">
                    <div>
                        {{ icons.cart_large('inline-block w-20 opacity-50') }}
                        <span class="block text-2xl font-medium">Chcem nakupovať</span>
                    </div>
                </a>
                <a class="flex text-center justify-center bg-green-of-button-2/20 h-64 rounded items-center" href="{{root}}/prihlasenie/farmar" up-follow up-instant up-follow up-target="body">
                    <div>
                        {{ icons.farmer_large('inline-block w-20 opacity-50') }}
                        <span class="block text-2xl font-medium">Chcem predávať</span>
                    </div>
                </a>
            </div>
            
        </div>

        <div class="py-5 text-xs">© Odfarmara.sk, všetky práva vyhradené 2017-{{ thisYear() }}.</div>

    </div>
</div>
{% endblock %}