{% extends "layouts/login.njk" %}

{% import "elements/content/icons.njk" as icons %}

{% block content %}
<div class="flex h-screen overflow-hidden px-6">
    <div class="w-full max-w-screen-md pt-6 m-auto text-center">

        <div class="grid items-center max-w-screen-md p-10 mx-auto text-left bg-white rounded-md">

            <div class="mb-5 text-center">
                <a class="inline-block" href="{{root}}" up-follow up-instant up-follow up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>

            <h1 class="mb-8 text-2xl font-medium text-center text-red-of">Prihlásenie</h1>

            <div class="flex lg:flex-row flex-col justify-center mb-5">
                <a href="{{root}}/auth/facebook" class="px-3 mb-2 py-1 mr-2 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
                {{ icons.facebook('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
                Cez Facebook
                </a>
                <a href="{{root}}/auth/google" class="px-3 py-1 mb-2 mr-2 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
                {{ icons.google('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
                Cez google
                </a>
                {# <div class="px-3 py-1 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
                {{ icons.apple('inline-block text-white fill-current w-5 h-5 mr-1 relative -top-0.5') }}
                Apple ID
                </div> #}
            </div>

            <div class="mb-5 text-sm text-center text-greygreen-of">alebo prihlásiť cez email</div>

            {% if(messages == "invalid_login") %}
            <div class="p-3 px-5 mb-5 text-sm text-white rounded-md bg-red-of">
            {{ icons.lock('inline-block text-white fill-current w-5 h-5 mr-2') }} Prihlásenie neúspešné, skúste to prosím znova.
            </div>
            {% endif %}

            <div class="w-full mx-auto">
                <form method="post" action="{{root}}/prihlasenie">
                    <div class="mb-1 text-sm text-gray-500">Emailová adresa</div>
                    <input name="email" type="text" class="text-left w-full px-6 py-3 mb-3 border-2 rounded-md border-yellow-of focus:border-black ring-0 focus:ring-0" placeholder="Zadajte email" />
                    <div class="mb-1 text-sm text-gray-500">Heslo</div>
                    <input name="password" type="password" class="text-left w-full px-6 py-3 border-2 rounded-md border-yellow-of focus:border-black ring-0 focus:ring-0" placeholder="Vaše heslo" />
                    <button class="block w-full p-3 mt-8 font-medium text-white uppercase rounded-full bg-red-of" type="submit">Prihlásiť</button>
                </form>
            </div>

            <div>
                {# <a class="inline-block my-5 mr-4 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/registracia" up-follow up-instant up-follow up-target="body">Registrovať</a> #}
                <a class="inline-block my-5 text-xs font-semibold tracking-wider text-gray-700 underline uppercase" href="{{root}}/zabudnute-heslo" up-follow up-instant up-follow up-target="body">Zabudnuté heslo</a>
            </div>
            
        </div>

        <div class="py-5 text-xs">© Odfarmara.sk, všetky práva vyhradené 2017-{{ thisYear() }}.</div>

    </div>
</div>
{% endblock %}