{% extends "layouts/login.njk" %}

{% block content %}

<div class="flex h-screen overflow-hidden">
    <div class="w-full max-w-screen-md pt-6 m-auto text-center px-6">

        <div class="grid items-center max-w-screen-md p-10 mx-auto text-left bg-white rounded-md">

            <div class="mb-5 text-center">
                <a class="inline-block" href="{{root}}" up-follow up-instant up-follow up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>

            <h1 class="mb-8 text-2xl font-medium text-center text-red-of">Zabudnuté heslo</h1>

            {% include "elements/content/form/password_reset.njk" %}

        </div>

        <div class="py-5 text-xs">© Odfarmara.sk, všetky práva vyhradené 2017-{{ thisYear() }}.</div>

    </div>
</div>

{% endblock %}
