{% extends "layouts/main.njk" %}

{% block content %}

    <div class="overflow-hidden bg-white">
        <div class="pt-6">
            <div class="max-w-screen-xl px-6 mx-auto mt-10 text-sm">
            <h1 class="text-xl font-semibold mb-4">Zásady ochrany osobných údajov</h1>

            <p class="mb-4">Ochrana Vášho súkromia a osobných údajov je pre nás veľmi dôležitá. Osobné údaje, ktoré nám poskytnete, spracúvame a chránime v súlade s platnými právnymi predpismi, najmä Všeobecným nariadením o ochrane údajov (GDPR) a zákonom č. 18/2018 Z. z. o ochrane osobných údajov. V tomto dokumente popisujeme aké informácie a osobné údaje spracúvame, na aký účel a aké sú Vaše práva.</p>
    
            <p class="mb-4 font-semibold">Ako chránime súkromie?</p>
            
            <p class="mb-4 font-semibold">Kto sme a kde nás môžete kontaktovať?</p>
            
            <p class="mb-4">Prevádzkovateľom pri spracúvaní osobných údajov je:</p>
            
            <p class="mb-4 font-semibold">
            XO CREATIVE s.r.o.<br/>
            Tallerova 4, 811 02 Bratislava<br/>
            Slovakia
            </p>
    
            <p class="mb-4">
            V prípade, ak máte akékoľvek otázky k tomuto dokumentu alebo použitiu osobných údajov alebo chcete uplatniť práva popísané v tomto dokumente, môžete nás kontaktovať e-mailom na adrese info@odfarmara.sk alebo písomne na adrese našej organizácie.
            </p>

            <p class="mb-4 font-semibold">
            Definícia pojmov
            </p>
            
            <p class="mb-4">
            Osobný údaj je akékoľvek informácia týkajúca sa identifikovanej alebo identifikovateľnej fyzickej osoby („dotknutá osoba"); v prípade identifikovateľnej fyzickej osoby sa jedná o osobu, ktorú možno identifikovať priamo alebo nepriamo, najmä odkazom na identifikačný znak, ako je meno, identifikačné číslo, lokalizačné údaje, alebo odkazom na jeden či viaceré prvky, ktoré sú špecifické pre fyzickú, fyziologickú, genetickú, ekonomickú, alebo sociálnu identitu tejto fyzickej osoby.
            </p>

            <p class="mb-4">
            Dotknutá osoba ste Vy - osoba, ktorej sa osobný údaj týka.
            </p>
        
            <p class="mb-4">
            Prevádzkovateľ je fyzická alebo právnická osoba, orgán verejnej moci, agentúra alebo iný subjekt, ktorý sám alebo spoločne s inými určí účely a prostriedky spracúvania osobných údajov;
            </p>

            <p class="mb-4">
            Užívateľ je fyzickou alebo právnickou osobou so statusom klienta, alebo farmára, ktorá využíva alebo plánuje využívať služby poskytované na internetovom portály odfarmara.sk.
            </p>

            <p class="mb-4 font-semibold">
            Aké údaje zbierame?
            </p>
        
            <p class="mb-4">
            Pri prevádzkovaní portálu odfarmara.sk získavame Vaše osobné údaje v nasledovnom rozsahu:
            </p>
            
            <p class="mb-4">
            Dotknutá osoba - klient: meno, priezvisko, adresa (ulica, číslo domu, PSČ), kontaktné údaje (email a tel. číslo)
            </p>
        
            <p class="mb-4">
            Dotknutá osoba - farmár: názov spoločnosti, meno, priezvisko, adresa (ulica, číslo domu, PSČ), kontaktné údaje (email a tel. číslo)
            </p>
        
            <p class="mb-4">
            Osobné údaje ktoré si dotknuté osoby vymenia prostredníctvom funkcie súkromného chatu prostredníctvom portálu alebo mobilných aplikácií odfarmara.sk nie sú prevádzkovateľom akýmkoľvek spôsobom zbierané, ukladané a využívané. Ďalšie osobné údaje o užívateľoch a farmároch (najmä fotografie a videá) môžu byť získané aj počas ďalšieho využívania portálu v prípade ak to budú služby poskytované portálom odfarmara.sk vyžadovať. Poskytnutie takýchto osobných údajov je vždy zbierané iba s poskytnutým súhlasom zo strany užívateľa, alebo farmára.
            </p>

            <p class="mb-4 font-semibold">Ako údaje používame</p>
        
            <p class="mb-4">
            Služby, ktoré poskytujeme využívajú najmä elektronickú komunikáciu. Vaše osobné údaje potrebujeme poznať aby sme dokázali poskytovať služby v čo najvyššej kvalite a zároveň vedeli sprostredkovať realizáciu objednávky medzi užívateľmi a farmármi.
            </p>
        
            <p class="mb-4 font-semibold">Prevádzka portálu odfarmára a poskytovanie služieb</p>
        
            <p class="mb-4">
            Poskytovanie našich služieb závisí od poskytnutých osobných údajov. Tie nám umožnia navzájom spojiť klientov a farmárov, dovolia im využívať služby poskytované portálom odfarmara.sk, kontaktovať sa prostredníctvom interného komunikačného kanála, iniciovať realizáciu objednávky. Kontaktné údaje užívateľov zároveň používame na zasielanie oznámení súvisiacich s poskytovaním služieb a prevádzkou portálu ako napríklad oznamy o nových službách, príspevkoch v blogovej sekcii, zasielanie newsletterov, alebo na marketingovú komunikáciu.
            </p>

            <p class="mb-4 font-semibold">Ochrana práv a riešenie nárokov</p>
        
            <p class="mb-4">
            Osobné údaje sme oprávnený používať v prípade, ak riešime nároky, ktoré boli voči nám uplatnené, pri konaniach pred štátnymi a inými orgánmi, ktoré kontrolujú našu činnosť, a aby sme vymáhali nároky, ktoré nám vznikli, ale tiež v prípadoch, kedy si plníme povinnosti voči našim donorom, či povinnosti vyplývajúce nám zo zákonov a právnych predpisov. <span class="font-semibold">Osobné údaje ďalej neposkytujeme tretím stranám.</span>
            </p>

            <p class="mb-4 font-semibold">Právne základy</p>
        
            <p class="mb-4">
            V súlade s požiadavkami právnych predpisov na ochranu osobných údajov vás musíme informovať o právnych základoch spracúvania vašich osobných údajov, ktorými sú:
            </p>

        <p class="mb-4">
        <span class="font-semibold">1. Registrácia užívateľa / sprostredkovanie objednávky</span> – pri každej registrácii dochádza k spracovaniu osobných údajov potrebných na vytvorenie aktívneho užívateľského konta a sprístupnenie služieb poskytovaných prostredníctvom portálu odfarmara.sk<br/>
        <span class="font-semibold">2. Marketingová komunikácia pre tretie strany</span> - na tomto právnom základe súčasne spracúvame osobné údaje tretích strán, ktoré prejavia záujem o marketingovú komunikáciu svojich produktov a služieb prostredníctvom marketingových kanálov dostupných v rámci projektu odfarmara.sk<br/>
        <span class="font-semibold">3. Plnenie našich zákonných povinností</span> – pri uchovaní údajov v našom účtovníctve alebo pri sprístupnení údajov štátnym a iným orgánom, ktoré vykonávajú dohľad nad našou činnosťou alebo ktoré riešia spory, či vykonávanie rozhodnutí.<br/>
        <span class="font-semibold">4. Náš oprávnený záujem</span> – v súvislosti s ochranou práv a riešením nárokov, tak ako sme uviedli vyššie. V týchto prípadoch vždy starostlivo zvažujeme, či spracúvanie nebude predstavovať neprimeraný zásah do práv dotknutých osôb.
        </p>

        <p class="mb-4 font-semibold">
        Komu údaje sprístupňujeme
        </p>
        
        <p class="mb-4">
        Osobné údaje nezverejňujeme, nesprístupňujeme, neposkytujeme žiadnym iným subjektom, s výnimkou situácii opísaných nižšie:
        </p>
        
        <p class="mb-4 font-semibold">
        Farmári
        </p>
        
        <p class="mb-4">
        Osobné údaje farmárov zverejňujeme na internetovej stránke projektu odfarmara.sk, avšak až po udelení ďalšieho súhlasu zo strany farmára na zdieľanie osobných údajov s klientom.
        </p>

        <p class="mb-4 font-semibold">
        V prípadoch externého spracúvania
        </p>
        
        <p class="mb-4">
        Osobné údaje majú k dispozícii niektorí naši dodávatelia, ktorí ich spracúvajú pre nás, na základe našich pokynov a v súlade s týmto dokumentom. Pri tom dodržiavajú všetky potrebné bezpečnostné, technické a organizačné opatrenia, aby vašim osobným údajom poskytli požadovanú ochranu.
        </p>

        <p class="mb-4">
        Medzi týchto partnerov v súčasnosti patria:
        </p>
        
        <p class="mb-4">
        <span class="font-semibold">Fast Internet - Miloš Kalerta</span><br/>
        (Serverové hosting služby)
        <p>
        
        <p class="mb-4">
        Nerudova 691 Dobříš 26301 Česká Republika<br/>
        IČ: 64760324<br/>
        DIČ: CZ7404201134
        <p>
        
        <p class="mb-4">
        Osobné údaje o súťažiacich tiež sprístupňujeme v rámci sociálnych sietí, kde využívame:
        <p>
        
        <p class="mb-4">
        <span class="font-semibold">Facebook / Instagram</span><br/>
        <span class="font-semibold">Adresa:</span> <br/>
        Facebook Ireland Ltd. 4 Grand Canal Square, Grand Canal Harbour Dublin 2, Írsko<br/>
        Ďalšie nástroje a informácie nájdete v Nastaveniach Facebooku a Nastaveniach Instagramu.
        </p>
        
        <p class="mb-4 font-semibold">
        Analytické a reklamné služby
        </p>
        
        <p class="mb-4">
        Pracujeme tiež s partnermi, ktorí nám poskytujú analytické a reklamné služby. Tie nám umožňujú lepšie porozumieť, ako používatelia využívajú našu internetovú stránku, umiestňujú našu reklamu na internete a merajú jej výkonnosť. Tieto spoločnosti môžu využívať cookies a podobné technológie, aby zbierali údaje o vašej interakcii s našimi službami, ale aj inými stránkami.
        </p>

        <p class="mb-4 font-semibold">
        Z právnych dôvodov a na predchádzanie škodám
        </p>
        
        <p class="mb-4">
        Vaše údaje môžeme tiež uchovávať alebo sprístupňovať iným osobám, aby sme vyhoveli povinnostiam vyplývajúcim z právnych predpisov, z požiadaviek štátnych a iných orgánov, aby sme si uplatňovali naše nároky alebo sa obhajovali v konaniach, kde si ich iní uplatňujú voči nám.
        </p>

        <p class="mb-4">
        Medzi kategórie tretích osôb, ktorým sprístupňujeme osobné údaje z týchto dôvodov, patria napríklad súdy, štátne a iné orgány príslušné na výkon kontroly nad našou činnosťou, na riešenie sporov alebo vykonávanie rozhodnutí, či naši právni a účtovní poradcovia a audítori.
        </p>

        <p class="mb-4 font-semibold">
        Prenos do tretích krajín
        </p>
        
        <p class="mb-4">
        Vaše osobné údaje aktívne do tretích krajín mimo EÚ neprenášame. Niektorí partneri, s ktorými pri spracúvaní osobných údajov spolupracujeme (najmä prevádzkovatelia sociálnych sietí), však takéto prenosy realizujú, a to konkrétne do USA. Osoby, ktorým v USA tieto údaje sprístupňujú, dodržiavajú podmienky <span class="font-semibold">US-EU Privacy Shield</span> a tým poskytujú primeranú úroveň ochrany pre vaše osobné údaje.
        </p>

        <p class="mb-4 font-semibold">
        Ako údaje chránime
        </p>
        
        <p class="mb-4">
        Pracujeme veľmi tvrdo, aby sme sa uistili, že Vaše osobné údaje sú v bezpečí. V súlade s požiadavkami platnej legislatívy vykonávame všetky potrebné bezpečnostné, technické a organizačné opatrenia, aby sme vaše osobné údaje chránili. Elektronické údaje sú uchovávané v chránenej databáze na serveri, ktorý je pre nás vyhradený. Databázu obsahujúcu osobné údaje chránime pred jej poškodením, zničením, stratou a zneužitím. Pokiaľ si prajete viac informácii o zabezpečení vašich osobných údajov, prosím kontaktujte nás na info@odfarmara.sk.
        </p>

        <p class="mb-4 font-semibold">
        Ako dlho údaje uchovávame
        </p>
        
        <p class="mb-4">
        Osobné údaje, ktoré súvisia s poskytovaním služieb na odfarmara.sk, uchovávame počas nevyhnutnej doby, ktorou je spravidla celé obdobie počas ktorého má užívateľ aktívne konto a rok po jeho deaktivácii.
        </p>

        <p class="mb-4">
        V prípadoch využívania vašich údajov na základe nášho oprávneného záujmu opísaných v kapitolách <span class="font-semibold">Ako údaje používame</span> a <span class="font-semibold">Komu údaje sprístupňujeme</span>, uchováme vaše údaje, kým neodpadne dôvod ich spracúvania. Musíme vás však upozorniť, že aj keď odpadne niektorý z dôvodov spracúvania nemusí to mať za následok, že uchovávanie vašich osobných údajov ukončíme. Tieto osobné údaje totiž môžeme a občas musíme spracúvať aj na iný účel s iným právnym základom.
        </p>

        <p class="mb-4 font-semibold">
        Aké sú vaše práva
        </p>
        
        <p class="mb-4">
        Z tohto, že spracúvame vaše osobné údaje, <span class="font-semibold">vám vyplývajú viaceré práva</span>. V prípade, ak si uplatníte akékoľvek z nižšie uvedených práv, budeme vás o vybavení Vašej žiadosti informovať do 30 dní odo dňa jej doručenia k nám. V odôvodených prípadoch môžeme uvedenú lehotu predĺžiť na 60 dní, o čom vás budeme informovať.
        </p>

        <p class="mb-4 font-semibold">
        Ako si uplatniť vaše práva
        </p>
        
        <p class="mb-4">
        Uplatniť vaše práva si môžete zaslaním emailovej správy alebo písomnej žiadosti na naše kontaktné údaje uvedené v časti <span class="font-semibold">Kto sme a kde nás môžete kontaktovať</span> vyššie.
        </p>

        <p class="mb-4">
        Prosím uveďte vo Vašej žiadosti vaše meno, priezvisko, e-mailovú adresu, prípadne adresu trvalého bydliska. Ak nám uvedené údaje neposkytnete, nebude možné vyhovieť vašej žiadosti. Tieto informácie od vás požadujeme preto, aby sme si overili vašu totožnosť a neposkytli Vaše osobné údaje neoprávnenej osobe.
        </p>

        <p class="mb-4 font-semibold">
        Právo na prístup k údajom
        </p>
        
        <p class="mb-4">
        Máte právo získať od nás potvrdenie o tom, či sa o vás spracúvajú osobné údaje a v prípade, ak vaše osobné údaje spracúvame, poskytneme vám informáciu o tom, aké údaje o vás spracúvame, za akým účelom, komu boli vaše osobné údaje poskytnuté, či boli prenesené do tretej krajiny a ako dlho budeme vaše osobné údaje uchovávať.
        </p>

        <p class="mb-4 font-semibold">
        Právo na opravu
        </p>
        
        <p class="mb-4">
        Ak sa domnievate, že naša spoločnosť o vás spracúva nesprávne osobné údaje, môžete nás požiadať o ich opravu. Záleží nám na tom, aby sme o vás spracúvali správne osobné údaje, preto toto právo určite využite vždy, keď príde k zmene akéhokoľvek vášho osobného údaju, ktorý je pre váš vzťah s nami dôležitý.
        </p>

        <p class="mb-4 font-semibold">
        Právo na vymazanie (právo na zabudnutie)
        </p>
        
        <p class="mb-4">
        Máte právo na vymazanie Vašich osobných údajov, ktoré o vás spracúvame, v prípade ak sú splnené nasledovné podmienky a neuplatňujú sa zákonné výnimky:
        </p>
        
        <p class="mb-4">
        - údaje už nie sú potrebné na účely, na ktoré sa získavali<br/>
        - odvoláte súhlas na spracúvanie Vašich osobných údajov a na ich spracúvanie neexistuje iný právny základ<br/>
        - namietnete na základe Vašej konkrétnej situácie spracúvanie Vašich osobných údajov, spracúvaných na základe oprávneného záujmu a neprevažujú oprávnené dôvody na spracúvanie alebo namietnete spracúvanie za účelom priameho marketingu<br/>
        - osobné údaje sa spracúvali nezákonne.
        </p>
        
        <p class="mb-4">
        V prípade, ak by boli Vaše osobné údaje zverejnené a Vy si u nás uplatníte právo na vymazanie, vymažeme aj takéto zverejnené osobné údaje. Zároveň budeme informovať ostatných príjemcov vašich osobných údajov, že ste si uplatnili právo na vymazanie a mali by teda vymazať všetky odkazy na Vaše osobné údaje, ak to bude technicky možné so zreteľom na dostupnú technológiu a náklady na vykonanie týchto opatrení.
        </p>

        <p class="mb-4 font-semibold">
        Právo na obmedzenie spracúvania
        </p>
        
        <p class="mb-4">
        Máte tiež právo nás požiadať o dočasné obmedzenie spracúvania, a to v týchto prípadoch:
        </p>
        
        <p class="mb-4">
        - ak sa domnievate, že o vás spracúvame nesprávne osobné údaje, do doby, než sa overí správnosť týchto osobných údajov<br/>
        - spracúvanie Vašich osobných je protizákonné a Vy sa rozhodnete namiesto vymazania osobných údajov žiadať obmedzenie ich spracúvania<br/>
        - už nepotrebujeme osobné údaje na účely spracúvania, avšak tieto sú potrebné pre Vaše vlastné účely preukázania, uplatňovania alebo obhajovania vašich právnych nárokov<br/>
        - v prípade ak namietate spracúvanie Vašich osobných údajov, do doby overenia či oprávnené dôvody pre spracúvanie osobných údajov prevažujú nad vašimi oprávnenými záujmami 
        <p>

        <p class="mb-4 font-semibold">
        Právo na prenosnosť údajov
        </p>

        <p class="mb-4">
        Máte právo získať osobné údaje, ktoré o vás spracúvame na základe súhlasu a/alebo zmluvy a spracúvame ich automatizovanými prostriedkami, a to v štruktúrovanom, bežne používanom a strojovo čitateľnom formáte. Tieto údaje môžete preniesť aj inej osobe, preto ak je to technicky možné a takáto požiadavka nepredstavuje zásah do systému odfarmara.sk, prenesieme na Vašu žiadosť Vaše osobné údaje priamo k Vami zvolenému prevádzkovateľovi.
        </p>

        <p class="mb-4 font-semibold">
        Právo namietať
        </p>

        <p class="mb-4">
        Máte právo namietať z dôvodov týkajúcich sa Vašej konkrétnej situácie spracúvanie Vašich osobných údajov, ktoré je vykonávané na základe nášho oprávneného záujmu, vrátane práva namietať proti profilovaniu založenému na našom oprávnenom záujme.
        </p>

        <p class="mb-4"
        Vždy máte tiež právo namietať voči spracúvaniu Vašich osobných údajov, ak sa tieto spracúvajú na účely priameho marketingu.
        </p>

        <p class="mb-4">
        Portál Odfarmara.sk može používať alebo sa registrovať len osoba staršia ako 18 rokov. 
        </p>

        <p class="mb-4 font-semibold">
        Podávanie sťažností
        </p>

        <p class="mb-4">
        V prípade, ak sa domnievate, že spracúvanie vašich osobných údajov našou spoločnosťou je v rozpore s platnými právnymi predpismi na ochranu osobných údajov, máte právo podať sťažnosť na náš hlavný dozorný orgán - Úrad na ochranu osobných údajov Slovenskej republiky, ktorého kontaktné údaje <a class="underline font-semibold" href="https://dataprotection.gov.sk/uoou/sk">https://dataprotection.gov.sk/uoou/sk</a>.
        </p>
        
        </div>
         </div>
    </div>

{% endblock %}