{% extends "layouts/products.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 gap-5 px-6 mt-6 nav-and-content">
        <div class="col-span-12 lg:col-span-3">
            <div class="p-6 rounded-md" style="box-shadow: 0 4px 40px 0 rgb(0 0 0 / 10%);">
                <div class="text-base font-medium text-red-of"><h2>Nájdi produkty</h2></div>
                <div>
                    <ul class="mt-4 mb-4 font-medium select-none">
                        {% for category in categories %}

                            {% if expanded(category.id, current_url) %}
                            {% set expandedClass = 'expanded' %}
                            {% else %}
                            {% set expandedClass = '' %}
                            {% endif %}

                            {% if category.active %}
                            <li class="menu-item text-sm select-none {{expandedClass}}" data-id="{{category.id}}">
                                <a id="c-{{category.id}}" data-id="{{category.id}}" class="block p-2 px-4 mb-1 text-sm rounded-md cursor-pointer select-none main-category bg-red-of-bg hover:bg-red-of hover:text-white">
                                {% if category.icon %}
                                {{ icons[category.icon]('inline-block relative w-7 opacity-70 mr-1') }}
                                {% endif %}
                                {{ category.name }}
                                </a>
                                <div class="mt-2 mb-2 submenu">
                                    {% for subcategory in category.subcategory %}

                                        {% set catUrl = categoryUrl(category.id, subcategory.id, current_url) %}
                                        {% set isCurrentCategory = currentCategory(subcategory.id, current_url) %}

                                        {% if subcategory.active %}
                                            {% if isCurrentCategory %}
                                            <span id="s-{{subcategory.id}}" class="inline-block p-1 px-2 mb-1 text-sm text-white bg-gray-600 rounded-sm cursor-not-allowed select-none">{{subcategory.name}}</span>
                                            {% else %}
                                            <a href="{{catUrl}}" id="s-{{subcategory.id}}" class="inline-block p-1 px-2 mb-1 text-sm rounded-sm cursor-pointer select-none category bg-red-of-bg-2 hover:bg-green-of-button hover:text-white" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">{{subcategory.name}}</a>
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% endfor %}

                                    {% set catUrl = mainCategoryUrl(category.id, current_url, localCategories) %}
                                    {% set isCurrentMainCategory = currentMainCategory(category.id, current_url) %}
                                    {% if isCurrentMainCategory %}
                                    <span id="s-{{category.id}}" class="inline-block p-1 px-2 mt-3 mb-1 text-white bg-gray-600 rounded-sm cursor-not-allowed select-none">Všetko z kategórie {{category.name | lower}}</span>
                                    {% else %}
                                    <a href="{{catUrl}}" id="s-{{category.id}}" class="inline-block p-1 px-2 mt-3 mb-1 text-sm rounded-sm cursor-pointer select-none category bg-red-of-bg-2 hover:bg-green-of-button hover:text-white" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">Všetko z kategórie {{category.name | lower}}</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endif %}
                        
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <ul class="mt-4 mb-4 font-medium">

                        {% for region in countryRegions %}

                        {% set regUrl = regionUrl(region.region_id, current_url) %}
                        {% set isCurrentRegion = currentRegion(region.region_id, current_url) %}

                        <li class="mb-1 text-sm rounded-md select-none bg-greygreen-of-bg">

                            {% if isCurrentRegion %}
                            <span id="r-{{region.region_id}}" class="block p-2 px-4 text-white bg-gray-600 rounded-md cursor-not-allowed select-none ">
                            {{ regions[region.icon]('inline-block mr-2', '30px', root) }}
                            {{region.name}}
                            </span>
                            {% else %}
                            <a class="block p-2 px-4 rounded-md region-item hover:bg-green-of-button hover:text-white" href="{{regUrl}}" up-target=".content" up-scroll="body" up-follow up-instant up-history="true">
                            {{ regions[region.icon]('inline-block mr-2', '30px', root) }}
                            {{ region.name }}
                            </a>
                            {% endif %}
                            
                        </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-9 lg:ml-5 grid-content">

            {% if selectedCategories.length or selectedRegions.length or selectedMainCategories.length %}
            <div class="mb-6">
                <div class="w-full p-1 pb-0 border border-gray-300 rounded-md categories-stack">
                    {% for cat in selectedCategories %}

                        {% set catRemoveUrl = removeCategoryUrl(cat.id, current_url) %}         

                        <div class="inline-block p-1 px-2 mb-1 text-sm text-white bg-gray-400 rounded-sm">
                            {{ cat.name }}
                            <div class="inline-block cursor-pointer hover:text-red-600">
                            <a class="remove-category" href="{{catRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                            </div>
                        </div>
                        
                    {% endfor %}

                    {% for mainCat in selectedMainCategories %}

                        {% set catRemoveUrl = removeMainCategoryUrl(mainCat.id, current_url) %}         

                        <div class="inline-block p-1 px-2 mb-1 text-sm text-white bg-gray-400 rounded-sm">
                            {{ mainCat.name }}
                            <div class="inline-block cursor-pointer hover:text-red-600">
                            <a class="remove-category" href="{{catRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                            </div>
                        </div>
                        
                    {% endfor %}

                    {% for reg in selectedRegions %}

                        {% set regRemoveUrl = removeRegionUrl(reg.id, current_url) %}

                        <div class="inline-block p-1 px-2 mb-1 text-sm rounded-sm bg-greygreen-of-bg">
                            {{ reg.name }} kraj
                            <div class="inline-block cursor-pointer hover:text-red-600">
                            <a class="remove-region" href="{{regRemoveUrl}}" up-target=".content" up-follow up-instant>{{ icons.close('inline-block fill-current relative w-5.5 opacity-100') }}</a>
                            </div>
                        </div>
                        
                    {% endfor %}
                    
                </div>
            </div>
            {% endif %}
            
            <div>
                
                {% if docs.length %}

                <div class="grid grid-cols-2 lg:grid-cols-4 gap-7 items">
                    
                    {% for item in docs %}

                        {% set favorite = favoriteProduct(favoriteProducts, item.id) %}
                        {% set old = old_date(item.ge_end_date) %}

                        <div class="mb-5 item">
                            {% if item.ge_external %}
                            <a href="{{item.ge_external_url}}" target="_blank">
                            {% else %}
                            <a href="{{root}}/home/ponuka/{{item.id}}/{{item.ge_slug}}" up-target=".content" up-follow up-instant>
                            {% endif %}
                            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                <div class="absolute z-10 px-2 py-1 text-xs uppercase bg-white rounded top-1.5 left-1.5 text-red-of">
                                {{ item.ge_created_date | before_humanize }}
                                </div>
                                {% if(favorite) %}
                                <div class="absolute z-10 px-2 py-1 h-8 rounded-b-lg top-0 right-1.5 bg-red-of">
                                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                                </div>
                                {% endif %}
                                
                                {% if old or item.ge_quantity === 0 or item.ge_flag_names.length %}
                                <div class="absolute z-10 bottom-2 left-2">
                                {% if old or item.ge_quantity === 0  %}
                                <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded ">
                                    Vypredané
                                </div>
                                {% endif %}
                                {% if item.ge_flag_names.length %}
                                {% for flag in item.ge_flag_names %}
                                    <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                        {{flag}}
                                    </div>
                                {% endfor %}
                                {% endif %}
                                </div>
                                {% endif %}

                                 {% if item.ge_thumbnail %}
                                <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.ge_thumbnail}});"></div>
                                {% else %}
                                <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                                {% endif %}
                            </div>
                            </a>
                            <div class="mt-2 text-lg font-semibold text-black truncate title">{{ item.ge_title }}</div>
                            <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{ item.ge_price | price }}</span> za 
                                {{item.unit}}
                                {% if item.ge_price_for === 'gramy' %}
                                g.
                                {% elif item.ge_price_for === 'kilogramy' %}
                                kg.
                                {% elif item.ge_price_for === 'liters' %}
                                l.
                                {% elif item.ge_price_for === 'kusy' %}
                                ks.
                                {% elif item.ge_price_for === 'balenie' %}
                                bal.
                                {% else %}
                                {{item.ge_price_for}}.
                                {% endif %}
                            </div>
                            {% if item.ge_farmer %}
                            <div class="mt-1 text-xs text-gray-500">{{item.ge_farmer}}</div>
                            {% endif %}
                            <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{item.ge_quantity}} 
                                {% if item.ge_price_for === 'gramy' %}
                                g.
                                {% elif item.ge_price_for === 'kilogramy' %}
                                kg.
                                {% elif item.ge_price_for === 'liters' %}
                                l.
                                {% elif item.ge_price_for === 'kusy' %}
                                ks.
                                {% elif item.ge_price_for === 'balenie' %}
                                bal.
                                {% else %}
                                {{item.ge_price_for}}.
                                {% endif %}
                            </span></div>
                        </div>
                    {% endfor %}
                    
                </div>

                <div class="mt-12">
                {% include "elements/content/list/pagination.njk" %}
                </div>

                {% else %}

                <div>Žiadne produkty na zobrazenie.</div>
                
                {% endif %}

            </div>
        </div>
    </div>

    <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-20">
    
        {% include "elements/content/list/seasonal_offer.njk" %}
        
    </div>
    
    
    {# <div class="grid items-center max-w-screen-xl grid-cols-8 mx-auto my-10 overflow-hidden rounded-md h-80 bg-green-of-app-bg">

        <div class="col-span-5 pb-8 p-14">
            <h3 class="text-3xl font-semibold">Stiahni si aplikáciu</h3>
            <div class="mt-4 mb-8 text">
                Či už ste zákazník, alebo farmár môžete naplno využívať mobilnú aplikáciu. Pozrite si a vyskúšajte si jedinečné funkcie, ktoré sa stanú vašim každodenným pomocníkom či už predávate, alebo nakupujete.
            </div>

            <div class="grid grid-cols-3 gap-1 mb-6">
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.apple('inline-block mr-2 relative -top-2 text-white fill-current') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold">Apple Store</span>
                    </div>
                </div>
                <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                    <div class="inline-block">
                        {{ icons.google_play('inline-block mr-2 text-white fill-current relative -top-1.5') }}
                    </div>
                    <div class="inline-block tracking-wide">
                        Stiahni z<br/><span class="font-semibold"> Google Play</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative h-full col-span-3 overflow-hidden">
            <img src="{{ root }}/assets/img/iphone_1.png" class="absolute z-20 top-5 right-56" />
            <img src="{{ root }}/assets/img/iphone_2.png" class="absolute z-10 top-9 right-20" />
        </div>
    </div> #}

</div>

{% endblock %}