{% extends "layouts/products.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="overflow-hidden bg-white">
    <div class="pt-6">
                
            <div class="grid max-w-screen-xl grid-cols-1 gap-10 mx-auto lg:grid-cols-2">
                
                <div class="px-6 lg:pl-6 lg:pr-0">
                    {% if item.image.length > 1 %}
                    <div class="mb-6 rounded-md swiper swiper-container">
                        <div class="swiper-wrapper">

                            {% for img in item.image %}

                            <div class="swiper-slide">
                                <div class="w-full bg-center bg-cover cursor-pointer h-60 md:h-product_image bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{img.filename}});"></div>
                            </div>
                            
                            {% endfor %}
                            
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    {% elif item.image.length == 1 %}
                    <div class="mb-6 rounded-md">
                        <div class="w-full bg-center bg-cover rounded-md h-60 md:h-product_image bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.image[0].filename}});"></div>
                    </div>
                    {% else %}
                    <div class="relative w-full mb-6 rounded-md bg-greygreen-light-of-bg h-60 md:h-product_image">
                        <div class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                    </div>
                    {% endif %}
                    
                    <div class="grid grid-cols-2 gap-5">

                        <input type="hidden" name="product-id-value" id="product-id-value" value="{{id}}" />

                        {% include "elements/content/product/favorite.njk" %}
                        
                        <div class="text-right place-items-center">
                            <div class="inline-block sharer">
                                <div class="hidden mr-1 text-sm align-middle sm:inline-block">Zdieľať</div>
                                <div data-sharer="facebook" data-title="{{item.title}}" data-hashtags="odfarmara.sk" data-url="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" class="inline-block align-middle">
                                    <div class="flex items-center justify-center w-10 h-10 mr-1 border border-gray-300 rounded-full cursor-pointer">
                                        {{ icons.facebook('inline-block text-red-of fill-current w-5 h-5') }}
                                    </div>
                                </div>
                                <div data-sharer="twitter" data-title="{{item.title}}" data-hashtags="odfarmara.sk" data-url="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" class="inline-block align-middle">
                                    <div class="flex items-center justify-center w-10 h-10 border border-gray-300 rounded-full cursor-pointer">
                                        {{ icons.twitter('inline-block text-red-of fill-current w-5 h-5') }}
                                    </div>
                                </div>

                                <div data-sharer="reddit" data-url="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" class="inline-block align-middle">
                                    <div class="flex items-center justify-center w-10 h-10 border border-gray-300 rounded-full cursor-pointer">
                                        {{ icons.reddit('inline-block text-red-of fill-current w-4 h-4') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative py-5 mt-10 text-lg font-semibold border-t border-b border-gray-300">
                        <a class="block" href="{{root}}/home/profil/{{item.farmer.id}}/{{item.farmer.slug}}" up-target=".content" up-follow up-instant>
                        {% if item.farmer.profile_img_filename or item.farmer.profile_image %}
                        <div class="inline-block mr-3 align-middle">
                            {% if item.farmer.profile_img_filename %}
                            <div class="w-16 h-16 bg-center bg-cover border border-gray-300 rounded-full bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_small/{{item.farmer.profile_img_filename}});"></div>
                            {% else %}
                            <div class="w-16 h-16 bg-center bg-cover border border-gray-300 rounded-full bg-greygreen-light-of-bg" style="background-image: url({{ root }}/assets/assets_web/thumb_small/{{item.farmer.profile_image}});"></div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="inline-block pr-5 align-middle border-r border-gray-300">
                            {% if item.farmer.company_name %}
                            <div class="text-sm font-semibold">{{item.farmer.company_name}}</div>
                            {% else %}
                            <div class="text-sm font-semibold">{{item.farmer.name}}</div>
                            {% endif %}
                            <div>
                                {% if rating(item.farmer.rating_avg) == 0 or item.farmer.rating_avg == null %}
                                {{ icons.rating_0('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 0.5 %}
                                {{ icons.rating_0_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 1 %}
                                {{ icons.rating_1('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 1.5 %}
                                {{ icons.rating_1_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 2 %}
                                {{ icons.rating_2('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 2.5 %}
                                {{ icons.rating_2_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 3 %}
                                {{ icons.rating_3('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 3.5 %}
                                {{ icons.rating_3_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 4 %}
                                {{ icons.rating_4('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 4.5 %}
                                {{ icons.rating_4_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                                {% if rating(item.farmer.rating_avg) == 5 %}
                                {{ icons.rating_5('inline-block text-red-of fill-current h-5') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="inline-block pl-5 align-middle">
                            {% if item.farmer.region_id == 1 %}
                            {{ regions.banskobystricky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 2 %}
                            {{ regions.bratislavsky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 3 %}
                            {{ regions.kosicky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 4 %}
                            {{ regions.nitriansky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 5 %}
                            {{ regions.presovsky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 6 %}
                            {{ regions.trenciansky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 7 %}
                            {{ regions.trnavsky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 8 %}
                            {{ regions.zilinsky_kraj('inline-block mr-2', '100px', root) }}
                            {% endif %}
                            {% if item.farmer.region_id == 9 or item.farmer.region_id == 0 or item.farmer.region_id == null %}
                            {{ regions.sk('inline-block mr-2', '100px', root) }}
                            {% endif %}
                        </div>
                        <div class="arrow">
                            {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-9') }}
                        </div>
                        </a>
                    </div>

                    {% if item.farmer.additional_information.collection_person or item.farmer.additional_information.collection_courier or item.farmer.additional_information.collection_regular_delivery %}
                    <div class="p-3 mt-5 text-sm rounded-md bg-greygreen-light-of-bg">
                        Možnosti odberu
                        {% if item.farmer.additional_information.collection_person %}
                        <span class="ml-2 font-semibold">Osobne</span>
                        {% endif %}
                        {% if item.farmer.additional_information.collection_courier %}
                        <span class="ml-2 font-semibold">Kuriér</span>
                        {% endif %}
                        {% if item.farmer.additional_information.collection_regular_delivery %}
                        <span class="ml-2 font-semibold">Pravidelný rozvoz</span>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                    {% if item.farmer.additional_information.payment_card or item.farmer.additional_information.payment_cash or item.farmer.additional_information.payment_courier or item.farmer.additional_information.payment_crypto %}
                    <div class="p-3 mt-1 text-sm rounded-md bg-greygreen-light-of-bg">
                        Platobné podmienky
                        {% if item.farmer.additional_information.payment_card %}
                        <span class="ml-2 font-semibold">Platba kartou</span>
                        {% endif %}
                        {% if item.farmer.additional_information.payment_cash %}
                        <span class="ml-2 font-semibold">Hotovosť</span>
                        {% endif %}
                        {% if item.farmer.additional_information.payment_courier %}
                        <span class="ml-2 font-semibold">Platba u kuriéra</span>
                        {% endif %}
                        {% if item.farmer.additional_information.payment_crypto %}
                        <span class="ml-2 font-semibold">Platba s crypto (BTC, ETH)</span>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if item.farmer.additional_information.services_kitchen or item.farmer.additional_information.services_sale or item.farmer.additional_information.services_selfpicking or item.farmer.additional_information.services_stay %}
                    <div class="py-3 mt-1 font-semibold">
                        Ďalej ponúkame
                    </div>

                    <div class="mt-2">
                        {% if item.farmer.additional_information.services_kitchen %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Kuchyňa</div>
                        {% endif %}
                        {% if item.farmer.additional_information.services_sale %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Predaj z dvora</div>
                        {% endif %}
                        {% if item.farmer.additional_information.services_selfpicking %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Samozber</div>
                        {% endif %}
                        {% if item.farmer.additional_information.services_stay %}
                        <div class="inline-block px-2 py-1 mb-2 mr-1 text-sm font-semibold rounded-md bg-greygreen-light-of-bg">Zážitkový pobyt</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if farm_products %}
                    <div class="mt-7 farm-products">
                        <div class="grid grid-cols-2 gap-5 items">
                            {% for product in farm_products %}

                                {% set old = old_date(product.end_date) %}

                                <div class="item">
                                    {% if product.external %}
                                    <a class="block" href="{{product.external_url}}" target="_blank">
                                    {% else %}
                                    <a class="block" href="{{root}}/home/ponuka/{{product.old_id}}/{{product.slug}}" up-target=".content" up-follow up-instant >
                                    {% endif %}
                                    
                                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                            {% if product.image[0] and product.image[0].filename %}
                                                <div class="absolute z-10 px-2 py-1 text-xs uppercase bg-white rounded top-1.5 left-1.5 text-red-of">{{ product.created | before_humanize }}</div>
                                                <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{product.image[0].filename}});"></div>
                                            {% else %}
                                            <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                                            {% endif %}
                                            
                                            {% if old or product.quantity === 0  %}
                                            <div class="absolute z-10 px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded bottom-2 left-2">
                                                Vypredané
                                            </div>
                                            {% endif %}

                                            {% if old or product.quantity === 0 or product.flags.length %}
                                            <div class="absolute z-10 bottom-2 left-2">
                                            {% if old or product.quantity === 0 %}
                                            <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                                                Vypredané
                                            </div>
                                            {% endif %}
                                            {% if product.flags.length %}
                                            {% for flag in product.flags %}
                                                {% if flag.ge_active %}
                                                <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                                    {{flag.ge_name}}
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="mt-2 text-lg font-semibold text-black truncate title">{{ product.title }}</div>
                                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{ product.price | price }}</span> za 
                                        {{product.unit}}
                                        {% if product.price_for === 'gramy' %}
                                        g.
                                        {% elif product.price_for === 'kilogramy' %}
                                        kg.
                                        {% elif product.price_for === 'liters' %}
                                        l.
                                        {% elif product.price_for === 'kusy' %}
                                        ks.
                                        {% elif product.price_for === 'balenie' %}
                                        bal.
                                        {% else %}
                                        {{product.price_for}}
                                        {% endif %}
                                        </div>
                                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{product.quantity}} 
                                        {% if product.price_for === 'gramy' %}
                                        g.
                                        {% elif product.price_for === 'kilogramy' %}
                                        kg
                                        {% elif product.price_for === 'liters' %}
                                        l.
                                        {% elif product.price_for === 'kusy' %}
                                        ks.
                                        {% elif product.price_for === 'balenie' %}
                                        bal.
                                        {% else %}
                                        {{product.price_for}}
                                        {% endif %}
                                        </span></div>
                                        
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                    
                <div class="px-6 lg:pr-6 lg:pl-0">
                    <h1 class="text-3xl font-medium leading-9">{{item.title}}</h1>

                    <div class="mt-4 mb-2 text-sm">
                        {{item.short_description}}
                    </div>

                    <div class="mt-4 mb-6">

                        <div class="inline-block pr-4 text-5xl border-r border-gray-300 text-red-of">{{item.price | price}}</div>
                        <div class="items-center inline-block pl-4 text-sm leading-5">
                            <div class="">Jednotková cena za</div>
                            <div class="font-bold">
                                {{ item.unit }}
                                {% if item.price_for === 'gramy' %}
                                g.
                                {% elif item.price_for === 'kilogramy' %}
                                kg.
                                {% elif item.price_for === 'liters' %}
                                l.
                                {% elif item.price_for === 'kusy' %}
                                ks.
                                {% elif item.price_for === 'balenie' %}
                                bal.
                                {% else %}
                                {{item.price_for}}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="grid grid-cols-3 p-4 px-6 text-sm rounded-t-lg bg-red-darken-of-bg">
                        <div class="col-span-2 pr-3 lg:col-span-1">Ponuka (množstvo)</div>
                        <div class="col-span-1 ml-3 font-semibold lg:col-span-2">
                        {{ item.quantity }}
                        {% if item.price_for === 'gramy' %}
                        g.
                        {% elif item.price_for === 'kilogramy' %}
                        kg.
                        {% elif item.price_for === 'liters' %}
                        l.
                        {% elif item.price_for === 'kusy' %}
                        ks.
                        {% elif item.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{item.price_for}}
                        {% endif %}
                        </div>
                        
                        {% if item.min_quantity %}
                            <div class="col-span-2 pr-3 lg:col-span-1">Minimálny odber</div> 
                            <div class="col-span-1 ml-3 font-semibold lg:col-span-2">{{item.min_quantity}}
                            {% if item.price_for === 'gramy' %}
                            g.
                            {% elif item.price_for === 'kilogramy' %}
                            kg
                            {% elif item.price_for === 'liters' %}
                            l.
                            {% elif item.price_for === 'kusy' %}
                            ks.
                            {% elif item.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{item.price_for}}
                            {% endif %}
                            </div>
                        {% endif %}
                        {# <div class="pr-3">Minimálny odber <span class="ml-3 font-semibold">2 Kg</span></div> #}

                        {% if item.unlimited %}
                        <div class="col-span-2 pr-3 lg:col-span-1">Dostupnosť ponuky</div><div class="col-span-1 ml-3 font-semibold lg:col-span-2">neobmedzená</div>
                        {% else %}
                            {% if item.start_date and item.end_date %}
                            <div class="col-span-2 pr-3 lg:col-span-1">Dostupnosť ponuky od</div><div class="col-span-1 ml-3 font-semibold lg:col-span-2">{{ item.start_date | format_date }}</div>
                            <div class="col-span-2 pr-3 lg:col-span-1">Dostupnosť ponuky do</div><div class="col-span-1 ml-3 font-semibold lg:col-span-2">{{ item.end_date | format_date }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="p-4 px-6 rounded-b-lg bg-red-of-bg">

                        {% set old = old_date(item.end_date) %}
                   
                        {% include "elements/content/product/qty-selector.njk" %}
                        {% include "elements/content/modals/demand.njk" %}

                        {% if(user) %}

                            {% if old or item.quantity === 0  %}
                            <div class="block px-4 py-4 mt-5 text-lg font-medium text-center text-white align-middle bg-yellow-500 rounded-full">
                                Vypredané
                            </div>
                            {% else %}
                            <a id="demand-modal-btn" class="block px-4 py-4 mt-5 text-lg font-medium text-center text-white align-middle rounded-full cursor-pointer bg-red-of">Zaslať dopyt</a>
                            {% endif %}
                        
                        {% else %}
                            {% if old or item.quantity === 0  %}
                            <div class="block px-4 py-4 mt-5 text-lg font-medium text-center text-white align-middle bg-yellow-500 rounded-full">
                                Vypredané
                            </div>
                            {% else %}
                            <a href="{{root}}/prihlasenie" class="block px-4 py-4 mt-5 text-lg font-medium text-center text-white align-middle rounded-full cursor-pointer bg-red-of" up-follow up-instant up-follow up-target="body">Zaslať dopyt</a>
                            <div class="py-2 text-xs text-center text-gray-600">Na zaslanie dopytu musíte byť <a href="{{root}}/prihlasenie" class="underline underline-offset-2" up-follow up-instant up-follow up-target="body">prihlásený</a>.</div>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if item.farmer.additional_information.eco_friendly or item.farmer.additional_information.bio or item.farmer.additional_information.zero_waste %}
                    <div class="text-sm mt-7">
                        {% if(item.farmer.additional_information.eco_friendly) %}
                        <div class="inline-block p-3 mb-2 mr-1 border rounded-lg cursor-pointer border-red-of">Eko-friendly</div>
                        {% endif %}
                        {% if(item.farmer.additional_information.bio) %}
                        <div class="inline-block p-3 mb-2 mr-1 border rounded-lg cursor-pointer border-red-of">Bio výroba</div>
                        {% endif %}
                        {% if(item.farmer.additional_information.zero_waste) %}
                        <div class="inline-block p-3 mb-2 mr-1 border rounded-lg cursor-pointer border-red-of">Bezobalový predaj</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div id="product-tab">
                        <div class="inline-block py-2 mt-10 mr-5 text-lg font-medium border-b-2 border-gray-300 cursor-pointer select-none text-red-of" id="tab-btn-more-info">
                            {{ icons.more('inline-block text-red-of fill-current h-5 relative -top-0.5') }}
                            Viac info
                        </div>
                        {% if item_has_nutritions or item_has_allergens %}
                        <div class="inline-block py-2 text-lg font-medium cursor-pointer select-none" id="tab-btn-nutrition">
                            {{ icons.nutritions('inline-block text-black fill-current h-5 relative -top-0.5') }}
                            Nutričné hodnoty a alergény
                        </div>
                        {% endif %}
                        <div class="py-5 text-sm border-t border-gray-300" id="tab-more-info">
                            {{item.description | safe}}
                        </div>

                        <div class="hidden py-5 text-sm border-t border-gray-300" id="tab-nutrition">
                            {% if item_has_nutritions and item_nutritions.nutritionalInformation and item_nutritions.nutritionalInformation.length %}
                            <div class="mb-2">
                            <h2 class="mb-3 font-semibold">Nutričné hodnoty</h2>
                            {% for item in item_nutritions.nutritionalInformation %}
                            <div class="grid grid-cols-2 gap-4 px-3 py-1 m-2 mb-2 rounded-md bg-greygreen-light-of-bg">
                                <div class="font-semibold">
                                    {{item.title}}
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endif %}

                            {% if item_has_nutritions and item_nutritions.minerals and item_nutritions.minerals.length %}
                            <div class="mb-2">
                            <h2 class="mb-3 font-semibold">Minerály</h2>
                            {% for item in item_nutritions.minerals %}
                            <div class="grid grid-cols-2 gap-4 px-3 py-1 m-2 mb-2 rounded-md bg-greygreen-light-of-bg">
                                <div class="font-semibold">
                                    {{item.title}}
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endif %}

                            {% if item_has_nutritions and item_nutritions.vitamins and item_nutritions.vitamins.length %}
                            <div class="mb-2">
                            <h2 class="mb-3 font-semibold">Vitamíny</h2>
                            {% for item in item_nutritions.vitamins %}
                            <div class="grid grid-cols-2 gap-4 px-3 py-1 m-2 mb-2 rounded-md bg-greygreen-light-of-bg">
                                <div class="font-semibold">
                                    {{item.title}}
                                </div>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endif %}

                            {% set marginClass = "" %}
                            {% if item_has_nutritions %}
                                {% set marginClass = "mt-5" %}
                            {% endif %}

                            {% if item_has_allergens %}
                            <h2 class="mb-3 font-semibold {{marginClass}}">Alergény</h2>
                            {% for allergen in item.allergens %}
                            <div class="inline-block px-3 py-1 m-2 rounded-md bg-greygreen-light-of-bg">
                                <div class="font-semibold">{{allergen.ge_name}}</div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    {% if(item.tags.length) %}
                    <div class="mt-6 text-sm tags">
                        {% for tag in item.tags %}
                        {% if tag.ge_active%}
                        <a href="{{root}}/tag/{{ tag.ge_slug }}" up-follow up-instant class="inline-block px-2 py-1 mb-2 mr-1 text-gray-400 rounded-md cursor-pointer bg-greygreen-light-of-bg">#{{tag.ge_name}}</a>
                        {% endif %}
                        {% if tag.active %}
                        <a href="{{root}}/tag/{{ tag.slug }}" up-follow up-instant class="inline-block px-2 py-1 mb-2 mr-1 text-gray-400 rounded-md cursor-pointer bg-greygreen-light-of-bg">#{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div>
                
            </div>

            <div class="bg-red-of-bg">

                <div class="grid items-center max-w-screen-xl px-6 pt-6 pb-8 mx-auto mt-10">

                    <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                        <div class="inline-block">
                            <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                                {{ icons.new_product('inline-block text-white fill-current w-5 h-5') }}
                            </div>
                        </div>
                        Najnovšie pridané
                    </h2>

                <div class="grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 gap-7 items">

                {% for new_product in new_products %}

                {% set old = old_date(new_product.end_date) %}

                <div class="mb-5 item">
                    {% if new_product.external %}
                    <a class="relative block" href="{{new_product.external_url}}" target="_blank">
                    {% else %}
                    <a class="relative block" href="{{root}}/home/ponuka/{{new_product.old_id}}/{{new_product.slug}}" up-target=".content" up-follow up-instant >
                    {% endif %}
                    <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="absolute z-10 px-2 py-1 text-xs uppercase bg-white rounded top-1.5 left-1.5 text-red-of">{{ new_product.created | before_humanize }}</div>
                    {% if new_product.image[0] and new_product.image[0].filename %}
                    <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{new_product.image[0].filename}});"></div>
                    {% else %}
                    <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                    {% endif %}
                    </div>

                    
                    {% if old or new_product.quantity === 0 or new_product.flags.length %}
                    <div class="absolute z-10 bottom-2 left-2">
                    {% if old or new_product.quantity === 0 %}
                    <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                        Vypredané
                    </div>
                    {% endif %}
                    {% if new_product.flags.length %}
                    {% for flag in new_product.flags %}
                        {% if flag.ge_active %}
                        <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                            {{flag.ge_name}}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                    {% endif %}
                    </a>
                    <div class="mt-2 text-lg font-semibold text-black truncate title">{{ new_product.title }}</div>
                    <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{ new_product.price | price }}</span> za 
                        {{new_product.unit}}
                        {% if new_product.price_for === 'gramy' %}
                        g.
                        {% elif new_product.price_for === 'kilogramy' %}
                        kg.
                        {% elif new_product.price_for === 'liters' %}
                        l.
                        {% elif new_product.price_for === 'kusy' %}
                        ks.
                        {% elif new_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{new_product.price_for}}
                        {% endif %}
                    </div>
                    <div class="mt-1 text-xs text-gray-500">{{new_product.farmer.company_name}}</div>
                    <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{new_product.quantity}} 
                        {% if new_product.price_for === 'gramy' %}
                        g.
                        {% elif new_product.price_for === 'kilogramy' %}
                        kg
                        {% elif new_product.price_for === 'liters' %}
                        l.
                        {% elif new_product.price_for === 'kusy' %}
                        ks.
                        {% elif new_product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{new_product.price_for}}
                        {% endif %}
                    </span></div>
                </div>
                {% endfor %}
  
            </div>
                    
            </div>

            </div>

            
            {# <div class="grid items-center max-w-screen-xl grid-cols-8 mx-auto my-10 overflow-hidden rounded-md h-80 bg-green-of-app-bg">
                <div class="col-span-5 pb-8 p-14">
                    <h3 class="text-3xl font-semibold">Stiahni si aplikáciu</h3>
                    <div class="mt-4 mb-8 text">
                        Či už ste zákazník, alebo farmár môžete naplno využívať mobilnú aplikáciu. Pozrite si a vyskúšajte si jedinečné funkcie, ktoré sa stanú vašim každodenným pomocníkom či už predávate, alebo nakupujete.
                    </div>

                    <div class="grid grid-cols-3 gap-1 mb-6">
                        <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                            <div class="inline-block">
                                {{ icons.apple('inline-block mr-2 relative -top-2 text-white fill-current') }}
                            </div>
                            <div class="inline-block tracking-wide">
                                Stiahni z<br/><span class="font-semibold">Apple Store</span>
                            </div>
                        </div>
                        <div class="px-5 py-3 text-sm font-light leading-4 text-white uppercase rounded-full cursor-pointer bg-red-of">
                            <div class="inline-block">
                                {{ icons.google_play('inline-block mr-2 relative -top-2 text-white fill-current') }}
                            </div>
                            <div class="inline-block tracking-wide">
                                Stiahni z<br/><span class="font-semibold"> Google Play</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative h-full col-span-3 overflow-hidden">
                    <img src="{{ root }}/assets/img/iphone_1.png" class="absolute z-20 top-5 right-56" />
                    <img src="{{ root }}/assets/img/iphone_2.png" class="absolute z-10 top-9 right-20" />
                </div>
            </div> #}

            <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">

                <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
                    <div class="inline-block">
                        <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                            {{ icons.star('inline-block text-white fill-current w-5 h-5') }}
                        </div>
                    </div>
                    
                    Mohlo by ťa zaujímať
                </h2>

                <div class="grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 gap-7 items">

                    {% for vegetable_product in vegetable_products %}

                    {% set old = old_date(vegetable_product.end_date) %}

                    <div class="mb-5 item">
                        {% if vegetable_product.external %}
                        <a class="relative block" href="{{vegetable_product.external_url}}" target="_blank">
                        {% else %}
                        <a class="relative block" href="{{root}}/home/ponuka/{{vegetable_product.old_id}}/{{vegetable_product.slug}}" up-target=".content" up-follow up-instant >
                        {% endif %}
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        {% if vegetable_product.image[0] and vegetable_product.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{vegetable_product.image[0].filename}});"></div>
                        {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                        {% endif %}
                        </div>

                        {% if old or vegetable_product.quantity === 0 or vegetable_product.flags.length %}
                        <div class="absolute z-10 bottom-2 left-2">
                        {% if old or vegetable_product.quantity === 0 %}
                        <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                            Vypredané
                        </div>
                        {% endif %}
                        {% if vegetable_product.flags.length %}
                        {% for flag in vegetable_product.flags %}
                            {% if flag.ge_active %}
                            <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                {{flag.ge_name}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                        {% endif %}
                        </a>
                        <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ vegetable_product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{vegetable_product.price | price}}</span> za 
                            {{vegetable_product.unit}}
                            {% if vegetable_product.price_for === 'gramy' %}
                            g.
                            {% elif vegetable_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif vegetable_product.price_for === 'liters' %}
                            l.
                            {% elif vegetable_product.price_for === 'kusy' %}
                            ks.
                            {% elif vegetable_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{vegetable_product.price_for}}
                            {% endif %}
                        </div>
                        <div class="mt-1 text-xs leading-4 text-gray-500">{{vegetable_product.farmer.company_name}}</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{vegetable_product.quantity}} 
                            {% if vegetable_product.price_for === 'gramy' %}
                            g.
                            {% elif vegetable_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif vegetable_product.price_for === 'liters' %}
                            l.
                            {% elif vegetable_product.price_for === 'kusy' %}
                            ks.
                            {% elif vegetable_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{vegetable_product.price_for}}
                            {% endif %}
                        </span></div>
                    </div>
                    {% endfor %}

                    {% for fruit_product in fruit_products %}

                    {% set old = old_date(fruit_product.end_date) %}
                    <div class="mb-5 item">
                        {% if fruit_product.external %}
                        <a class="relative block" href="{{fruit_product.external_url}}" target="_blank">
                        {% else %}
                        <a class="relative block" href="{{root}}/home/ponuka/{{fruit_product.old_id}}/{{fruit_product.slug}}" up-target=".content" up-follow up-instant >
                        {% endif %}
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        {% if fruit_product.image[0] and fruit_product.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{fruit_product.image[0].filename}});"></div>
                        {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                        {% endif %}
                        </div>

                        {% if old or fruit_product.quantity === 0 or fruit_product.flags.length %}
                        <div class="absolute z-10 bottom-2 left-2">
                        {% if old or fruit_product.quantity === 0 %}
                        <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                            Vypredané
                        </div>
                        {% endif %}
                        {% if fruit_product.flags.length %}
                        {% for flag in fruit_product.flags %}
                            {% if flag.ge_active %}
                            <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                {{flag.ge_name}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                        {% endif %}
                        </a>
                        <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ fruit_product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{fruit_product.price | price}}</span> za 
                            {{fruit_product.unit}}
                            {% if fruit_product.price_for === 'gramy' %}
                            g.
                            {% elif fruit_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif fruit_product.price_for === 'liters' %}
                            l.
                            {% elif fruit_product.price_for === 'kusy' %}
                            ks.
                            {% elif fruit_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{fruit_product.price_for}}
                            {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{fruit_product.farmer.company_name}}</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{fruit_product.quantity}} 
                            {% if fruit_product.price_for === 'gramy' %}
                            g.
                            {% elif fruit_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif fruit_product.price_for === 'liters' %}
                            l.
                            {% elif fruit_product.price_for === 'kusy' %}
                            ks.
                            {% elif fruit_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{fruit_product.price_for}}
                            {% endif %}
                        </span></div>
                    </div>
                    {% endfor %}

                    {% for herbs_product in herbs_products %}

                    {% set old = old_date(herbs_product.end_date) %}
                    <div class="mb-5 item">
                        {% if herbs_product.external %}
                        <a class="relative block" href="{{herbs_product.external_url}}" target="_blank">
                        {% else %}
                        <a class="relative block" href="{{root}}/home/ponuka/{{herbs_product.old_id}}/{{herbs_product.slug}}" up-target=".content" up-follow up-instant >
                        {% endif %}
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        {% if herbs_product.image[0] and herbs_product.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{herbs_product.image[0].filename}});"></div>
                        {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                        {% endif %}
                        </div>

                        {% if old or herbs_product.quantity === 0 or herbs_product.flags.length %}
                        <div class="absolute z-10 bottom-2 left-2">
                        {% if old or herbs_product.quantity === 0 %}
                        <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                            Vypredané
                        </div>
                        {% endif %}
                        {% if herbs_product.flags.length %}
                        {% for flag in herbs_product.flags %}
                            {% if flag.ge_active %}
                            <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                {{flag.ge_name}}
                            </div>
                            {% endif %}
                        {% endfor %}          
                        {% endif %}
                        </div>
                        {% endif %}
                        </a>
                        <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ herbs_product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{herbs_product.price | price}}</span> za 
                            {{herbs_product.unit}}
                            {% if herbs_product.price_for === 'gramy' %}
                            g.
                            {% elif herbs_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif herbs_product.price_for === 'liters' %}
                            l.
                            {% elif herbs_product.price_for === 'kusy' %}
                            ks.
                            {% elif herbs_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{herbs_product.price_for}}
                            {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{herbs_product.farmer.company_name}}</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{herbs_product.quantity}} 
                            {% if herbs_product.price_for === 'gramy' %}
                            g.
                            {% elif herbs_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif herbs_product.price_for === 'liters' %}
                            l.
                            {% elif herbs_product.price_for === 'kusy' %}
                            ks.
                            {% elif herbs_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{herbs_product.price_for}}
                            {% endif %}
                        </span></div>
                    </div>
                    {% endfor %}

                    {% for meat_product in meat_products %}

                    {% set old = old_date(meat_product.end_date) %}
                    <div class="mb-5 item">
                        {% if meat_products.external %}
                        <a class="relative block" href="{{meat_products.external_url}}" target="_blank">
                        {% else %}
                        <a class="relative block" href="{{root}}/home/ponuka/{{meat_products.old_id}}/{{meat_products.slug}}" up-target=".content" up-follow up-instant >
                        {% endif %}
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        {% if meat_product.image[0] and meat_product.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{meat_product.image[0].filename}});"></div>
                        {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                        {% endif %}
                        </div>

                        {% if old or meat_product.quantity === 0 or meat_product.flags.length %}
                        <div class="absolute z-10 bottom-2 left-2">
                        {% if old or meat_product.quantity === 0 %}
                        <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                            Vypredané
                        </div>
                        {% endif %}
                        {% if meat_product.flags.length %}
                        {% for flag in meat_product.flags %}
                            {% if flag.ge_active %}
                            <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                {{flag.ge_name}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                        {% endif %}
                        </a>
                        <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ meat_product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{meat_product.price | price}}</span> za 
                            {{meat_product.unit}}
                            {% if meat_product.price_for === 'gramy' %}
                            g.
                            {% elif meat_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif meat_product.price_for === 'liters' %}
                            l.
                            {% elif meat_product.price_for === 'kusy' %}
                            ks.
                            {% elif meat_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{meat_product.price_for}}
                            {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{meat_product.farmer.company_name}}</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{meat_product.quantity}} 
                            {% if meat_product.price_for === 'gramy' %}
                            g.
                            {% elif meat_product.price_for === 'kilogramy' %}
                            kg.
                            {% elif meat_product.price_for === 'liters' %}
                            l.
                            {% elif meat_product.price_for === 'kusy' %}
                            ks.
                            {% elif meat_product.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{meat_product.price_for}}
                            {% endif %}
                        </span></div>
                    </div>
                    {% endfor %}

                    {% for baker_products in bakery_products %}

                    {% set old = old_date(baker_products.end_date) %}
                    <div class="mb-5 item">
                        {% if baker_products.external %}
                        <a class="relative block" href="{{baker_products.external_url}}" target="_blank">
                        {% else %}
                        <a class="relative block" href="{{root}}/home/ponuka/{{baker_products.old_id}}/{{baker_products.slug}}" up-target=".content" up-follow up-instant >
                        {% endif %}
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                        {% if baker_products.image[0] and baker_products.image[0].filename %}
                        <div class="w-full bg-center bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{baker_products.image[0].filename}});"></div>
                        {% else %}
                        <div class="w-full bg-center bg-no-repeat bg-contain h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                        {% endif %}
                        </div>

                        {% if old or baker_products.quantity === 0 or baker_products.flags.length %}
                        <div class="absolute z-10 bottom-2 left-2">
                        {% if old or baker_products.quantity === 0 %}
                        <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                            Vypredané
                        </div>
                        {% endif %}
                        {% if baker_products.flags.length %}
                        {% for flag in baker_products.flags %}
                            {% if flag.ge_active %}
                            <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                {{flag.ge_name}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                        {% endif %}
                        </a>
                        <div class="mt-2 text-lg font-semibold leading-5 text-black truncate title">{{ baker_products.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{baker_products.price | price}}</span> za 
                            {{baker_products.unit}}
                            {% if baker_products.price_for === 'gramy' %}
                            g.
                            {% elif baker_products.price_for === 'kilogramy' %}
                            kg.
                            {% elif baker_products.price_for === 'liters' %}
                            l.
                            {% elif baker_products.price_for === 'kusy' %}
                            ks.
                            {% elif baker_products.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{baker_products.price_for}}
                            {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{baker_products.farmer.company_name}}</div>
                        <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{baker_products.quantity}} 
                            {% if baker_products.price_for === 'gramy' %}
                            g.
                            {% elif baker_products.price_for === 'kilogramy' %}
                            kg.
                            {% elif baker_products.price_for === 'liters' %}
                            l.
                            {% elif baker_products.price_for === 'kusy' %}
                            ks.
                            {% elif baker_products.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{baker_products.price_for}}
                            {% endif %}
                        </span></div>
                    </div>
                    {% endfor %}

                    <div class="col-span-2 item lg:col-span-1 md:col-span-3">
                        <div class="mb-3 text-lg font-semibold text-red-of">Sezónne kategórie</div>
                        <div class="text-black">
                            <ul>
                                <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                                    Ovocie
                                    {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                                </li>
                                <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                                    Zelenina
                                    {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                                </li>
                                <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                                    Zabíjačka
                                    {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                                </li>
                                <li class="relative py-1 text-lg font-semibold border-t border-b border-gray-300 cursor-pointer anim-head-shake">
                                    Burčáčik
                                    {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>

    </div>
</div>

<style>
    /* .anim-head-shake:hover .arrow-gray{
        animation: headShake; 
        animation-duration: 3s;
    } */
</style>

<script>
    {# $(".anim-head-shake").mouseenter(function(event) {
        $(this).find('.arrow').addClass("animate__headShake").addClass("animate__animated").addClass("animate__slow");
    });

    $(".show-full-category").mouseenter(function(event) {
        $(this).find('.arrow-white').addClass("animate__headShake").addClass("animate__animated").addClass("animate__slow");
    });

    $(".marker-anim").mouseenter(function(event) {
        $(this).find('.marker').addClass("animate__bounce").addClass("animate__animated");
    });

    $(".marker").on("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd", function(event) {
        $(this).removeClass("animate__bounce").removeClass("animate__animated");
    });

    $(".arrow").on("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd", function(event) {
        $(this).removeClass("animate__headShake").removeClass("animate__animated").removeClass("animate__slow");
    });

    $(".arrow-white").on("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd", function(event) {
        $(this).removeClass("animate__headShake").removeClass("animate__animated").removeClass("animate__slow");
    }); #}

    {# up.compiler('.swiper-container', function(element) {

        console.log('.swiper-container');

        const swiper = new Swiper('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    }); #}
</script>

<style>
    .swiper-button-next, .swiper-button-prev{
        color: #FFF !important;
    }
</style>

{% endblock %}