{% extends "layouts/recipes.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %} 

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="mt-6">

        <div class="lg:max-w-2xl lg:mx-auto px-6">
            <h1 class="mb-6 text-4xl font-semibold leading-10">{{ recipe.title }}</h1>

            <div class="text-sm">
                <span>{{ recipe.created_at | format_date }}</span><span class="ml-2 font-semibold tracking-widest uppercase text-red-of">{{ recipe.category.name }}</span>
            </div>

            <div class="flex flex-row p-6 my-6 text-sm rounded-md bg-gray-of">
                <div class="mr-10">
                    <div>Príprava</div>
                    <div class="text-base font-medium text-red-of">{{ recipe.time.preparation }} min</div>
                </div>
                <div class="mr-10">
                    <div>Varenie</div>
                    <div class="text-base font-medium text-red-of">{{ recipe.time.cooking }} min</div>
                </div>
                <div class="mr-10">
                    <div>Celkový čas</div>
                    <div class="text-base font-medium text-red-of">{{ recipe.time.overall }} min</div>
                </div>
                <div>
                    <div>Kalórie</div>
                    <div class="text-base font-medium text-red-of">{{ recipe.calories }} Kcal</div>
                </div>
            </div>

            <div class="mb-10">
                {{ recipe.perex }}
            </div>
        </div>

        <div class="overflow-hidden mt-14 mb-14 rounded-xl h-96">
            <div class="w-full bg-center bg-cover h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_medium/{{ recipe.img }});"></div>
        </div>

        <div class="grid grid-cols-12 gap-10 px-6">

            <div class="lg:col-span-3 col-span-12">
                <div class="p-5 rounded-md bg-red-of-bg">
                    <div class="mb-3 text-lg font-medium text-red-of">Ingrediencie</div>

                    {% for item in recipe.ingredients %}

                    <div class="flex flex-row py-2 text-sm border-b-2 border-white">
                        <div class="flex-auto font-semibold"><a up-follow up-instant href="{{root}}/recepty?q={{item.title | urlencode}}">{{ item.title }}</a></div>
                        <div class="flex-auto text-right">{{ item.value }}</div>
                    </div>

                    {% endfor %}

                </div>

                <div class="mt-5 mb-3 text-lg font-medium text-green-900">Zdieľaj</div>

                <div class="inline-block">
                    <div data-sharer="facebook" data-title="{{item.title}}" data-hashtags="odfarmara.sk" data-url="{{root}}/recept/{{item.id}}" class="flex items-center justify-center w-10 h-10 mr-3 rounded-full cursor-pointer bg-green-of-button">
                        {{ icons.facebook('inline-block text-white fill-current w-5 h-5') }}
                    </div>
                </div>

                <div class="inline-block">
                    <div data-sharer="twitter" data-title="{{item.title}}" data-hashtags="odfarmara.sk" data-url="{{root}}/recept/{{item.id}}" class="flex items-center justify-center w-10 h-10 mr-3 rounded-full cursor-pointer bg-green-of-button">
                        {{ icons.twitter('inline-block text-white fill-current w-5 h-5') }}
                    </div>
                </div>
                
                <div class="inline-block ">
                    <div class="flex items-center justify-center w-10 h-10 mr-3 rounded-full cursor-pointer bg-green-of-button" data-sharer="reddit" data-url="{{root}}/recept/{{item.id}}">
                        {{ icons.reddit('inline-block text-white fill-current w-4 h-4') }}
                    </div>
                </div>
            </div>

            <div class="lg:col-span-9 col-span-12">
                <h2 class="mb-3 text-2xl font-medium text-red-of">Postup</h2>

                {% for item in recipe.procedure %}

                <div class="flex flex-row items-center p-6 mb-2 rounded-md bg-gray-of">
                    <div>
                        <div class="content-center pt-1 mr-8 font-medium text-center border-2 border-red-500 rounded-full w-9 h-9 text-red-of">{{item.step}}.</div>
                    </div>
                    <div class="text-sm">
                    {{item.content}}
                    </div>
                </div>

                {% endfor %}

                <div class="mt-10">
                {{ recipe.contents | safe }}
                </div>

                {# <div class="my-10">
                    Seamlessly coordinate customized mindshare rather than empowered innovation. Energistically aggregate client-centered strategic theme areas without client-based "outside the box" thinking. Authoritatively envisioneer extensible internal or "organic" sources via leveraged e-services. Dynamically unleash low-risk high-yield e-services whereas parallel models. Quickly revolutionize backward-compatible collaboration and idea-sharing without corporate catalysts for change. Progressively communicate 24/365 infomediaries through value-added interfaces. Interactively brand sustainable networks vis-a-vis resource-leveling metrics. Compellingly restore timely experiences through fully tested partnerships.
                </div>

                <div class="pl-6 my-10 font-semibold border-l-2 border-red-600">
                    Credibly architect resource sucking imperatives after team driven platforms. Progressively supply standards compliant process improvements whereas future-proof quality vectors. Uniquely simplify one-to-one metrics whereas synergistic supply chains. Uniquely integrate high-payoff processes whereas 24/365 web services.
                </div>

                <div class="my-10">
                    Dramatically engineer value-added web-readiness without distributed channels. Seamlessly cultivate e-business results and front-end processes. Competently incentivize granular models vis-a-vis global action items. Energistically redefine frictionless bandwidth with interoperable e-markets. Uniquely mesh strategic quality vectors vis-a-vis 2.0 internal or "organic" sources. Completely provide access to excellent applications after reliable channels. Assertively underwhelm B2B human capital before strategic networks.
                </div>

                <div class="my-10">
                    Dynamically leverage existing effective networks rather than long-term high-impact data. Compellingly engineer backend value after an expanded array of action items. Proactively cultivate error-free infomediaries vis-a-vis economically sound platforms. Holisticly exploit one-to-one leadership skills and bleeding-edge products. Uniquely architect B2C initiatives and robust action items. Interactively repurpose real-time partnerships vis-a-vis timely interfaces.
                </div>

                <h2 class="mb-3 text-2xl font-medium text-red-of">Based synergy through multimedia based channels</h2>

                <div class="my-10">
                    Collaboratively empower goal-oriented potentialities for dynamic channels. Phosfluorescently build diverse users whereas innovative potentialities. Quickly procrastinate focused deliverables via global ROI. Monotonectally syndicate covalent manufactured products through cross-platform internal or "organic" sources. Competently leverage other's effective relationships vis-a-vis integrated web-readiness. Efficiently leverage other's standardized manufactured products vis-a-vis market positioning products.
                </div>

                <div class="my-10">
                    Energistically iterate compelling infomediaries through collaborative vortals. Synergistically foster worldwide markets rather than vertical services. Credibly strategize synergistic relationships through empowered sources. Collaboratively transform technically sound.
                </div> #}
            </div>
        
        </div>

    </div>
</div>

{% endblock %}