{% extends "layouts/recipes.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 gap-8 mt-6 px-6">

        <div class="lg:col-span-9 col-span-12">

            {% if searching %}

                {% if docs.length %}

                    <div class="grid grid-cols-3 gap-4 mt-6">
                    {% for item in docs %}

                        <div class="mb-5 item">
                            
                            <a href="{{root}}/recept/{{item.id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                <div class="absolute z-10 px-1 sm:px-2 py-1 text-xs rounded bg-greygreen-light-of-bg left-2 bottom-2">
                                    {% if item.ge_time %}
                                        {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                                        <span class="uppercase">{{item.ge_time}} min</span>
                                    {% endif %}
                                    {% if item.ge_calories %}
                                    <span class="uppercase">
                                        {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                                        {{item.ge_calories}} kcal
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="relative w-full bg-center bg-cover h-60 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ item.ge_thumbnail }});"></div>
                            </div>
                            </a>
                            <div class="mt-2 text-xs text-gray-500">{{ item.ge_created_date | format_date }}</div>
                            <div class="mt-0 text-xs text-gray-500">{{ item.ge_category_name }}</div>
                            <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ item.ge_name }}</div>
                        </div>

                    {% endfor %}
                    </div>

                    <div class="mt-12">
                    {% include "elements/content/list/pagination.njk" %}
                    </div>

                {% else %}
                    Žiadne recepty na zobrazenie
                {% endif %}
            
            {% else %}

            {% if tags.length %}
            <div class="mt-1 mb-4 text-xs">
                <ul>
                    {% for tag in tags %}
                    <li class="inline-block mb-2 mr-1"><a class="inline-block px-6 py-2 text-white rounded-md bg-red-of border-2-transparent" href="{{root}}/tag/{{tag.slug}}" up-follow up-instant>{{tag.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="grid grid-cols-2 gap-5 mt-6">

                <div class="col-span-2">
                    {% if latestRecipes and latestRecipes[0] %}
                    <div class="mb-5 item">
                        <a href="{{root}}/recept/{{latestRecipes[0].id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="absolute z-10 px-1 sm:px-2 py-1 text-xs rounded bg-greygreen-light-of-bg left-2 bottom-2">
                                {% if latestRecipes[0].time and latestRecipes[0].time.overall %}
                                    {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                                    <span class="uppercase">{{latestRecipes[0].time.overall}} min</span>
                                {% endif %}
                                {% if latestRecipes[0].calories %}
                                <span class="uppercase">
                                    {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                                    {{latestRecipes[0].calories}} kcal
                                    </span>
                                {% endif %}
                            </div>
                            <div class="w-full bg-center bg-cover h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestRecipes[0].img }});">
                            </div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestRecipes[0].created_at | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestRecipes[0].category.name }}</div>
                        <div class="mt-1 text-2xl font-semibold text-black">{{ latestRecipes[0].title }}</div>

                    </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if latestRecipes and latestRecipes[1] %}
                    <div class="mb-5 item">
                        <a href="{{root}}/recept/{{latestRecipes[1].id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="absolute z-10 px-1 sm:px-2 py-1 text-xs rounded bg-greygreen-light-of-bg left-2 bottom-2">
                                {% if latestRecipes[1].time and latestRecipes[1].time.overall %}
                                    {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                                    <span class="uppercase">{{latestRecipes[1].time.overall}} min</span>
                                {% endif %}
                                {% if latestRecipes[1].calories %}
                                <span class="uppercase">
                                    {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                                    {{latestRecipes[1].calories}} kcal
                                    </span>
                                {% endif %}
                            </div>
                            <div class="w-full bg-center bg-cover h-40 sm:h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestRecipes[1].img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestRecipes[1].created_at | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestRecipes[1].category.name }}</div>
                        <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ latestRecipes[1].title }}</div>
                    </div>
                    {% endif %}
                </div>
                <div class="">
                    {% if latestRecipes and latestRecipes[2] %}
                    <div class="mb-5 item">
                        <a href="{{root}}/recept/{{latestRecipes[2].id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="absolute z-10 px-1 sm:px-2 py-1 text-xs rounded bg-greygreen-light-of-bg left-2 bottom-2">
                                {% if latestRecipes[2].time and latestRecipes[2].time.overall %}
                                    {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                                    <span class="uppercase">{{latestRecipes[2].time.overall}} min</span>
                                {% endif %}
                                {% if latestRecipes[2].calories %}
                                <span class="uppercase">
                                    {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                                    {{latestRecipes[2].calories}} kcal
                                    </span>
                                {% endif %}
                            </div>
                            <div class="w-full bg-center bg-cover h-40 sm:h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ latestRecipes[2].img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ latestRecipes[2].created_at | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ latestRecipes[2].category.name }}</div>
                        <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ latestRecipes[2].title }}</div>
                    </div>
                    {% endif %}
                </div>

            </div>
            {% endif %}

        </div>

        <div class="lg:col-span-3 col-span-12">

            <div class="p-6 mt-6 rounded-md cursor-pointer bg-red-of-bg">
                <div class="flex">
                    <div>
                        <div class="inline-block">
                            <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
                                {{ icons.post_box('inline-block text-white fill-current w-5 h-5') }}
                            </div>
                        </div>
                    </div>
                    <div class="text-2xl font-medium leading-6 text-red-of">Nezmeškajte novinky</div>
                </div>
                
                <div class="my-5 text-sm">
                    Dostávajte pravideľné novinky do vašej poštovej schránky.
                </div>

                {% include "elements/content/form/newsletter.njk" %}

                {% include "elements/content/modals/newsletter.njk" %}
                {% include "elements/content/modals/newsletter_exists.njk" %}
                
            </div>

            {# <div class="relative h-64 p-6 mt-10 overflow-hidden text-center rounded-md cursor-pointer bg-green-of-app-bg">
                <span class="font-medium text-red-of">Aplikácia</span>
                <img src="{{ root }}/assets/img/iphone_1.png" class="relative m-0 top-4 left-4" />
            </div> #}
            
        </div>
        
    </div>

    <h2 class="flex items-center mt-5 mb-5 text-2xl font-medium text-red-of px-6">
        Populárne recepty
    </h2>

    <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 mt-6 px-6">

        {% for recipe in popularRecipes %}

        <div class="mb-5 item">
            <a href="{{root}}/recept/{{recipe.id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                <div class="absolute z-10 px-1 sm:px-2 py-1 text-xs rounded bg-greygreen-light-of-bg left-2 bottom-2">
                    {% if recipe.time and recipe.time.overall %}
                        {{ icons.stopwatch('inline-block fill-current w-4 h-4 mr-1') }}
                        <span class="uppercase">{{recipe.time.overall}} min</span>
                    {% endif %}
                    {% if recipe.calories %}
                    <span class="uppercase">
                        {{ icons.kcal('inline-block fill-current w-4 h-4') }}
                        {{recipe.calories}} kcal
                        </span>
                    {% endif %}
                </div>
                <div class="w-full bg-center bg-cover h-80 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ recipe.img }});"></div>
            </div>
            </a>
            <div class="mt-2 text-xs text-gray-500">{{ recipe.created_at | format_date }}</div>
            <div class="mt-0 text-xs text-gray-500">{{ recipe.category.name }}</div>
            <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ recipe.title }}</div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}