{% import "elements/content/icons.njk" as icons %}
{% extends "layouts/login.njk" %}

{% block content %}

<div class="flex h-screen overflow-hidden">
    <div class="w-full max-w-screen-md pt-6 m-auto text-center px-6">

        <div class="grid items-center max-w-screen-md p-10 mx-auto text-left bg-white rounded-md">

            <div class="mb-5 text-center">
                <a class="inline-block" href="{{root}}" up-follow up-instant up-follow up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>

            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 text-black">
                <a class="flex items-center justify-center h-64 text-center rounded bg-red-of/20" href="{{root}}/registracia/zakaznik" up-follow up-instant up-follow up-target="body">
                    <div>
                        {{ icons.cart_large('inline-block w-20 opacity-50') }}
                        <span class="block text-2xl font-medium">Chcem nakupovať</span>
                        <span class="block font-medium">Registrovať</span>
                    </div>
                </a>
                <a class="flex items-center justify-center h-64 text-center rounded bg-green-of-button-2/20" href="{{root}}/registracia/farmar" up-follow up-instant up-follow up-target="body">
                    <div>
                        {{ icons.farmer_large('inline-block w-20 opacity-50') }}
                        <span class="block text-2xl font-medium">Chcem predávať</span>
                        <span class="block font-medium">Registrovať</span>
                    </div>
                </a>
            </div>

        </div>

        <div class="py-5 text-xs text-black">© Odfarmara.sk, všetky práva vyhradené 2017-{{ thisYear() }}.</div>

    </div>
</div>

{% endblock %}
