{% extends "layouts/login.njk" %}

{% block content %}

<div class="flex h-screen overflow-hidden">
    <div class="w-full max-w-screen-md pt-6 m-auto text-center px-6">

        <div class="grid items-center max-w-screen-md p-10 mx-auto text-left bg-white rounded-md">

            <div class="mb-5 text-center">
                <a class="inline-block" href="{{root}}" up-follow up-instant up-follow up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>

            <h1 class="mb-8 text-2xl font-medium text-center text-red-of">Potvrdenie registrácie</h1>

            {% if(success_message) %}

            <div class="text-center">{{success_message}}</div>
            <a class="block w-full p-3 mt-8 font-medium text-center text-white uppercase rounded-full bg-red-of" href="{{root}}/prihlasenie" up-follow up-instant up-follow up-target="body">Prihlásiť</a>
            
            {% endif %}

            {% if(false_message) %}

            <div class="text-center">{{false_message}}</div>
            <div class="text-center"><a href="{{root}}/zabudnute-heslo">Zabudnute heslo</a></div>
            
            {% endif %}

        </div>

    </div>
</div>

{% endblock %}
