{% extends "layouts/main.njk" %}

{% block content %}

<div class="grid items-center max-w-screen-xl mx-auto mt-10">

  {% include "elements/content/list/categories.njk" %}

  <form class="my-10" method="get" up-submit up-target=".content">
    <input type="text" name="q" value="{{q}}" />
  </form>

  <div class="mb-10">
  {% for item in docs %}
    <div>{{item.ge_title}} - {{item.ge_category}} - {{item.ge_subcategory}}</div>
  {% endfor %}
  </div>


  {# <div class="my-5">
  {{numFound}}
  </div>

  <div class="my-5">
  {{pages}}
  </div>

  <div class="my-5">startItem - {{startItem}}</div> #}

  {% include "elements/content/list/pagination.njk" %}
</div>

{% endblock %}