{% extends "layouts/main.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}

    <div class="overflow-hidden bg-white">
        <div class="pt-6">

            <div class="grid items-center max-w-screen-xl px-6 mx-auto mt-10">
                
                <h2 class="flex items-center mt-5 mb-5 text-2xl font-medium text-red-of">
                    Tag {{tag.name}}
                </h2>

                {% if tag.description %}
                <div class="text-sm">
                    {{ tag.description | safe }}
                </div>
                {% endif %}

                {% if products and products.length %}

                <h2 class="flex items-center mt-5 mb-1 text-2xl font-medium text-red-of">
                    Produkty
                </h2>

                <div class="grid grid-cols-2 gap-7 items lg:grid-cols-4">

                    {% for product in products %}

                    {% set favorite = favoriteProduct(favoriteProducts, product.old_id) %}

                    <div class="mb-5 item">
                        <a href="{{root}}/home/ponuka/{{product.old_id}}/{{product.slug}}" up-follow up-instant>
                            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                {% if product.image[0] and product.image[0].filename %}
                                <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{product.image[0].filename}});"></div>
                                {% else %}
                                <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                                {% endif %}

                                {% if(favorite) %}
                                <div class="absolute top-0 z-10 h-8 px-2 py-1 rounded-b-lg right-2 bg-red-of">
                                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                                </div>
                                {% endif %}

                                {% if old or product.quantity === 0 or product.flags.length %}
                                <div class="absolute z-10 bottom-2 left-2">
                                {% if old or product.quantity === 0 %}
                                <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                                    Vypredané
                                </div>
                                {% endif %}
                                {% if product.flags.length %}
                                {% for flag in product.flags %}
                                    {% if flag.ge_active %}
                                    <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                                        {{flag.ge_name}}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black truncate title">{{ product.title }}</div>
                        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{product.price | price}}</span> za 
                        {{product.unit}}
                        {% if product.price_for.trim() === 'gramy' %}
                        g.
                        {% elif product.price_for.trim() === 'kilogramy' %}
                        kg.
                        {% elif product.price_for.trim() === 'liters' %}
                        l.
                        {% elif product.price_for.trim() === 'kusy' %}
                        ks.
                        {% elif product.price_for.trim() === 'balenie' %}
                        bal.
                        {% else %}
                        {{product.price_for}}.
                        {% endif %}
                        </div>
                        <div class="mt-1 text-xs text-gray-500">{{product.farmer.company_name}}</div>
                        {% if product.quantity %}
                        <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{product.quantity}} 
                        {% if product.price_for === 'gramy' %}
                        g.
                        {% elif product.price_for === 'kilogramy' %}
                        kg.
                        {% elif product.price_for === 'liters' %}
                        l.
                        {% elif product.price_for === 'kusy' %}
                        ks.
                        {% elif product.price_for === 'balenie' %}
                        bal.
                        {% else %}
                        {{product.price_for}}.
                        {% endif %}
                        </span></div>
                        {% endif %}
                    </div>

                {% endfor %}

                </div>

            {% endif %}



            {% if farmers and farmers.length %}

                <h2 class="flex items-center mt-5 mb-1 text-2xl font-medium text-red-of">
                    Farmári
                </h2>

                {% for item in farmers %}

                    {% set favorite = favoriteProduct(favoriteFarmers, item.id) %}

                    <div class="mb-5 item">
                        <a href="{{root}}/home/profil/{{item.id}}/{{item.slug}}" up-target=".content" up-follow up-instant>
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            {% if item.ge_thumbnail %}
                            <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{ root }}/assets/assets_web/thumb_medium/{{item.ge_thumbnail}});"></div>
                            {% else %}
                            <div class="w-full bg-70% bg-no-repeat bg-center bg-greygreen-light-of-bg thumb-image h-60" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                            {% endif %}
                            {% if(favorite) %}
                                <div class="absolute z-10 px-2 py-1 h-8 rounded-b-lg top-0 right-1.5 bg-red-of">
                                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                                </div>
                            {% endif %}
                        </div>
                        </a>
                        <div class="mt-2 text-lg font-semibold text-black">{{item.ge_company_name}}</div>
                        {% if(item.ge_name) %}
                        <div class="mt-1 text-xs text-gray-500">{{item.ge_name}}</div>
                        {% endif %}

                        <div class="mt-1">
                        {% if item.ge_region == 1 %}
                        {{ regions.banskobystricky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 2 %}
                        {{ regions.bratislavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 3 %}
                        {{ regions.kosicky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 4 %}
                        {{ regions.nitriansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 5 %}
                        {{ regions.presovsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 6 %}
                        {{ regions.trenciansky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 7 %}
                        {{ regions.trnavsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 8 %}
                        {{ regions.zilinsky_kraj('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        {% if item.ge_region == 9 or item.ge_region == 0 %}
                        {{ regions.sk('inline-block mr-2', '50px', root) }}
                        {% endif %}
                        </div>

                        <div class="mt-1">
                        {% if rating(item.ge_rating) == 0 %}
                        {{ icons.rating_0('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 0.5 %}
                        {{ icons.rating_0_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 1 %}
                        {{ icons.rating_1('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 1.5 %}
                        {{ icons.rating_1_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 2 %}
                        {{ icons.rating_2('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 2.5 %}
                        {{ icons.rating_2_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.rating_avg) == 3 %}
                        {{ icons.rating_3('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 3.5 %}
                        {{ icons.rating_3_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 4 %}
                        {{ icons.rating_4('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 4.5 %}
                        {{ icons.rating_4_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        {% if rating(item.ge_rating) == 5 %}
                        {{ icons.rating_5('inline-block text-red-of fill-current h-4') }}
                        {% endif %}
                        </div>
                    </div>

                    {% endfor %}

            {% endif %}


            {% if recipes and recipes.length %}

                <h2 class="flex items-center mt-5 mb-1 text-2xl font-medium text-red-of">
                    Recepty
                </h2>

                <div class="grid grid-cols-2 gap-7 items lg:grid-cols-4">

                    {% for item in recipes %}

                    <div class="mb-5 item">
                        <a href="{{root}}/recept/{{item.id}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ item.img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ item.created_at | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ item.category.name }}</div>
                        <div class="mt-1 text-lg font-semibold leading-5 text-black">{{ item.title }}</div>
                    </div>

                    {% endfor %}

                </div>

            {% endif %}


            {% if articles and articles.length %}

                <h2 class="flex items-center mt-5 mb-1 text-2xl font-medium text-red-of">
                    Články blogu
                </h2>

                <div class="grid grid-cols-2 gap-7 items lg:grid-cols-4">

                    {% for item in articles %}

                    <div class="mb-5 item">
                        <a href="{{root}}/cms/blogdetails/{{ item.article_id }}/{{item.slug}}" up-target=".content" up-follow up-instant up-transition="cross-fade">
                        <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{ item.blog_img }});"></div>
                        </div>
                        </a>
                        <div class="mt-2 text-xs text-gray-500">{{ item.date | format_date }}</div>
                        <div class="mt-0 text-xs text-gray-500">{{ item.category.name }}</div>
                        <div class="mt-1 text-lg font-semibold leading-8 text-black">{{ item.title }}</div>
                    </div>

                    {% endfor %}

                </div>

            {% endif %}
                
            </div>
        </div>

    </div>

{% endblock %}