{% extends "layouts/main.njk" %}

{% block content %}

    <div class="overflow-hidden bg-white">
        <div class="pt-6">
            <div class="max-w-screen-xl px-6 mx-auto mt-10 text-sm">
                    <h1 class="text-xl font-semibold mb-4">Podmienky používania portálu Odfarmara.sk</h1>

                    <p class="mb-4">1. Odfarmara.sk je internetový portál s prepojením na mobilnú aplikáciu prevádzkované spoločnosťou XO CREATIVE s.r.o., ďalej len Prevádzkovateľ.</p>

                    <p class="mb-4">Portál Odafarmara.sk slúži na zverejňovanie produktov priamo od farmárov ( pestovateľov, chovateľov a prvovýrobcov, ) ktorí ponúkajú svoje produkty prostredníctvom portálu a mobilnej aplikácie Odfarmara.sk priamo zákazníkom.</p>

                    <p class="mb-4">“Farmár“ (ďalej len farmár ) je fyzická alebo právnická osoba, ktorá ponúka na portály svoje produkty a výrobky. Pod farmárskymi produktmi sa hlavne rozumie dopestované ovocie a zelenina na Slovensku, spracované, očistené a hygienicky nezávadné mäso a mäsové výrobky, ktoré pochádzajú výhradne zo slovenských chovov a s iné produkty potravinárskeho charakteru, ktoré boli vyrobené na Slovensku z lokálnych surovín alebo produktov.</p>

                    <p class="mb-4">„Zákazník“ ( ďalej len zákazník) je fyzická alebo právnická osoba, ktorá má záujem o farmárske produkty a prostredníctvom portálu Odfarmara.sk má záujem získať kontakt na farmára a uzavrieť s farmárom dohodu o obchode.</p>

                    <p class="mb-4">Farmár je povinný používať portál za účelom, na ktorí bol vytvorený a ponuky musia spĺňať filozofiu projektu, ktoré sú uvádzané na www stránkach www.odfarmara.sk Prevádzkovateľ si vyhradzuje právo bez udania dôvodu zrušiť účet farmára, prípadne blokovať prístup na stránky www.odfarmara.sk pokiaľ poruší podmienky používania.</p>

                    <p class="mb-4 font-semibold">Je hlavne zakázané:</p>

                    <p class="mb-4">- ponúkať na portály akékoľvek produkty ( ovocie, zelenina atď .. .. ) dopestované mimo územia Slovenska</p>

                    <p class="mb-4">- farmár nesmie ponúkať produkty, ktoré sprostredkovane nakúpil ( z druhej ruky )</p>

                    <p class="mb-4">- farmár nesmie ponúkať produkty, ktoré nespĺňajú hygienické požiadavky</p>

                    <p class="mb-4">- farmár nesmie uverejňovať v ponukách linky na svoje stránky alebo vlastnú propagáciu, pokiaľ nemá zakúpenú reklamu alebo prémium účet</p>
            
                    <p class="mb-4">- ponuka sa môže zverejňovať iba jednotlivo, nie viacero ponúk v jednej ponuke</p>

                    <p class="mb-4">- fotografie a multimédiá nesmú obsahovať watermark, alebo iné stopy písma</p>

                    <p class="mb-4">- nesmie používať ilustračné, alebo odcudzené fotografie a zverejňovať ich na portály</p>

                    <p class="mb-4">- kopírovať iné ponuky a zverejňovať ich pod svojim menom</p>

                    <p class="mb-4">- zasielať zákazníkom nevyžiadané ponuky</p>

                    <p class="mb-4">- farmár musí mať správne kontaktné údaje vo svojom profile</p>

                    <p class="mb-4">- ak dôjde k podozreniu nekorektného jednania</p>

                    <p class="mb-4">Prevádzkovateľ si vyhradzuje právo na zmazanie akejkoľvek ponuky, účtu zákazníka, alebo farmára ktorá nezapadá do filozofie a konceptu projektu Odfarmara.sk.</p>
                    
                    <p class="mb-4">Prevádzkovateľ si vyhradzuje právo vykonať zmeny v ponukách, prípadne ponuky odstrániť, ak bude v rozpore s platnými zákonmi Slovenskej republiky, s filozofiou projektu Odfarmara.sk alebo dobrými mravmi.</p>
                    
                    <p class="mb-4">Prevádzkovateľ má právo zmazať ponuku pokiaľ je ponuka vložená do nesprávnej kategórie. Ponuka bude bezplatne zverejnená po dobu 3 mesiacov, po tejto dobe bude ponuka automaticky vymazaná z verejne dostupnej sekcie portálu Odfarmara.sk.</p>
                    
                    <p class="mb-4">Prevádzkovateľ je sprostredkovateľ tzv.. Prvého kontaktu. Prevádzkovateľ sprostredkováva kontakt medzi farmárom a zákazníkom a nepreberá tak žiadne záruky a zodpovednosť za kvalitu, pôvod, dodanie, zaplatenie za produkty, cenu, výrobky a pod...</p>
                    
                    <p class="mb-4">Zákazník môže portál využívať len na to, na čo bol vytvorený a to hlavne na prezeranie ponúk od farmárov, kontaktovanie farmárov s úmyslom uzavrieť obchodnú dohodu, sledovanie ponúk a pod...</p>
                    
                    <p class="mb-4 font-semibold">Prevádzkovateľ si vyhradzuje právo bez udania dôvodu zrušiť účet zákazníka prípadne blokovať mu prístup na stránky www.odfarmara.sk a to hlavne z dôvodu :</p>
                    
                    <p class="mb-4">- Ak dôjde k podozreniu nekorektného jednania</p>

                    <p class="mb-4">- Ak opakovane dôjde k nepreberaniu objednaného tovaru, produktu a pod...</p>

                    <p class="mb-4">- Zatajovaniu kontaktných údajov, ktoré bránia k úspešnému dojednaniu obchodu</p>

                    <p class="mb-4">- Chybné, alebo nepravdivé kontaktné údaje vyplnené v profile zákazníka</p>

                    <p class="mb-4">- Zasielanie nevyžiadanej reklamy na kontakty farmárov</p>

                    <p class="mb-4">- Zneužitie systému na získanie kontaktov</p>

                    <p class="mb-4">Prevádzkovateľ nenesie žiadnu zodpovednosť za škody, ktoré by zákazníkovi alebo farmárovi ,alebo tretím osobám priamo, nepriamo či náhodne vznikli v dôsledku, alebo v súvislosti s využívaním portálu Odfarmara.sk Nezodpovedá za škody, ktoré by zákazníkom, farmárom alebo tretím osobám vznikli v dôsledku nemožnosti využívania portálu Odfarmara.sk alebo v priamej či nepriamej súvislosti s touto skutočnosťou.</p>
                    
                    <p class="mb-4">Prevádzkovateľ si vyhradzuje právo použiť multimediálny obsah, alebo písomný obsah zverejnený farmármi, alebo zákazníkmi a použiť ich tak na marketingové účely a to hlavne na sociálnych sieťach a pod...</p>

                    <p class="mb-4">Prevádzkovateľ je oprávnený bez súhlasu zákazníkov a farmárov a aj bez ich predchádzajúceho oznámenia upravovať alebo inovovať systém, server, hardware, alebo akúkoľvek inú časť statického, alebo dynamického obsahu portálu Odfarmara.sk.</p>

                    <p class="mb-4">Cez portál Odfarmara.sk sa nesmú ponúkať potraviny, produkty a výrobky vyrobené mimo územia Slovenskej republiky.</p>

                    <p class="mb-4">Zakazuje sa ponúkať a predávať cez portál Odfarmara.sk plodiny, živočíšne, alebo rastlinné druhy, ktoré sú zákonom chránené, alebo nejakým iným spôsobom obmedzený, alebo zakázaný ich predaj z hygienického dôvodu. Taktiež sa nesmie cez portál Odfarmara.sk predávať a ponúkať lesné plody, alebo produkty nazbierané v lese.</p>

                    <p class="mb-4">Tieto podmienky nadobúdajú platnosť a účinnosť v okamihu ich zverejnenia. Prevádzkovateľ si vyhradzuje právo tieto podmienky zmeniť.</p>
                    
                    <p class="mb-4">Uvedené ceny produktov sú uvedené ako orientačné a nepovažujú sa za konečné. Konečnú cenu určuje konečný predajca po vzájomnej komunikácii so zákazníkom.</p>
            </div>
         </div>
    </div>

{% endblock %}