{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6 px-6">

    {% include "elements/content/form/add_product.njk" %}

    </div>
</div>
{% endblock %}