{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of px-6">

            <h1 class="mb-8 text-xl font-semibold">Obľúbené produkty</h1>

            {% include "elements/content/profile/favorite_products.njk" %}

        </div>

    </div>
</div>
{% endblock %}