{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl px-6 pb-20 mx-auto mt-2 bg-gray-of">

            <h1 class="mb-8 text-2xl font-medium text-red-of">Prehľad</h1>

            {% if(offerCreatedMessage) %}
            <div class="px-6 py-4 mb-4 text-sm font-medium bg-green-200 rounded-md">
                <span class="text-green-800">{{offerCreatedMessage}}</span>
            </div>
            {% endif %}

            {% if(user.admin) %}
            <div class="px-6 py-4 mb-8 text-sm font-medium bg-green-200 rounded-md">
                <span class="text-green-800">Ste administrátorom.</span> <a class="text-green-800 underline" href="{{root}}/administracia">Spravovať stránku</a>
            </div>
            {% endif %}

            <div class="grid grid-cols-2 gap-6">

                {% if(inbox.length) %}
                <div class="col-span-2 p-10 bg-white border border-gray-300 rounded-lg">
                    <h2 class="mb-6 font-semibold">Najnovšie správy</h2>

                    <div class="mb-5 border border-gray-300 rounded-lg">
                    {% for item in inbox %}

                    {% if loop.last === false %}
                    {% set borderClasses = 'border-b border-gray-300' %}
                    {% else %}
                    {% set borderClasses = '' %}
                    {% endif %}

                    <div class="grid items-center grid-cols-12 px-5 py-8 text-sm {{borderClasses}}">
                        <div class="flex items-center col-span-3 font-semibold">
                            <div class="inline-block w-2 h-2 bg-red-600 rounded-full"></div>
                            <div class="relative inline-block w-12 h-12 mx-2 overflow-hidden bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb.jpg);">
                            </div>
                            {{item.user.name}}
                        </div>
                        <div class="col-span-6 px-4">
                            {% if(item.id_demand) %}
                            <span class="px-2 py-1 mr-2 text-xs tracking-widest text-white uppercase bg-green-500 rounded-sm inlne-block">Dopyt</span><span class="font-bold">{{item.demand.product.title}}</span>. Množstvo {{item.demand.quantity}} {{item.demand.price_for}} v cene {{item.demand.quantity * item.demand.price}} €.
                            {% else %}
                            {{item.content | safe}}
                            {% endif %}
                        </div>
                        <div class="col-span-2">{{item.created | format_date_time}}</div>
                        <div class="col-span-1 text-right"><a href="{{root}}/ucet/sprava/{{item.id_inbox}}" up-target="body" up-scroll="body" up-follow up-instant>{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</a></div>
                    </div>

                    {# <div class="mb-5 border border-gray-300 rounded-lg">
                        <div class="grid items-center grid-cols-12 px-5 py-8 text-sm">
                            <div class="flex items-center col-span-3 font-semibold">
                                <div class="inline-block w-2 h-2 bg-red-600 rounded-full"></div>
                                <div class="relative inline-block w-12 h-12 mx-2 overflow-hidden bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb.jpg);">
                                </div>
                                Farma u dubového smreku
                            </div>
                            <div class="col-span-6">Dobry den, zaujem o tonu jablk.</div>
                            <div class="col-span-2">23.12.2017</div>
                            <div class="col-span-1 text-right">{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</div>
                        </div>
                        <div class="grid items-center grid-cols-12 px-5 py-8 text-sm border-t border-gray-300">
                            <div class="flex items-center col-span-3 font-semibold">
                            <div class="inline-block w-2 h-2 bg-red-600 rounded-full"></div>
                            <div class="inline-block w-12 h-12 mx-2 bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                                Jan Smrek
                            </div>
                            <div class="col-span-6"><span class="px-2 py-1 mr-2 text-xs tracking-widest text-white uppercase bg-green-500 rounded-sm inlne-block">Dopyt</span><span class="font-bold">Organická zelenina v košíku - 4 druhy</span>. Množstvo 4kg v cene 92 €.</div>
                            <div class="col-span-2">23.12.2017</div>
                            <div class="col-span-1 text-right">{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</div>
                        </div>
                    </div> #}

                    {% endfor %}
                    </div>

                    <a href="{{root}}/ucet/spravy" up-follow up-instant class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">Všetky správy</a>

                </div>
                {% endif %}

                {% if(products.length) %}
                <div class="p-10 bg-white border border-gray-300 rounded-lg">
                    <h2 class="mb-6 font-semibold">Najsledovanejšie produkty</h2>

                    <div class="grid grid-cols-2 gap-6">
                        {% for item in products %}
                        <div class="relative mb-5 item">
                            <a href="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" up-follow up-instant up-target="body" class="relative inline-block w-full">
                                <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                                    {% if item.image[0] and item.image[0].filename %}
                                    <div class="w-full h-48 bg-center bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.image[0].filename}});"></div>
                                    {% else %}
                                    <div class="w-full h-48 bg-center bg-cover bg-gray-dark-of thumb-image">
                                    </div>
                                    {% endif %}
                                </div>
                                {% if item.image[0] == null %}
                                <div class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                                {% endif %}
                            </a>
                            <div class="mt-2 text-lg font-semibold text-black truncate title">{{ item.title }}</div>
                            <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{item.price | price}}</span> za 
                            {{item.unit}}
                            {% if item.price_for.trim() === 'gramy' %}
                            g.
                            {% elif item.price_for.trim() === 'kilogramy' %}
                            kg.
                            {% elif item.price_for.trim() === 'liters' %}
                            l.
                            {% elif item.price_for.trim() === 'kusy' %}
                            ks.
                            {% elif item.price_for.trim() === 'balenie' %}
                            bal.
                            {% else %}
                            {{item.price_for}}.
                            {% endif %}
                            </div>
                            <div class="mt-1 text-xs text-gray-500">{{item.farmer.company_name}}</div>
                            {% if item.quantity %}
                            <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{item.quantity}} 
                            {% if item.price_for === 'gramy' %}
                            g.
                            {% elif item.price_for === 'kilogramy' %}
                            kg.
                            {% elif item.price_for === 'liters' %}
                            l.
                            {% elif item.price_for === 'kusy' %}
                            ks.
                            {% elif item.price_for === 'balenie' %}
                            bal.
                            {% else %}
                            {{item.price_for}}.
                            {% endif %}
                            </span></div>
                            {% endif %}

                            {# <div class="p-1 px-2 my-2 text-xs rounded bg-gray-dark-of">
                                <div class="flex"><div>Zobrazenie</div><div class="grow"></div><div class="font-semibold">
                                    {{ item.counter_view if item.counter_view else "0" }}
                                </div></div>
                                <div class="flex"><div>Kliknutie</div><div class="grow"></div><div class="font-semibold">
                                    {{ item.counter_click if item.counter_click else "0" }}
                                </div></div>
                            </div> #}

                        </div>
                    {% endfor %}
                    </div>

                    <a href="{{root}}/ucet/moja-ponuka" up-follow up-instant class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">Spravovať produkty</a>
                </div>
                {% endif %}

                <div class="p-10 bg-white border border-gray-300 rounded-lg">
                    <h2 class="mb-6 font-semibold">Profil</h2>

                    <div class="text-sm bg-red-100 rounded-md p-7">
                        <div>Aktuálne predplatné</div>
                        <div class="mb-2 text-2xl font-medium text-red-of">
                            {% if(user.profile_type === 'free') %}
                            Free
                            {% endif %}
                        </div>

                        {% if(user.profile_type === 'free') %}
                        <div class="font-semibold">Bezplatný profil</div>
                        <div>Platný neobmedzene</div>
                        {% endif %}
                        <!--
                        <div class="font-semibold">Ročné platba 490€</div>
                        <div>Platné do 17.5.2022</div>
                        -->

                        {# <a href="{{root}}/ucet/predplatne" up-follow up-instant class="inline-block px-4 py-1 mt-5 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Navýšiť predplatné</a> #}
                    </div>
                    
                </div>

                {% include "elements/content/form/profile_contact.njk" %}

            </div>

        </div>

    </div>
</div>
{% endblock %}