{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of px-6">

            <h1 class="mb-8 text-xl font-semibold">Doručená pošta</h1>

                {% if inbox.length %}
                
                <div class="mb-5 overflow-hidden border border-gray-300 rounded-lg">
                    
                    <div class="grid items-center grid-cols-12 px-5 py-2 text-xs border-b border-gray-300">
                        <div class="col-span-3 font-semibold">Odosieľateľ</div>
                        <div class="col-span-6">Obsah správy</div>
                        <div class="col-span-2">Dátum doručenia</div>
                        <div class="col-span-1"></div>
                    </div>

                    {% for item in inbox %}

                    {% if loop.last === false %}
                    {% set borderClasses = 'border-b border-gray-300' %}
                    {% else %}
                    {% set borderClasses = '' %}
                    {% endif %}


                    <div class="grid items-center grid-cols-12 px-5 py-8 text-sm bg-white {{borderClasses}}">
                        <div class="flex items-center col-span-3 font-semibold">
                            <div class="inline-block w-2 h-2 bg-red-600 rounded-full"></div>
                            <div class="relative inline-block w-12 h-12 mx-2 overflow-hidden bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb.jpg);">
                            </div>
                            {{item.user.name}}
                        </div>
                        <div class="col-span-6 px-4">
                            {% if(item.id_demand) %}
                            <span class="px-2 py-1 mr-2 text-xs tracking-widest text-white uppercase bg-green-500 rounded-sm inlne-block">Dopyt</span><span class="font-bold">{{item.demand.product.title}}</span>. Množstvo {{item.demand.quantity}} {{item.demand.price_for}} v cene {{item.demand.quantity * item.demand.price}} €.
                            {% else %}
                            {{item.content | safe}}
                            {% endif %}
                        </div>
                        <div class="col-span-2">{{item.created | format_date_time}}</div>
                        <div class="col-span-1 text-right"><a href="{{root}}/ucet/sprava/{{item.id_inbox}}" up-target="body" up-scroll="body" up-follow up-instant>{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</a></div>
                    </div>
            
                    {% endfor %}

                    {# <div class="grid items-center grid-cols-12 px-5 py-5 text-sm bg-white border-t border-gray-300">
                        <div class="flex items-center col-span-3 font-semibold">
                            <div class="inline-block w-2 h-2 bg-red-600 rounded-full"></div>
                            <div class="inline-block w-12 h-12 mx-2 bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb-2.jpg);"></div>
                            Jan Smrek
                        </div>
                        <div class="col-span-6"><span class="px-2 py-1 mr-2 text-xs tracking-widest text-white uppercase bg-green-500 rounded-sm inlne-block">Dopyt</span><span class="font-bold">Organická zelenina v košíku - 4 druhy</span>. Množstvo 4kg v cene 92 €.</div>
                        <div class="col-span-2">23.12.2017</div>
                        <div class="col-span-1 text-right">{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</div>
                    </div>
                    <div class="grid items-center grid-cols-12 px-5 py-5 text-sm bg-white border-t border-gray-300">
                        <div class="flex items-center col-span-3 font-semibold">
                            <div class="inline-block w-2 h-2 bg-white rounded-full"></div>
                            <div class="inline-block w-12 h-12 mx-2 bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb-4.jpg);"></div>
                            Jana Smrekova
                        </div>
                        <div class="col-span-6">Dobry den, zaujem o tonu jablk.</div>
                        <div class="col-span-2">23.12.2017</div>
                        <div class="col-span-1 text-right">{{ icons.arrow_right_thin('arrow inline-block text-gray-400 fill-current w-10') }}</div>
                    </div> #}

                </div>

                {% else %}

                Nemáte žiadne správy na zobrazenie.

                {% endif %}

        </div>

    </div>
</div>
{% endblock %}