{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of px-6">

            <h1 class="mb-8 text-xl font-semibold">Konverzácia</h1>

            <div class="mb-5 overflow-hidden border border-gray-300 rounded-lg">
                    
                <div class="grid items-center grid-cols-12 px-5 py-2 border-b border-gray-300">
                    <div class="col-span-6 font-semibold tracking-widest text-left text-gray-400 underline uppercase cursor-pointer text-xxs underline-offset-4" onclick="history.back()">Späť</div>
                    <div class="col-span-6 font-semibold tracking-widest text-right text-gray-400 underline uppercase cursor-pointer text-xxs underline-offset-4">Zmazať konverzáciu</div>
                </div>

                {% for item in messages %}

                <div class="grid items-center grid-cols-12 px-5 pt-4 pb-8 text-sm bg-white border-b border-gray-300">

                    <div class="items-center col-span-12 pl-4 mb-2 text-xs font-normal text-gray-400">
                        {{item.created | format_date_time}}
                    </div>

                    <div class="flex items-center col-span-6 font-semibold">
                        <div class="relative inline-block w-12 h-12 mx-2 overflow-hidden bg-cover border border-gray-300 rounded-full" style="background-image: url({{root}}/assets/img/thumb.jpg);">
                        </div>
                        <div>
                            <div>{{item.user.name}}</div>
                            <div class="mt-2">
                                {% if(item.id_demand and item.created_by) %}
                                <span class="px-2 py-1 mr-2 text-xs tracking-widest text-white uppercase bg-green-500 rounded-sm inlne-block">Dopyt</span><span class="font-bold">{{item.demand.product.title}}</span>. <span class="font-normal">Množstvo {{item.demand.quantity}} {{item.demand.price_for}} v cene {{item.demand.quantity * item.demand.price}} €</span>.
                                <div class="font-normal mt-2">{{item.content}}</div>
                                {% else %}
                                <div class="font-normal">{{item.content}}</div>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>

                </div>

                {% endfor %}
               
                <div class="grid items-center grid-cols-12 px-5 py-8 text-sm bg-white">
                    <div class="col-span-12 mx-14">
                        <form action="{{root_url}}/ucet/sprava/odoslat" method="post" up-target="body" up-submit>
                            <div class="mb-1 text-sm text-gray-500">Nová správa</div>
                            <input type="hidden" value="{{id}}" name="id" />
                            <textarea type="text" name="message" class="w-full h-40 text-sm rounded-md {{validationClasses}}" placeholder="Sem napíšte správu.">{{long_description}}</textarea>
                            <button type="submit" class="inline-block px-4 py-1 mt-2 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Odoslať</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}