{% import "elements/content/icons.njk" as icons %}

{% extends "layouts/profile.njk" %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl px-6 pb-20 mx-auto mt-2 bg-gray-of">

            <h1 class="mb-8 text-xl font-semibold">Moja ponuka</h1>
            {# <h1 class="mb-8 text-2xl font-medium text-red-of">Moja ponuka</h1> #}

            {% if products.length %}

            <div class="grid grid-cols-4 gap-7 items">

            {# <h2 class="mb-6 text-xl font-semibold">Zelenina</h2> #}

            {% for item in products %}
                <div class="relative mb-5 item">
                    <a href="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" up-follow up-instant up-target="body" class="relative inline-block w-full">
                        <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                            {% if item.image[0] and item.image[0].filename %}
                            <div class="w-full h-48 bg-center bg-cover bg-gray-dark-of thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.image[0].filename}});"></div>
                            {% else %}
                            <div class="w-full h-48 bg-center bg-cover bg-gray-dark-of thumb-image">
                            </div>
                            {% endif %}
                        </div>
                        {% if item.image[0] == null %}
                        <div class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                        {% endif %}
                    </a>
                    <div class="mt-2 text-lg font-semibold text-black truncate title">{{ item.title }}</div>
                    <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{item.price | price}}</span> za 
                    {{item.unit}}
                    {% if item.price_for.trim() === 'gramy' %}
                    g.
                    {% elif item.price_for.trim() === 'kilogramy' %}
                    kg.
                    {% elif item.price_for.trim() === 'liters' %}
                    l.
                    {% elif item.price_for.trim() === 'kusy' %}
                    ks.
                    {% elif item.price_for.trim() === 'balenie' %}
                    bal.
                    {% else %}
                    {{item.price_for}}.
                    {% endif %}
                    </div>
                    <div class="mt-1 text-xs text-gray-500">{{item.farmer.company_name}}</div>
                    {% if item.quantity %}
                    <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{item.quantity}} 
                    {% if item.price_for === 'gramy' %}
                    g.
                    {% elif item.price_for === 'kilogramy' %}
                    kg.
                    {% elif item.price_for === 'liters' %}
                    l.
                    {% elif item.price_for === 'kusy' %}
                    ks.
                    {% elif item.price_for === 'balenie' %}
                    bal.
                    {% else %}
                    {{item.price_for}}.
                    {% endif %}
                    </span></div>
                    {% endif %}

                    {# <div class="p-1 px-2 my-2 text-xs rounded bg-gray-dark-of">
                        <div class="flex"><div>Zobrazenie</div><div class="grow"></div><div class="font-semibold">
                            {{ item.counter_view if item.counter_view else "0" }}
                        </div></div>
                        <div class="flex"><div>Kliknutie</div><div class="grow"></div><div class="font-semibold">
                            {{ item.counter_click if item.counter_click else "0" }}
                        </div></div>
                    </div> #}

                    <div class="flex text-sm">
                        <div>
                            {# <a class="inline-block px-4 py-1 mr-1 text-gray-400 uppercase bg-white border border-gray-400 rounded-full" href="{{root}}/ucet/moja-ponuka/promovat/{{item.old_id}}">Promovať</a> #}
                        </div>
                        <div class="grow"></div>
                        <div>
                            <a class="mx-1" href="{{root}}/ucet/moja-ponuka/upravit/{{item.old_id}}" up-follow up-instant up-target="body">
                            {{ icons.edit('inline-block fill-current w-6 opacity-40 relative left-1') }}
                            </a>
                            <div class="inline-block ml-1 cursor-pointer profile-delete-product" data-id="{{item.old_id}}">
                            {{ icons.delete('inline-block fill-current w-6 opacity-40') }}
                            </div>

                            {% include "elements/content/modals/delete_product.njk" %}
                        </div>
                    </div>
                    
                </div>
            {% endfor %}

            </div>

            {% else %}

            Momentálne nemáte v ponuke žiadne produkty.

            {% endif %}

        </div>

    </div>
</div>
{% endblock %}