{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<form id="profile-properties-form" action="{{root_url}}/ucet/vlastnosti" method="post" up-target="#profile-properties-form" up-submit up-scroll>
<div class="overflow-hidden">
    <div class="pb-20 px-6">

        {# <div class="bg-red-200">
            <div class="grid items-center max-w-screen-xl grid-cols-12 py-6 mx-auto text-sm">
                <div class="col-span-9">
                    <div class="font-semibold">Práve používate FREE Profil, ak si želáte viac funkcií kúpte si VIP.</div>
                </div>

                <div class="col-span-3 text-right">
                    <a href="{{root}}/ucet/predplatne" class="inline-block px-4 py-1 text-white uppercase rounded-full cursor-pointer bg-red-of" up-follow up-instant up-follow up-transition="cross-fade">Upgrade teraz</a>
                </div>
            </div>
        </div> #}

        <div class="max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of">

            <div class="py-8 border-b border-gray-300">
                
                <h2 class="mb-8 text-lg font-semibold">Profil</h2>

                {% if save_success %}
                <div class="p-3 px-5 mt-2 mb-5 text-sm text-white bg-green-900 rounded-md">
                Nastavenia boli úspešne uložené.
                </div>
                {% endif %}

                {% if validationErrors %}
                <div class='px-4 py-3 mt-2 mb-5 text-sm text-white rounded bg-red-of'>Nesprávne vyplnené polia.</div>
                {% endif %}

                {% if userLogged === false %}
                <div class='px-4 py-3 mt-2 mb-5 text-sm text-white rounded bg-red-of'>Na odoslanie musíte byť prihlásený</div>
                {% endif %}

                <div class="grid grid-cols-2 gap-20">
                    <div>
                        {% if user and user.privilegs === 'customer' %}
                        <div class="mb-3">
                            <div class="mb-1 text-sm text-gray-500">Meno</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "name") %}
                            <input type="text" name="name" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Vaše meno" value="{{name}}"/>
                            {% if validationErrors.name %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.name}}</div>
                            {% endif %}
                        </div>

                        <div class="py-10 border-gray-300">
                            <h2 class="mb-5 text-lg font-semibold">Kontaktné údaje</h2>
                                
                                <div class="grid grid-cols-2 gap-4">
                                    <div class="col-span-2">
                                        <div class="">
                                            <div class="mb-1 text-sm text-gray-500">Ulica / obec</div>
                                            {% set validationClasses = inputValidationClasses(validationErrors, "street") %}
                                            <input id="street" name="street" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Ulica alebo obec" value="{{street}}" />
                                            {% if validationErrors.street %}
                                            <div class="py-2 text-xs text-red-of">{{validationErrors.street}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="mb-1 text-sm text-gray-500">Číslo domu</div>
                                        {% set validationClasses = inputValidationClasses(validationErrors, "houseno") %}
                                        <input id="houseno" name="houseno" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Domové číslo" value="{{houseno}}" />
                                        {% if validationErrors.houseno %}
                                        <div class="py-2 text-xs text-red-of">{{validationErrors.houseno}}</div>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="">
                                        <div class="mb-1 text-sm text-gray-500">Psč</div>
                                        {% set validationClasses = inputValidationClasses(validationErrors, "zip") %}
                                        <input id="zip" name="zip" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="PSČ" value="{{zip}}"/>
                                        {% if validationErrors.zip %}
                                        <div class="py-2 text-xs text-red-of">{{validationErrors.zip}}</div>
                                        {% endif %}
                                    </div>

                                    <div class="">
                                        <div class="">
                                            <div class="mb-1 text-sm text-gray-500">Mesto</div>
                                            {% set validationClasses = inputValidationClasses(validationErrors, "city") %}
                                            <input id="city" name="city" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Mesto" value="{{city}}" />
                                            {% if validationErrors.city %}
                                            <div class="py-2 text-xs text-red-of">{{validationErrors.city}}</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="mb-1 text-sm text-gray-500">Kraj</div>
                                        {% set validationClasses = inputValidationClasses(validationErrors, "region") %}
                                        <select class="w-full text-sm rounded-md {{validationClasses}} placeholder:italic placeholder:text-gray-400 placeholder:text-xs" name="region">

                                            {% if region == false or region == 0 %}
                                            <option value="0"></option>
                                            {% endif %}

                                            {% for regionItem in countryRegions %}
                                                {% if region == regionItem.region_id %}
                                                {% set selected = 'selected' %}
                                                {% else %}
                                                {% set selected = '' %}
                                                {% endif %}
                                                <option value="{{ regionItem.region_id }}" {{selected}}>{{ regionItem.name }}</option>
                                            {% endfor %}

                                        </select>
                                        {% if validationErrors.region %}
                                        <div class="py-2 text-xs text-red-of">{{validationErrors.region}}</div>
                                        {% endif %}
                                    </div>

                                    <div class="col-span-2">
                                        <div class="">
                                            <div class="mb-1 text-sm text-gray-500">Telefón</div>
                                            {% set validationClasses = inputValidationClasses(validationErrors, "phone") %}
                                            <input name="phone" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Telefón" value="{{phone}}" />
                                            {% if validationErrors.phone %}
                                            <div class="py-2 text-xs text-red-of">{{validationErrors.phone}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-span-2">
                                        <div class="">
                                            <div class="mb-1 text-sm text-gray-500">Kontaktný email</div>
                                            {% set validationClasses = inputValidationClasses(validationErrors, "contact_email") %}
                                            <input name="contact_email" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Kontaktná e-mail adresa" value="{{contact_email}}"/>
                                            {% if validationErrors.contact_email %}
                                            <div class="py-2 text-xs text-red-of">{{validationErrors.contact_email}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div>

                            </div>
                        </div>
                        {% endif %}

                        {% if user and user.privilegs === 'farmer' %}
                        <div class="mb-3">
                            <div class="mb-1 text-sm text-gray-500">Meno farmy</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "company_name") %}
                            <input type="text" name="company_name" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Moja Farma / Spoločnosť" value="{{company_name}}"/>
                            {% if validationErrors.company_name %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.company_name}}</div>
                            {% endif %}
                        </div>
                        
                        
                        <div class="mb-3">
                            <div class="mb-1 text-sm text-gray-500">Meno prevádzkovateľa</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "name") %}
                            <input type="text" name="name" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Vaše meno" value="{{name}}"/>
                            {% if validationErrors.name %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.name}}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <div class="mb-1 text-sm text-gray-500">Krátky popis (max. 100 znakov)</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "short_description") %}
                            <textarea maxlength="100" type="text" name="short_description" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full h-40 text-sm rounded-md {{validationClasses}}" placeholder="Krátky popis prevádzky">{{short_description}}</textarea>
                            {% if validationErrors.short_description %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.short_description}}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <div class="mb-1 text-sm text-gray-500">Dlhý popis (max. 500 znakov)</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "long_description") %}
                            <textarea maxlength="500" type="text" name="long_description" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full h-40 text-sm rounded-md {{validationClasses}}" placeholder="Dlhý popis prevádzky">{{long_description}}</textarea>
                            {% if validationErrors.long_description %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.long_description}}</div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div id="photos">

                        {% if user and user.privilegs === 'customer' %}
                        <div class="mb-1 text-sm text-gray-500">Profilová foto</div>
                        {% endif %}
                        {% if user and user.privilegs === 'farmer' %}
                        <div class="mb-1 text-sm text-gray-500">Profilová foto / logo firmy</div>
                        {% endif %}

                        <div class="text-red-of text-sm my-2 hidden" id="profile_image_max"></div>

                        <div class="relative">
                            {% if profile_image %}
                            <div id="profile-photo-thumb" class="absolute mt-4 mb-4 bg-center bg-cover border-4 border-white rounded-full top-10 left-10 w-28 h-28 bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_medium/{{profile_image}});"></div>
                            <div id="profile-photo" class="w-full h-56 mt-4 mb-4 bg-center bg-cover rounded bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_medium/{{profile_image}});"></div>
                            {% else %}
                            <div class="relative w-full h-56 mt-4 mb-4 bg-center bg-cover rounded bg-gray-dark-of">
                            <div id="profile-photo" class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                            </div>
                            {% endif %}

                            <div class="uppy-profile">
                                <form action="{{root}}/ucet/upload" method="post">
                                    <div class="hidden">
                                        <input type="file" name="profile_photo">
                                        <button type="submit">Fallback Form Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="UppyProgressBar"></div>
                        
                        {% if user and user.privilegs === 'farmer' %}
                        <div class="mb-1 text-sm text-gray-500">Úvodné foto</div>

                        <div class="text-red-of text-sm my-2 hidden" id="intro_image_max"></div>

                        <div class="relative">
                            {% if intro_image %}
                            <div id="intro-photo" class="w-full h-56 mt-4 mb-4 bg-center bg-cover rounded bg-greygreen-light-of-bg" style="background-image: url({{root}}/assets/assets_web/thumb_large/{{intro_image}});"></div>
                            {% else %}
                            <div class="relative w-full h-56 mt-4 mb-4 bg-center bg-cover rounded bg-gray-dark-of">
                            <div id="intro-photo" class="absolute" style="top:50%; left:50%; transform: translate(-50%, -50%);">{{ icons.without_photo('arrow inline-block text-gray-400 fill-current w-12 h-12') }}</div>
                            </div>
                            {% endif %}

                            <div class="uppy-intro">
                                <form action="{{root}}/ucet/upload" method="post">
                                    <div class="hidden">
                                        <input type="file" name="intro_photo">
                                        <button type="submit">Fallback Form Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>

            {% if user and user.privilegs === 'farmer' %}
            <div class="py-10 border-b border-gray-300">
                <h2 class="mb-5 text-lg font-semibold">Kontaktné údaje</h2>

                <div class="grid grid-cols-2 gap-20">
                    
                    <div class="grid grid-cols-2 gap-4">
                        <div class="col-span-2">
                            <div class="">
                                <div class="mb-1 text-sm text-gray-500">Ulica / obec</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "street") %}
                                <input id="street" name="street" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Ulica alebo obec" value="{{street}}" />
                                {% if validationErrors.street %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.street}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            <div class="mb-1 text-sm text-gray-500">Číslo domu</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "houseno") %}
                            <input id="houseno" name="houseno" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Domové číslo" value="{{houseno}}" />
                            {% if validationErrors.houseno %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.houseno}}</div>
                            {% endif %}
                        </div>
                        
                        <div class="">
                            <div class="mb-1 text-sm text-gray-500">Psč</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "zip") %}
                            <input id="zip" name="zip" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="PSČ" value="{{zip}}"/>
                            {% if validationErrors.zip %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.zip}}</div>
                            {% endif %}
                        </div>

                        <div class="">
                            <div class="">
                                <div class="mb-1 text-sm text-gray-500">Mesto</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "city") %}
                                <input id="city" name="city" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Mesto" value="{{city}}" />
                                {% if validationErrors.city %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.city}}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="">
                            <div class="mb-1 text-sm text-gray-500">Kraj</div>
                            {% set validationClasses = inputValidationClasses(validationErrors, "region") %}
                            <select class="w-full text-sm rounded-md {{validationClasses}} placeholder:italic placeholder:text-gray-400 placeholder:text-xs" name="region">

                                {% if region == false or region == 0 %}
                                <option value="0"></option>
                                {% endif %}

                                {% for regionItem in countryRegions %}
                                    {% if region == regionItem.region_id %}
                                    {% set selected = 'selected' %}
                                    {% else %}
                                    {% set selected = '' %}
                                    {% endif %}
                                    <option value="{{ regionItem.region_id }}" {{selected}}>{{ regionItem.name }}</option>
                                {% endfor %}

                            </select>
                            {% if validationErrors.region %}
                            <div class="py-2 text-xs text-red-of">{{validationErrors.region}}</div>
                            {% endif %}
                        </div>

                        <div class="col-span-2">
                            <div class="">
                                <div class="mb-1 text-sm text-gray-500">Telefón</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "phone") %}
                                <input name="phone" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Telefón" value="{{phone}}" />
                                {% if validationErrors.phone %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.phone}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-span-2">
                            <div class="">
                                <div class="mb-1 text-sm text-gray-500">Kontaktný email</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "contact_email") %}
                                <input name="contact_email" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="Kontaktná e-mail adresa" value="{{contact_email}}"/>
                                {% if validationErrors.contact_email %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.contact_email}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-span-2">
                            <div class="">
                                <div class="mb-1 text-sm text-gray-500">Webová stránka</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "website") %}
                                <input name="website" type="text" class="w-full text-sm rounded-md {{validationClasses}}" placeholder="webová stránka farmára" value="{{website}}"/>
                                {% if validationErrors.website %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.website}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div>

                    {% for regionItem in countryRegions %}
                        {% if region == regionItem.region_id %}
                        {{ regions[regionItem.icon]('inline-block mr-2 mt-20', '500px', root) }}
                        {% endif %}
                    {% endfor %}
                        
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user and user.privilegs === 'farmer' %}

            <div class="py-10 border-b border-gray-300">
                <h2 class="mb-5 text-lg font-semibold">Fakturačné údaje</h2>

                <div class="grid grid-cols-2 gap-20">
                     <div class="">
                        <div class="mb-1 text-sm text-gray-500">Obchodné meno spoločnosti / Živnosť</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "invoice_company_name") %}
                        <input name="invoice_company_name" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. SELFIX, s.r.o." value="{{invoice_company_name}}" />
                        {% if validationErrors.invoice_company_name %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.invoice_company_name}}</div>
                        {% endif %}

                        <div class="mb-1 mt-4 text-sm text-gray-500">Číslo živnostenského oprávnenia / Číslo registrácie v Obchodnom registri</div>
                        {% set validationClasses = inputValidationClasses(validationErrors, "invoice_reg_id") %}
                        <input name="invoice_reg_id" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="register Okresného súdu Bratislava I, oddiel: Sro, vložka č. 24285/B" value="{{invoice_reg_id}}" />
                        {% if validationErrors.invoice_reg_id %}
                        <div class="py-2 text-xs text-red-of">{{validationErrors.invoice_reg_id}}</div>
                        {% endif %}

                        <div class="grid grid-cols-3 gap-4">

                            <div>
                                <div class="mb-1 mt-4 text-sm text-gray-500">IČO</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "invoice_business_id") %}
                                <input name="invoice_business_id" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. 35813946" value="{{invoice_business_id}}" />
                                {% if validationErrors.invoice_business_id %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.invoice_business_id}}</div>
                                {% endif %}
                            </div>

                            <div>
                                <div class="mb-1 mt-4 text-sm text-gray-500">DIČ</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "invoice_tax_id") %}
                                <input name="invoice_tax_id" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. 2020283529" value="{{invoice_tax_id}}" />
                                {% if validationErrors.invoice_tax_id %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.invoice_tax_id}}</div>
                                {% endif %}
                            </div>

                            <div>
                                <div class="mb-1 mt-4 text-sm text-gray-500">IČ DPH</div>
                                {% set validationClasses = inputValidationClasses(validationErrors, "invoice_vat_id") %}
                                <input name="invoice_vat_id" type="text" class="placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. SK2020283529" value="{{invoice_vat_id}}" />
                                {% if validationErrors.invoice_vat_id %}
                                <div class="py-2 text-xs text-red-of">{{validationErrors.invoice_vat_id}}</div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    
                </div>

            </div>

            <div class="py-10 border-b border-gray-300">
                <h2 class="mb-5 text-lg font-semibold">Súradnice na mape</h2>

                {% include 'elements/content/profile/gps.njk' %}
            </div>

            <div class="py-10 border-b border-gray-300">
                <h2 class="mb-5 text-lg font-semibold">Doplnkové informácie</h2>

                <div class="grid grid-cols-4 gap-10 text-sm">

                    <div>
                        <div class="mb-3 text-sm text-gray-500">Možnosti odberu</div>

                        <div class="mb-2">
                            {% if additional_information.collection_person %}
                            {% set collection_person_checked = 'checked' %}
                            {% else %}
                            {% set collection_person_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="collection_person" value="1" {{collection_person_checked}} /> Osobne
                        </div>
                        <div class="mb-2">
                            {% if additional_information.collection_courier %}
                            {% set collection_courier_checked = 'checked' %}
                            {% else %}
                            {% set collection_courier_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="collection_courier" value="1" {{collection_courier_checked}} /> Kuriér
                        </div>
                        <div class="mb-2">
                            {% if additional_information.collection_regular_delivery %}
                            {% set collection_regular_delivery_checked = 'checked' %}
                            {% else %}
                            {% set collection_regular_delivery_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="collection_regular_delivery" value="1" {{collection_regular_delivery_checked}} /> Pravidelný rozvoz
                        </div>
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-gray-500">Platové podmienky</div>

                        <div class="mb-2">
                            {% if additional_information.payment_cash %}
                            {% set payment_cash_checked = 'checked' %}
                            {% else %}
                            {% set payment_cash_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="payment_cash" value="1" {{payment_cash_checked}}/> Hotovosť
                        </div>
                        <div class="mb-2">
                            {% if additional_information.payment_card %}
                            {% set payment_card_checked = 'checked' %}
                            {% else %}
                            {% set payment_card_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="payment_card" value="1" {{payment_card_checked}}/> Platba kartou
                        </div>
                        <div class="mb-2">
                            {% if additional_information.payment_courier %}
                            {% set payment_courier_checked = 'checked' %}
                            {% else %}
                            {% set payment_courier_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="payment_courier" value="1" {{payment_courier_checked}} /> Platba u kuriéra
                        </div>
                        <div class="mb-2">
                            {% if additional_information.payment_crypto %}
                            {% set payment_crypto_checked = 'checked' %}
                            {% else %}
                            {% set payment_crypto_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="payment_crypto" value="1" {{payment_crypto_checked}}/> Platba s crypto (BTC, ETH)
                        </div>
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-gray-500">Doplnkové služby</div>

                        <div class="mb-2">
                            {% if additional_information.services_selfpicking %}
                            {% set services_selfpicking_checked = 'checked' %}
                            {% else %}
                            {% set services_selfpicking_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="services_selfpicking" value="1" {{services_selfpicking_checked}}/> Samozber
                        </div>
                        <div class="mb-2">
                            {% if additional_information.services_stay %}
                            {% set services_stay_checked = 'checked' %}
                            {% else %}
                            {% set services_stay_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="services_stay" value="1" {{services_stay_checked}}/> Zážitkový pobyt
                        </div>
                        <div class="mb-2">
                            {% if additional_information.services_kitchen %}
                            {% set services_kitchen_checked = 'checked' %}
                            {% else %}
                            {% set services_kitchen_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="services_kitchen" value="1" {{services_kitchen_checked}}/> Kuchyňa
                        </div>
                        <div class="mb-2">
                            {% if additional_information.services_sale %}
                            {% set services_sale_checked = 'checked' %}
                            {% else %}
                            {% set services_sale_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="services_sale" value="1" {{services_sale_checked}}/> Predaj z dvora
                        </div>
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-gray-500">Ďaľšie</div>

                        <div class="mb-2">
                            {% if additional_information.eco_friendly %}
                            {% set eco_friendly_checked = 'checked' %}
                            {% else %}
                            {% set eco_friendly_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="eco_friendly" value="1" {{eco_friendly_checked}}/> Eko-friendly
                        </div>
                        <div class="mb-2">
                            {% if additional_information.bio %}
                            {% set bio_checked = 'checked' %}
                            {% else %}
                            {% set bio_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="bio" value="1" {{bio_checked}}/> Bio výroba
                        </div>
                        <div class="mb-2">
                            {% if additional_information.zero_waste %}
                            {% set zero_waste_checked = 'checked' %}
                            {% else %}
                            {% set zero_waste_checked = '' %}
                            {% endif %}
                            <input class="mr-2 text-green-900" type="checkbox" name="zero_waste" value="1" {{zero_waste_checked}}/> Bezobalový predaj
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}

            {% if user and user.privilegs === 'farmer' %}
            <div id="tui-time-picker-container"></div>

            <div class="py-10 border-b border-gray-300">
                <h2 class="mb-5 text-lg font-semibold">Otváracie hodiny</h2>

                <div class="grid grid-cols-7 gap-8 text-sm select-none">
                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Pondelok</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_1_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_1_to"></span>

                        {% if(opening_hours.oh_1_from_h) %}
                        {% set oh_1_from_h = opening_hours.oh_1_from_h %}
                        {% else %}
                        {% set oh_1_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_1_from_h" value="{{oh_1_from_h}}" >

                        {% if(opening_hours.oh_1_from_m) %}
                        {% set oh_1_from_m = opening_hours.oh_1_from_m %}
                        {% else %}
                        {% set oh_1_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_1_from_m" value="{{oh_1_from_m}}">

                        {% if(opening_hours.oh_1_to_h) %}
                        {% set oh_1_to_h = opening_hours.oh_1_to_h %}
                        {% else %}
                        {% set oh_1_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_1_to_h" value="{{oh_1_to_h}}">

                        {% if(opening_hours.oh_1_to_m) %}
                        {% set oh_1_to_m = opening_hours.oh_1_to_m %}
                        {% else %}
                        {% set oh_1_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_1_to_m" value="{{oh_1_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Utorok</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_2_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_2_to"></span>
                        
                        {% if(opening_hours.oh_2_from_h) %}
                        {% set oh_2_from_h = opening_hours.oh_2_from_h %}
                        {% else %}
                        {% set oh_2_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_2_from_h" value="{{oh_2_from_h}}" >

                        {% if(opening_hours.oh_2_from_m) %}
                        {% set oh_2_from_m = opening_hours.oh_2_from_m %}
                        {% else %}
                        {% set oh_2_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_2_from_m" value="{{oh_2_from_m}}">

                        {% if(opening_hours.oh_2_to_h) %}
                        {% set oh_2_to_h = opening_hours.oh_2_to_h %}
                        {% else %}
                        {% set oh_2_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_2_to_h" value="{{oh_2_to_h}}">

                        {% if(opening_hours.oh_2_to_m) %}
                        {% set oh_2_to_m = opening_hours.oh_2_to_m %}
                        {% else %}
                        {% set oh_2_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_2_to_m" value="{{oh_2_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Streda</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_3_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_3_to"></span>
                        
                        {% if(opening_hours.oh_3_from_h) %}
                        {% set oh_3_from_h = opening_hours.oh_3_from_h %}
                        {% else %}
                        {% set oh_3_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_3_from_h" value="{{oh_3_from_h}}" >

                        {% if(opening_hours.oh_3_from_m) %}
                        {% set oh_3_from_m = opening_hours.oh_3_from_m %}
                        {% else %}
                        {% set oh_3_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_3_from_m" value="{{oh_3_from_m}}">

                        {% if(opening_hours.oh_3_to_h) %}
                        {% set oh_3_to_h = opening_hours.oh_3_to_h %}
                        {% else %}
                        {% set oh_3_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_3_to_h" value="{{oh_3_to_h}}">

                        {% if(opening_hours.oh_3_to_m) %}
                        {% set oh_3_to_m = opening_hours.oh_3_to_m %}
                        {% else %}
                        {% set oh_3_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_3_to_m" value="{{oh_3_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Štvrtok</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_4_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_4_to"></span>
                        
                        {% if(opening_hours.oh_4_from_h) %}
                        {% set oh_4_from_h = opening_hours.oh_4_from_h %}
                        {% else %}
                        {% set oh_4_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_4_from_h" value="{{oh_4_from_h}}" >

                        {% if(opening_hours.oh_4_from_m) %}
                        {% set oh_4_from_m = opening_hours.oh_4_from_m %}
                        {% else %}
                        {% set oh_4_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_4_from_m" value="{{oh_4_from_m}}">

                        {% if(opening_hours.oh_4_to_h) %}
                        {% set oh_4_to_h = opening_hours.oh_4_to_h %}
                        {% else %}
                        {% set oh_4_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_4_to_h" value="{{oh_4_to_h}}">

                        {% if(opening_hours.oh_4_to_m) %}
                        {% set oh_4_to_m = opening_hours.oh_4_to_m %}
                        {% else %}
                        {% set oh_4_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_4_to_m" value="{{oh_4_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Piatok</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_5_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_5_to"></span>
                        
                        {% if(opening_hours.oh_5_from_h) %}
                        {% set oh_5_from_h = opening_hours.oh_5_from_h %}
                        {% else %}
                        {% set oh_5_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_5_from_h" value="{{oh_5_from_h}}" >

                        {% if(opening_hours.oh_5_from_m) %}
                        {% set oh_5_from_m = opening_hours.oh_5_from_m %}
                        {% else %}
                        {% set oh_5_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_5_from_m" value="{{oh_5_from_m}}">

                        {% if(opening_hours.oh_5_to_h) %}
                        {% set oh_5_to_h = opening_hours.oh_5_to_h %}
                        {% else %}
                        {% set oh_5_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_5_to_h" value="{{oh_5_to_h}}">

                        {% if(opening_hours.oh_4_to_m) %}
                        {% set oh_5_to_m = opening_hours.oh_5_to_m %}
                        {% else %}
                        {% set oh_5_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_5_to_m" value="{{oh_5_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Sobota</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_6_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_6_to"></span>
                        
                        {% if(opening_hours.oh_6_from_h) %}
                        {% set oh_6_from_h = opening_hours.oh_6_from_h %}
                        {% else %}
                        {% set oh_6_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_6_from_h" value="{{oh_6_from_h}}" >

                        {% if(opening_hours.oh_6_from_m) %}
                        {% set oh_6_from_m = opening_hours.oh_6_from_m %}
                        {% else %}
                        {% set oh_6_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_6_from_m" value="{{oh_6_from_m}}">

                        {% if(opening_hours.oh_6_to_h) %}
                        {% set oh_6_to_h = opening_hours.oh_6_to_h %}
                        {% else %}
                        {% set oh_6_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_6_to_h" value="{{oh_6_to_h}}">

                        {% if(opening_hours.oh_6_to_m) %}
                        {% set oh_6_to_m = opening_hours.oh_6_to_m %}
                        {% else %}
                        {% set oh_6_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_6_to_m" value="{{oh_6_to_m}}">
                    </div>

                    <div>
                        <div class="mb-3 text-sm text-center text-gray-500">Nedeľa</div>
                        
                        <span class="mr-2">od</span><span class="inline-block" id="oh_7_from"></span>
                        <span class="mr-2">do</span><span class="inline-block" id="oh_7_to"></span>
                        
                        {% if(opening_hours.oh_7_from_h) %}
                        {% set oh_7_from_h = opening_hours.oh_7_from_h %}
                        {% else %}
                        {% set oh_7_from_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_7_from_h" value="{{oh_7_from_h}}" >

                        {% if(opening_hours.oh_7_from_m) %}
                        {% set oh_7_from_m = opening_hours.oh_7_from_m %}
                        {% else %}
                        {% set oh_7_from_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_7_from_m" value="{{oh_7_from_m}}">

                        {% if(opening_hours.oh_7_to_h) %}
                        {% set oh_7_to_h = opening_hours.oh_7_to_h %}
                        {% else %}
                        {% set oh_7_to_h = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_7_to_h" value="{{oh_7_to_h}}">

                        {% if(opening_hours.oh_7_to_m) %}
                        {% set oh_7_to_m = opening_hours.oh_7_to_m %}
                        {% else %}
                        {% set oh_7_to_m = 0 %}
                        {% endif %}
                        <input type="hidden" name="oh_7_to_m" value="{{oh_7_to_m}}">
                    </div>
                </div>

            </div>
            {% endif %}

            <button type="submit" class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Uložiť zmeny</button>

        </div>


    </div>
</div>
</form>

<script>
const categories = [{% for category in localCategories %}{ id: '{{ category.id }}', name: '{{ category.name }}', subcategories: [{% for subcategory in category.subcategory %}{ id: '{{ subcategory.id }}', name: '{{ subcategory.name }}' },{% endfor %}] },{% endfor %}];
</script>
{% endblock %}