{% extends "layouts/profile.njk" %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl grid-cols-2 gap-6 pb-5 mx-auto mt-2 mb-10 border-b border-gray-400 bg-gray-of px-6">
            
            <div class="col-span-2 pb-5 text-sm border-b border-gray-400">

                <h2 class="mb-8 text-xl font-semibold">Notifikácie</h2>

                {% include "elements/content/form/notifications.njk" %}
            </div>

            <div class="col-span-2 mt-1">
                <h2 class="mb-1 text-xl font-semibold">Nastavenia účtu</h2>
            </div>

            {% include "elements/content/form/change_password.njk" %}
        </div>

    </div>
</div>
{% endblock %}