{% extends "layouts/profile.njk" %}

{% import "elements/content/icons.njk" as icons %}
{% import "elements/content/regions.njk" as regions %}

{% block content %}
<div class="overflow-hidden">
    <div class="pt-6">

        <div class="grid items-center max-w-screen-xl pb-20 mx-auto mt-2 bg-gray-of px-6">

            {# <h1 class="mb-8 text-2xl font-medium text-red-of">Predplatné</h1> #}
            <h1 class="mb-8 text-xl font-semibold">Predplatné</h1>

            <div class="grid grid-cols-3 gap-10">

                <div class="p-10 bg-white border border-gray-300 rounded-lg">

                    {{ icons.ico_pass_1('inline-block relative -top-0.5 w-12') }}
                    <div class="text-2xl font-medium text-red-of">VIP klient Pass</div>
                    <div class="text-3xl font-semibold">Ročný</div>
                    <div class="text-2xl">450 € <span class="relative ml-3 text-xs -top-1">Ročná platba</span></div>

                    <div class="mt-10 text-sm">
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                    </div>

                    <a class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Zakúpiť</a>

                </div>

                <div class="p-10 bg-white border border-gray-300 rounded-lg">

                    {{ icons.ico_pass_2('inline-block relative -top-0.5 w-12') }}
                    <div class="text-2xl font-medium text-red-of">VIP klient Pass</div>
                    <div class="text-3xl font-semibold">14 dňový</div>
                    <div class="text-2xl">44 € <span class="relative ml-3 text-xs -top-1">14 dňová platba</span></div>

                    <div class="mt-10 text-sm">
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                    </div>

                    <a class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Zakúpiť</a>

                </div>

                <div class="p-10 bg-white border border-gray-300 rounded-lg">

                    {{ icons.ico_pass_3('inline-block relative -top-0.5 w-12') }}
                    <div class="text-2xl font-medium text-red-of">VIP klient Pass</div>
                    <div class="text-3xl font-semibold">7 dňový</div>
                    <div class="text-2xl">21 € <span class="relative ml-3 text-xs -top-1">Týždenná platba</span></div>

                    <div class="mt-10 text-sm">
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                        <div class="mt-1">
                            {{ icons.success('inline-block mr-1 w-4 relative -top-0.5') }}
                            Feature included
                        </div>
                    </div>

                    <a class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-red-of">Zakúpiť</a>

                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}