@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.thumb-image{
    transform-style: preserve-3d; 
    transition: transform 200ms ease 0s; 
    transform: scaleX(1) scaleY(1) scaleZ(1);
}

.thumb-image:hover{
    transform: scaleX(1.05) scaleY(1.05) scaleZ(1.05);
}

h1::first-letter{
    text-transform: uppercase;
}

.title::first-letter{
    text-transform: uppercase;
}

up-progress-bar {
    background-color: #3b9726 !important;
}

.menu-item{
    overflow: hidden;
    max-height: 46px;
    transition: max-height 0.3s ease-out !important;
}

.menu-item.expanded{
    max-height: 1800px;
    transition: max-height 0.3s ease-in !important;
}

.menu-item:hover{
    transition-property: background-color, color;
    transition-duration: 0.1s, 0.1s;
}

.menu-item > a:hover svg path, .menu-item > a:hover svg line, .menu-item > a:hover svg circle{
    stroke: #FFFFFF !important;
}

.categories-stack{
    min-height: 41px;
}

.tui-timepicker{
    padding: 0px !important;
    background: none !important;
    border: 0px !important;
}

.tui-timepicker-btn{
    border: 0px !important;
}

.tui-timepicker-spinbox-input{
    border-radius: 5px !important;
}

.tui-timepicker .tui-ico-t-btn{
    position: relative !important;
    top: 3px !important;
}

.tui-timepicker-btn:hover, .tui-timepicker-btn:focus, .tui-timepicker-btn:active{
    background-color: transparent !important;
}

.tui-timepicker-btn-area .tui-timepicker-spinbox-input{
    border-color: #737373 !important;
}
