{% import "elements/content/icons.njk" as icons %}

{% if products.length %}
<div id="profile-favorite-products" class="grid grid-cols-4 gap-7 items">

    
    {% for item in products %}
    <div class="relative mb-5 item">
        <a href="{{root}}/home/ponuka/{{item.old_id}}/{{item.slug}}" up-follow up-instant up-target="body">
            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                {% if item.image[0] and item.image[0].filename %}
                <div class="absolute z-10 px-2 py-1 h-8 rounded-b-lg top-0 right-1.5 bg-red-of">
                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                </div>
                <div class="w-full h-48 bg-center bg-cover bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{item.image[0].filename}});"></div>
                {% endif %}
            </div>
        </a>

        <div class="mt-2 text-lg font-semibold text-black truncate title">{{ item.title }}</div>

        <div class="text-xs text-red-of">
            Cena <span class="text-sm font-semibold">{{item.price | price}}</span> za 
            {{item.unit}}
            {% if item.price_for.trim() === 'gramy' %}
            g.
            {% elif item.price_for.trim() === 'kilogramy' %}
            kg.
            {% elif item.price_for.trim() === 'liters' %}
            l.
            {% elif item.price_for.trim() === 'kusy' %}
            ks.
            {% elif item.price_for.trim() === 'balenie' %}
            bal.
            {% else %}
            {{item.price_for}}.
            {% endif %}
        </div>

        <div class="grid grid-cols-12 gap-1">
            <div class="col-span-8">
                <div class="mt-1 text-xs text-gray-500">{{item.farmer.company_name}}</div>
                
                {% if item.quantity %}
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{item.quantity}} 
                {% if item.price_for === 'gramy' %}
                g.
                {% elif item.price_for === 'kilogramy' %}
                kg.
                {% elif item.price_for === 'liters' %}
                l.
                {% elif item.price_for === 'kusy' %}
                ks.
                {% elif item.price_for === 'balenie' %}
                bal.
                {% else %}
                {{item.price_for}}.
                {% endif %}
                </span></div>
                {% endif %}
            </div>
            <div class="col-span-4 text-right">
                <div data-id="{{item.old_id}}" class="inline-block favorite-remove-btn w-6 h-6 cursor-pointer -top-2.5 -right-2.5 text-center">
                    <div style="top: -1px;" class="relative w-5 h-5 left-0.5">{{ icons.delete('inline-block fill-current w-6 opacity-40') }}</div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% else %}

Nemáte žiadne obľúbené produkty na zobrazenie.

{% endif %}