<div class="grid grid-cols-2 gap-20 text-sm" id="gps" >
    <div class="">

        {% if data and data.length %}
        <div class="">
            <div class="">Nájdené súradnice:</div>

            {% for item in data %}

            <div class="border-b border-gray-300 form-control">
            <label class="justify-start cursor-pointer label">
                <input type="radio" name="gps" class="mr-4 radio" checked value="{{item.lat}}, {{item.lon}}" />
                <span class="text-left label-text">{{item.display_name}}<br/>Latitude: <span class="font-semibold">{{item.lat}}</span>, Longitude: <span class="font-semibold">{{item.lon}}</span></span> 
            </label>
            </div>
            
            {% endfor %}

            <div class="mb-1 form-control">
            <label class="justify-start cursor-pointer label">
                <input type="radio" name="gps" class="mr-4 radio" value="custom" />
                <span class="text-left label-text">Vlastné hodnoty</span> 
            </label>
            </div>
            
        </div>
        {% else %}
            {% if resultEmpty %}
            <div class="mb-4 text-red-of">Žiadne súradnice k uvedenej adrese neboli nájdené.</div>
            {% endif %}
        {% endif %}

        <div class="grid grid-cols-2 gap-4 text-sm">

            <div>
                <div class="mb-1 text-sm text-gray-500">Latitude</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "gps_latitude") %}
                <input name="gps_latitude" type="text" class="text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. 48.148598" value="{{gps_latitude}}"/>
                {% if validationErrors.gps_latitude %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.gps_latitude}}</div>
                {% endif %}
            </div>

            <div>
                <div class="mb-1 text-sm text-gray-500">Longitude</div>
                {% set validationClasses = inputValidationClasses(validationErrors, "gps_longitude") %}
                <input name="gps_longitude" type="text" class="text-left placeholder:italic placeholder:text-gray-400 placeholder:text-xs w-full text-sm rounded-md {{validationClasses}}" placeholder="napr. 17.107748" value="{{gps_longitude}}"/>
                {% if validationErrors.gps_longitude %}
                <div class="py-2 text-xs text-red-of">{{validationErrors.gps_longitude}}</div>
                {% endif %}
            </div>

        </div>


        <div class="">
            <button id="profile-generate-gps" class="inline-block px-4 py-1 mt-10 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">Generovať z adresy</button>
        </div>
    </div>
</div>