<div id="cookies-consent" class="cookies fixed bottom-0 left-0 w-full text-sm hidden">
    <div class=" text-white">
        <div class="grid grid-cols-2 gap-4 bg-green-900">
            <div class="px-5 py-4">
                Používaním týchto stránok súhlasíte s používaním cookies, ktoré nám pomáhajú zabezpečiť lepšie služby.
                <a href="{{root}}/cookies" class="underline inline-block" up-follow up-instant>Viac informácií.</a>
            </div>
            <div class="text-right">
                <span id="cookies-consent-accept" class="inline-block cursor-pointer h-full px-12 py-4 bg-green-700">Súhlasím</span>
            </div>
        </div>
    </div>
</div>