{% macro search(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
<path d="M22.2,20.9l-5.6-5.6c1.2-1.4,1.9-3.3,1.9-5.2c0-4.6-3.8-8.4-8.4-8.4c-4.6,0-8.4,3.8-8.4,8.4c0,4.6,3.8,8.4,8.4,8.4
	c2.1,0,4.1-0.8,5.5-2.1l5.5,5.5c0.1,0.1,0.3,0.2,0.5,0.2s0.4-0.1,0.5-0.2C22.5,21.6,22.5,21.2,22.2,20.9z M3.2,10.1c0-3.8,3.1-7,7-7
	s7,3.1,7,7c0,1.8-0.7,3.5-1.9,4.7c0,0,0,0-0.1,0c0,0,0,0.1-0.1,0.1c-1.3,1.3-3,2.1-5,2.1C6.3,17.1,3.2,14,3.2,10.1z"/>
</svg>
{% endmacro %}

{% macro carrot(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
	<path d="M22.2,7.8l-0.7-0.7c-0.9-0.9-2.1-1.2-3.2-1.1c0-0.2,0-0.3,0-0.5c0-1.1-0.4-2-1.2-2.8l-0.7-0.7c-0.2-0.2-0.4-0.3-0.6-0.3
	c-0.2,0-0.5,0.1-0.6,0.3l-0.7,0.7c-1,1-1.3,2.3-1.1,3.5c-0.3,0-0.6,0-0.9,0c-1.3,0.2-2.4,0.9-3,2L3.8,18v0c-0.4,0.6-0.3,1.4,0.3,2
	c0.3,0.3,0.8,0.5,1.2,0.5c0.3,0,0.5-0.1,0.8-0.2l9.8-5.5c1.1-0.6,1.9-1.7,2-3c0-0.3,0-0.6,0-1c0.3,0.1,0.5,0.1,0.8,0.1
	c1,0,2-0.4,2.8-1.2l0.7-0.7c0.2-0.2,0.3-0.4,0.3-0.6S22.4,8,22.2,7.8z M15.8,4L15.8,4l0.1,0c0.4,0.4,0.6,0.9,0.6,1.5
	c0,0.6-0.2,1.1-0.6,1.5l-0.1,0.1l-0.1-0.1C15,6.2,15,4.9,15.8,4z M16.2,11.5c-0.1,0.7-0.5,1.3-1.1,1.7L10.2,16L9.2,15
	c-0.4-0.4-0.9-0.4-1.3,0s-0.4,0.9,0,1.3l0.6,0.6l-2.9,1.6l4.7-8.1l1.5,1.5c0.2,0.2,0.4,0.3,0.6,0.3s0.5-0.1,0.6-0.3
	c0.4-0.4,0.4-0.9,0-1.3l-1.8-1.8c0.4-0.4,0.9-0.7,1.4-0.7c0.1,0,0.2,0,0.3,0c0.7,0,1.3,0.3,1.9,0.7L15.2,9c0,0,0,0,0,0c0,0,0,0,0,0
	l0.2,0.2C16,9.9,16.3,10.7,16.2,11.5z M20.3,8.5c-0.8,0.8-2.2,0.8-3,0l-0.1-0.1l0.1-0.1c0.8-0.8,2.2-0.8,3,0L20.3,8.5L20.3,8.5z"/>
</svg>
{% endmacro %}

{% macro farm(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
	<g>
		<path d="M19.3,7l-0.3-0.2c-2.5-2.3-6.1-2.5-8.8-0.6c-0.2-2-1.8-3.7-3.7-3.7c-2,0-3.7,1.9-3.7,4v2.5v11.5c0,0.5,0.4,0.9,0.9,0.9h4
			c0,0,0,0,0.1,0c0,0,0,0,0.1,0h4.3c0.5,0,0.9-0.4,0.9-0.9v-2h2.5v2c0,0.5,0.4,0.9,0.9,0.9h4.3c0.5,0,0.9-0.4,0.9-0.9v-8.2
			C21.7,10.4,20.8,8.4,19.3,7z M4.6,6.6c0-1.1,0.9-2.2,1.9-2.2s1.9,1.1,1.9,2.2v1.3C8.4,8,8.3,8.1,8.3,8.2H4.6V6.6z M4.6,10h2.7
			c-0.3,0.8-0.4,1.6-0.4,2.4v7.3H4.6V10z M19.9,19.7h-2.5v-2c0-0.5-0.4-0.9-0.9-0.9h-4.3c-0.5,0-0.9,0.4-0.9,0.9v2H8.7v-7.3
			c0-1.5,0.7-3,1.8-4.1l0.3-0.2c2-1.8,5.1-1.8,7.1,0l0.3,0.2c0,0,0,0,0,0c1.1,1,1.8,2.5,1.8,4.1V19.7z"/>
		<path d="M15.6,10.7H13c-0.5,0-0.9,0.4-0.9,0.9v2.2c0,0.5,0.4,0.9,0.9,0.9h2.6c0.5,0,0.9-0.4,0.9-0.9v-2.2
			C16.5,11.1,16.1,10.7,15.6,10.7z M14.7,12.9h-0.8v-0.4h0.8V12.9z"/>
	</g>
</svg>
{% endmacro %}

{% macro recept_bold(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
	<g>
		<g>
			<path d="M15.3,21.8H8.6c-1.2,0-2.2-1-2.2-2.2v-0.6c-2.6-1.5-4.4-4.8-4.6-7.3c0-0.4,0.1-0.8,0.4-1.1c0.3-0.3,0.7-0.5,1.1-0.5h17.5
				c0.4,0,0.8,0.2,1.1,0.5c0.3,0.3,0.4,0.7,0.4,1.1v0c-0.2,2.6-2,5.9-4.7,7.3v0.6C17.5,20.9,16.5,21.8,15.3,21.8z M3.6,12
				c0.4,2.1,2,4.8,4,5.7l0.5,0.2v1.7c0,0.2,0.2,0.4,0.4,0.4h6.8c0.2,0,0.4-0.2,0.4-0.4V18l0.5-0.2c2.1-0.9,3.8-3.6,4.1-5.7H3.6z"/>
		</g>
	</g>
	<g>
		<path d="M13,9c-0.2,0-0.4-0.1-0.5-0.2C12.1,8.5,12,8,12.3,7.6l1-1.4c0.1-0.1,0.1-0.2,0-0.3L12.8,5c-0.4-0.7-0.4-1.6,0.1-2.3l0.8-1
			c0.3-0.4,0.9-0.5,1.3-0.1c0.4,0.3,0.5,0.9,0.1,1.3l-0.8,1c0,0.1,0,0.1,0,0.2l0.5,0.8c0.4,0.7,0.4,1.6-0.1,2.3l-1,1.4
			C13.6,8.8,13.3,9,13,9z"/>
	</g>
	<g>
		<path d="M9.5,9C9.4,9,9.2,8.9,9,8.8C8.6,8.5,8.5,8,8.8,7.6l1-1.4c0.1-0.1,0.1-0.2,0-0.3L9.3,5C8.9,4.3,8.9,3.4,9.4,2.8l0.8-1
			c0.3-0.4,0.9-0.5,1.3-0.1c0.4,0.3,0.5,0.9,0.1,1.3l-0.8,1c0,0.1,0,0.1,0,0.2l0.5,0.8c0.4,0.7,0.4,1.6-0.1,2.3l-1,1.4
			C10.1,8.8,9.8,9,9.5,9z"/>
	</g>
</svg>
{% endmacro %}

{% macro login(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
	<g>
		<path d="M14.4,11.1L9.1,5.8c-0.4-0.4-0.9-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l3.8,3.8H3.5c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9
		h8.1l-3.8,3.8c-0.4,0.4-0.4,0.9,0,1.3C8,17.9,8.2,18,8.4,18s0.5-0.1,0.6-0.3l5.3-5.3C14.7,12,14.7,11.5,14.4,11.1z"/>
		<path d="M19.1,3.8h-6.7c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h6.4v11.5h-6.4c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h6.7
			c0.8,0,1.5-0.6,1.5-1.3V5.2C20.6,4.4,19.9,3.8,19.1,3.8z"/>
	</g>
</svg>
{% endmacro %}

{% macro apple(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M18.71,19.5C17.88,20.74 17,21.95 15.66,21.97C14.32,22 13.89,21.18 12.37,21.18C10.84,21.18 10.37,21.95 9.1,22C7.79,22.05 6.8,20.68 5.96,19.47C4.25,17 2.94,12.45 4.7,9.39C5.57,7.87 7.13,6.91 8.82,6.88C10.1,6.86 11.32,7.75 12.11,7.75C12.89,7.75 14.37,6.68 15.92,6.84C16.57,6.87 18.39,7.1 19.56,8.82C19.47,8.88 17.39,10.1 17.41,12.63C17.44,15.65 20.06,16.66 20.09,16.67C20.06,16.74 19.67,18.11 18.71,19.5M13,3.5C13.73,2.67 14.94,2.04 15.94,2C16.07,3.17 15.6,4.35 14.9,5.19C14.21,6.04 13.07,6.7 11.95,6.61C11.8,5.46 12.36,4.26 13,3.5Z" />
</svg>
{% endmacro %}

{% macro google_play(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M3,20.5V3.5C3,2.91 3.34,2.39 3.84,2.15L13.69,12L3.84,21.85C3.34,21.6 3,21.09 3,20.5M16.81,15.12L6.05,21.34L14.54,12.85L16.81,15.12M20.16,10.81C20.5,11.08 20.75,11.5 20.75,12C20.75,12.5 20.53,12.9 20.18,13.18L17.89,14.5L15.39,12L17.89,9.5L20.16,10.81M6.05,2.66L16.81,8.88L14.54,11.15L6.05,2.66Z" /></svg>
{% endmacro %}

{% macro google(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
<path d="M12.2,10.6V14H18c-0.3,1.4-1.7,4.3-5.8,4.3C8.7,18.4,6,15.5,6,12s2.7-6.4,6.2-6.4c2,0,3.3,0.9,4,1.6L19,4.6 c-1.7-1.7-4.1-2.7-6.8-2.7C6.6,1.9,2.1,6.4,2.1,12s4.5,10.1,10.1,10.1c5.8,0,9.7-4,9.7-9.8c0-0.7,0-1.2-0.1-1.7H12.2z"/></svg>
{% endmacro %}

{% macro facebook(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" /></svg>
{% endmacro %}

{% macro twitter(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
{% endmacro %}

{% macro instagram(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>
{% endmacro %}

{% macro reddit(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 279.748 279.748" style="enable-background:new 0 0 279.748 279.748;" xml:space="preserve">
<path d="M279.748,133.142c0-19.299-15.701-35-35-35c-10.768,0-20.674,4.812-27.279,13.064
	c-18.532-8.431-39.663-13.626-62.015-15.271l19.206-60.692l42.895,9.294c3.285,12.782,14.901,22.258,28.693,22.258
	c16.336,0,29.627-13.29,29.627-29.626c0-16.336-13.291-29.627-29.627-29.627c-11.801,0-21.999,6.941-26.759,16.95l-49.497-10.725
	c-5.041-1.092-10.094,1.833-11.651,6.756l-23.705,74.907c-26.164,0.638-50.988,6.053-72.356,15.775
	C55.674,102.954,45.768,98.142,35,98.142c-19.299,0-35,15.701-35,35c0,9.373,3.683,18.173,10.222,24.709
	c-3.9,8.37-5.875,17.076-5.875,25.936c0,24.048,14.396,46.492,40.538,63.199c25.447,16.264,59.183,25.221,94.989,25.221
	c35.808,0,69.542-8.957,94.989-25.221c26.142-16.707,40.538-39.151,40.538-63.199c0-8.859-1.975-17.565-5.875-25.936
	C276.065,151.314,279.748,142.515,279.748,133.142z M15.369,145.139c-2.212-3.59-3.369-7.688-3.369-11.997c0-12.682,10.317-23,23-23
	c5.444,0,10.558,1.851,14.649,5.258C35.027,123.702,23.517,133.689,15.369,145.139z M68.04,165.405c0-13.785,11.215-25,25-25
	c13.785,0,25,11.215,25,25c0,13.785-11.215,25-25,25C79.255,190.405,68.04,179.19,68.04,165.405z M191.159,222.459
	c-9.745,10.637-29.396,17.244-51.285,17.244c-21.888,0-41.539-6.607-51.284-17.244c-1.805-1.97-2.733-4.525-2.617-7.192
	c0.116-2.669,1.266-5.133,3.235-6.937c1.849-1.694,4.247-2.627,6.754-2.627c2.797,0,5.484,1.183,7.373,3.244
	c5.803,6.333,20.827,10.756,36.539,10.756c15.712,0,30.737-4.423,36.539-10.756c1.889-2.062,4.576-3.244,7.374-3.244
	c2.508,0,4.906,0.933,6.755,2.627c1.97,1.804,3.118,4.268,3.234,6.937C193.893,217.934,192.964,220.489,191.159,222.459z
	 M186.708,190.405c-13.785,0-25-11.215-25-25c0-13.785,11.215-25,25-25c13.785,0,25,11.215,25,25
	C211.708,179.19,200.493,190.405,186.708,190.405z M264.379,145.139c-8.147-11.45-19.657-21.436-34.28-29.739
	c4.092-3.408,9.205-5.258,14.649-5.258c12.683,0,23,10.318,23,23C267.748,137.451,266.591,141.549,264.379,145.139z"/>
</svg>
{% endmacro %}

{% macro heart_outline(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" /></svg>
{% endmacro %}

{% macro star(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
    <path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		C17.2,20.3,17.2,20.3,17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3
		l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z
		 M15.6,8.1L15.6,8.1C15.6,8.1,15.6,8.1,15.6,8.1z"/>
</svg>
{% endmacro %}

{% macro arrow_right_thin(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
    <polygon points="12.5,3.5 11.5,4.5 18.2,11.3 4,11.3 4,12.7 18.2,12.7 11.5,19.5 12.5,20.5 20.9,12 "/>
</svg>
{% endmacro %}

{% macro new_product(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
    <path d="M20.1,4.1v1.3L3.9,9.1V7.9H2.5v8.2h1.4V15L7,15.7c0,0.2-0.1,0.4-0.1,0.6c0,1.6,1.3,2.9,2.9,2.9c1.4,0,2.5-1,2.8-2.2l7.5,1.7
	v1.2h1.4V4.1H20.1z M9.8,17.8c-0.8,0-1.5-0.7-1.5-1.5c0-0.1,0-0.2,0-0.3l2.9,0.7C11.1,17.3,10.5,17.8,9.8,17.8z M3.9,13.5v-3
	l16.2-3.6v10.3L3.9,13.5z"/>
</svg>
{% endmacro %}

{% macro map_marker_outline(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z" /></svg>
{% endmacro %}

{% macro post_box(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
    <g>
        <path d="M18.3,4.9H7.5H6.2H5c-2.2,0-4.1,1.8-4.1,4.1v10.6h9.8h0.8h11.9V10C23.5,7.2,21.2,4.9,18.3,4.9z M10,17.9H2.5v-9
            c0-1.4,1.1-2.5,2.5-2.5h1.3h1.3c1.4,0,2.5,1.1,2.5,2.5V17.9z M21.9,17.9H11.6v-9c0-0.9-0.3-1.8-0.8-2.5h7.6c2,0,3.6,1.6,3.6,3.6
            V17.9z"/>
        <rect x="4.4" y="9.5" width="4" height="2.3"/>
        <path d="M18.5,9.5h-4.1v1.6h3.1v2.6H20V11C20,10.2,19.3,9.5,18.5,9.5z"/>
    </g>
</svg>
{% endmacro %}

{% macro recept(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
	<g>
		<g>
			<path d="M15.3,21.7H8.6c-1.1,0-2.1-0.9-2.1-2.1V19c-2.6-1.4-4.4-4.7-4.6-7.3c0-0.4,0.1-0.7,0.3-1c0.3-0.3,0.6-0.4,1-0.4h17.5
				c0.4,0,0.8,0.2,1,0.4c0.3,0.3,0.4,0.6,0.3,1v0c-0.2,2.6-2,5.9-4.7,7.3v0.6C17.4,20.8,16.5,21.7,15.3,21.7z M3.5,11.9
				c0.3,2.2,2,4.9,4.1,5.9L8.1,18v1.7c0,0.3,0.2,0.5,0.5,0.5h6.8c0.3,0,0.5-0.2,0.5-0.5V18l0.5-0.2c2.2-0.9,3.9-3.7,4.2-5.9H3.5z"/>
		</g>
	</g>
	<g>
		<path d="M13,8.9c-0.2,0-0.3,0-0.5-0.1c-0.4-0.3-0.5-0.7-0.2-1.1l1-1.4c0.1-0.1,0.1-0.3,0-0.4L12.9,5c-0.4-0.7-0.4-1.5,0.1-2.1
			l0.8-1c0.3-0.3,0.8-0.4,1.1-0.1c0.3,0.3,0.4,0.8,0.1,1.1l-0.8,1c-0.1,0.1-0.1,0.2,0,0.3L14.7,5c0.4,0.7,0.4,1.5-0.1,2.2l-1,1.4
			C13.6,8.8,13.3,8.9,13,8.9z"/>
	</g>
	<g>
		<path d="M9.5,8.9c-0.2,0-0.3,0-0.5-0.1C8.7,8.5,8.6,8,8.9,7.6l1-1.4c0.1-0.1,0.1-0.3,0-0.4L9.4,5C9,4.3,9,3.5,9.5,2.9l0.8-1
			c0.3-0.3,0.8-0.4,1.1-0.1c0.3,0.3,0.4,0.8,0.1,1.1l-0.8,1c-0.1,0.1-0.1,0.2,0,0.3L11.2,5c0.4,0.7,0.4,1.5-0.1,2.2l-1,1.4
			C10,8.8,9.8,8.9,9.5,8.9z"/>
	</g>
</svg>
{% endmacro %}

{% macro rating_0(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
		<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
			C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
			c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
			L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
			c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
			L15.6,8.1L15.6,8.1z"/>
		<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
			L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
			l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
			L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
		<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
			l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
			c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
			c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
			c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
			L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
		<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
			l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
			c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
			L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
		<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
			L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
			l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
			L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
</svg>
{% endmacro %}

{% macro rating_0_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
        <path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
			C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
			c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
			L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
			c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
			L15.6,8.1L15.6,8.1z"/>
		<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
			L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
			l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
			L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
		<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
			l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
			c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
			c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
			c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
			L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
		<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
			l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
			c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
			L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
		<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
			L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
			l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
			c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
			c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
			L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
		<path d="M12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3l-5.2,0.8l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.2-0.1,0.3-0.2,0.5-0.2
			L12,3.9z"/>
</svg>
{% endmacro %}

{% macro rating_1(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
</svg>
{% endmacro %}

{% macro rating_1_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M34,3.9l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7l-5.2,0.8l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4
		c0.2-0.1,0.3-0.2,0.5-0.2L34,3.9z"/>
</svg>
{% endmacro %}

{% macro rating_2(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
</svg>
{% endmacro %}

{% macro rating_2_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M56.3,3.9l-2.5,4.7C53.7,9,53.4,9.2,53,9.3l-5.2,0.8l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4
		c0.2-0.1,0.3-0.2,0.5-0.2L56.3,3.9z"/>
</svg>
{% endmacro %}

{% macro rating_3(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M47.8,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C53.7,9,53.4,9.2,53,9.3L47.8,10.1z"/>
</svg>
{% endmacro %}

{% macro rating_3_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M47.8,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C53.7,9,53.4,9.2,53,9.3L47.8,10.1z"/>
	<path d="M78.6,3.9l-2.5,4.7C76,9,75.7,9.2,75.2,9.3l-5.2,0.8l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4
		c0.2-0.1,0.3-0.2,0.5-0.2L78.6,3.9z"/>
</svg>
{% endmacro %}

{% macro rating_4(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M47.8,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C53.7,9,53.4,9.2,53,9.3L47.8,10.1z"/>
	<path d="M70.1,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L70.1,10.1z"/>
</svg>
{% endmacro %}

{% macro rating_4_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M47.8,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C53.7,9,53.4,9.2,53,9.3L47.8,10.1z"/>
	<path d="M70.1,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C76,9,75.7,9.2,75.3,9.3L70.1,10.1z"/>
	<path d="M100.8,3.9l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7l-5.2,0.8l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4
		c0.2-0.1,0.3-0.2,0.5-0.2L100.8,3.9z"/>
</svg>
{% endmacro %}

{% macro rating_5(class='', style='') %}
<svg version="1.1" class="{{class}}" style='{{style}}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.9 24" style="enable-background:new 0 0 112.9 24;" xml:space="preserve">
	<path d="M17.4,21.5c-0.2,0-0.4,0-0.5-0.1L12,18.9l-4.9,2.4c-0.4,0.2-0.9,0.2-1.2-0.1c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9
		C2.1,10.5,2,10.1,2.2,9.7C2.3,9.3,2.6,9,3.1,8.9L8.5,8L11,3.2c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6l0,0L15.5,8l5.4,0.9
		c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1C17.9,21.4,17.6,21.5,17.4,21.5z M17.2,20.3
		L17.2,20.3L17.2,20.3z M3.8,10.2l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1
		c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,4.2L9.6,8.7C9.5,9.1,9.2,9.3,8.8,9.4L3.8,10.2z M15.6,8.1
		L15.6,8.1L15.6,8.1z"/>
	<path d="M28.8,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L30.6,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l0,0L37.7,8l5.4,0.9C43.5,9,43.9,9.3,44,9.7s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L34.1,19l-4.9,2.4C29.2,21.4,29,21.5,28.8,21.5z M34.2,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C33.8,17.5,34,17.5,34.2,17.5z M39.9,14.6
		L39.9,14.6L39.9,14.6z M37.8,8.1L37.8,8.1L37.8,8.1z M34,3.8L34,3.8L34,3.8z"/>
	<path d="M51,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,1-0.8L52.8,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L59.9,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L56.3,19l-4.9,2.4C51.3,21.4,51.2,21.5,51,21.5z M48.1,10.2l3.6,3.6
		c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3c0.3-0.2,0.7-0.2,1,0l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8
		c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5L54,8.7c-0.2,0.3-0.5,0.6-0.8,0.6L48.1,10.2z M62.1,14.6L62.1,14.6L62.1,14.6z M65.1,10.3
		L65.1,10.3L65.1,10.3z M56.2,3.8L56.2,3.8L56.2,3.8z"/>
	<path d="M73.2,21.5c-0.2,0-0.5-0.1-0.7-0.2C72.1,21,72,20.6,72,20.1l0.8-5.4L69,10.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8L75,8
		l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6s0.8,0.2,1,0.6L82.1,8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9l0.8,5.4
		c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1L78.5,19l-4.9,2.4C73.5,21.4,73.4,21.5,73.2,21.5z M78.6,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C78.2,17.5,78.4,17.5,78.6,17.5z M72.9,14.6
		L72.9,14.6L72.9,14.6z M87.3,10.3L87.3,10.3L87.3,10.3z M78.4,3.8L78.4,3.8L78.4,3.8z"/>
	<path d="M95.4,21.5c-0.2,0-0.5-0.1-0.7-0.2c-0.4-0.3-0.5-0.7-0.5-1.1l0.8-5.4l-3.8-3.9c-0.3-0.3-0.4-0.8-0.3-1.2s0.5-0.7,0.9-0.8
		L97.2,8l2.5-4.8c0.2-0.4,0.6-0.6,1-0.6l0,0c0.4,0,0.8,0.2,1,0.6l2.5,4.8l5.4,0.9c0.4,0.1,0.8,0.4,0.9,0.8s0,0.9-0.3,1.2l-3.8,3.9
		l0.8,5.4c0.1,0.4-0.1,0.9-0.5,1.1c-0.4,0.3-0.8,0.3-1.2,0.1l-4.9-2.4l-4.9,2.4C95.7,21.4,95.6,21.5,95.4,21.5z M100.8,17.5
		c0.2,0,0.4,0,0.5,0.1l4.6,2.3l-0.8-5.1c-0.1-0.4,0.1-0.7,0.3-1l3.6-3.6l-5-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.4-4.5l-2.4,4.5
		c-0.2,0.3-0.5,0.6-0.8,0.6l-5,0.8l3.6,3.6c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.1l4.6-2.3C100.4,17.5,100.6,17.5,100.8,17.5z M109.5,10.3
		L109.5,10.3L109.5,10.3z M100.6,3.8L100.6,3.8L100.6,3.8z"/>
	<path d="M3.5,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6L12,3.9L9.5,8.6C9.4,9,9.1,9.2,8.7,9.3L3.5,10.1z"/>
	<path d="M25.7,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L25.7,10.1z"/>
	<path d="M47.8,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1L51,20.2l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C53.7,9,53.4,9.2,53,9.3L47.8,10.1z"/>
	<path d="M70.1,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7C76,9,75.7,9.2,75.3,9.3L70.1,10.1z"/>
	<path d="M92.3,10.1l3.7,3.7c0.3,0.3,0.4,0.6,0.3,1l-0.8,5.3l4.8-2.4c0.3-0.2,0.7-0.2,1,0l4.8,2.4l-0.8-5.3c-0.1-0.4,0.1-0.7,0.3-1
		l3.7-3.7l-5.2-0.8c-0.4-0.1-0.7-0.3-0.8-0.6l-2.5-4.8l-2.5,4.7c-0.1,0.4-0.4,0.6-0.8,0.7L92.3,10.1z"/>
</svg>
{% endmacro %}

{% macro arrow_top(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
</svg>
{% endmacro %}

{% macro arrow_bottom(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
</svg>
{% endmacro %}

{% macro clock(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 20C16.4 20 20 16.4 20 12S16.4 4 12 4 4 7.6 4 12 7.6 20 12 20M12 2C17.5 2 22 6.5 22 12S17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2M15.3 16.2L14 17L11 11.8V7H12.5V11.4L15.3 16.2Z" />
</svg>
{% endmacro %}

{% macro mail(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" />
</svg>
{% endmacro %}

{% macro account(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11A1.5,1.5 0 0,1 10.5,9.5A1.5,1.5 0 0,1 12,8A1.5,1.5 0 0,1 13.5,9.5A1.5,1.5 0 0,1 12,11Z" />
</svg>
{% endmacro %}

{% macro lock(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M9 5.82L7.36 4.16C8.09 2.31 9.89 1 12 1C14.76 1 17 3.24 17 6V8H18C19.11 8 20 8.9 20 10V16.8L18 14.8V10H13.2L11.2 8H15V6C15 4.34 13.66 3 12 3C10.41 3 9.11 4.25 9 5.82M22.11 21.46L20.84 22.73L19.46 21.35C19.1 21.75 18.58 22 18 22H6C4.89 22 4 21.1 4 20V10C4 8.89 4.89 8 6 8H6.11L1.11 3L2.39 1.73L22.11 21.46M18 19.89L13.85 15.74C13.56 16.5 12.84 17 12 17C10.89 17 10 16.1 10 15C10 14.15 10.5 13.44 11.26 13.15L8.11 10H6V20H18V19.89Z" /></svg>
{% endmacro %}

{% macro without_photo(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M22 20.7L3.3 2L2 3.3L3 4.3V19C3 20.1 3.9 21 5 21H19.7L20.7 22L22 20.7M5 19V6.3L12.6 13.9L11.1 15.8L9 13.1L6 17H15.7L17.7 19H5M8.8 5L6.8 3H19C20.1 3 21 3.9 21 5V17.2L19 15.2V5H8.8" /></svg>
{% endmacro %}

{% macro home(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<polyline style="fill:none;stroke:#231F20;stroke-miterlimit:10;" points="0.8,9 12.7,1.8 24.5,9 "/>
	<g>
		<polyline style="fill:none;stroke:#231F20;stroke-miterlimit:10;" points="3.8,7.2 3.8,22.5 9.7,22.5 9.7,14.6 15.6,14.6 
			15.6,22.5 21.2,22.5 21.2,7.2 	"/>
		<polyline style="fill:#FFFFFF;stroke:#231F20;stroke-miterlimit:10;" points="15.6,22.5 15.6,14.6 9.7,14.6 9.7,22.5 	"/>
	</g>
</svg>
{% endmacro %}

{% macro message(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<rect x="1.8" y="5.7" style="fill:none;stroke:#231F20;stroke-miterlimit:10;" width="21.4" height="13.7"/>
	<polyline style="fill:none;stroke:#231F20;stroke-miterlimit:10;" points="23.2,9.1 12.5,15.1 1.6,9.1 "/>
</svg>
{% endmacro %}

{% macro my_offer(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<rect x="5.3" y="4.5" style="fill:none;stroke:#231F20;stroke-miterlimit:10;" width="14.5" height="18"/>
	<circle style="fill:#FFFFFF;stroke:#231F20;stroke-miterlimit:10;" cx="12.5" cy="4.5" r="1.6"/>
	<line style="fill:none;stroke:#231F20;stroke-miterlimit:10;" x1="8.4" y1="11.1" x2="11.2" y2="11.1"/>
	<line style="fill:none;stroke:#231F20;stroke-miterlimit:10;" x1="12.6" y1="11.1" x2="17.2" y2="11.1"/>
	<line style="fill:none;stroke:#231F20;stroke-miterlimit:10;" x1="8.4" y1="14.7" x2="11.2" y2="14.7"/>
	<line style="fill:none;stroke:#231F20;stroke-miterlimit:10;" x1="12.6" y1="14.7" x2="17.2" y2="14.7"/>
</svg>

{% endmacro %}
{% macro favorites(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M12.5,21.7l-1.4-1.3c-5.2-4.7-8.6-7.8-8.6-11.5
	c0-3.1,2.4-5.5,5.5-5.5c1.7,0,3.4,0.8,4.5,2.1c1.1-1.3,2.8-2.1,4.5-2.1c3.1,0,5.5,2.4,5.5,5.5c0,3.8-3.4,6.9-8.6,11.5L12.5,21.7z"/>
</svg>
{% endmacro %}

{% macro subscription(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M20.2,22.2H5.7c-0.2,0-0.4-0.2-0.4-0.4V3.3c0-0.2,0.2-0.4,0.4-0.4
		h10c0.1,0,0.2,0,0.3,0.1l4.5,4.3c0.1,0.1,0.1,0.2,0.1,0.3v14.3C20.6,22.1,20.4,22.2,20.2,22.2z"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M15.8,2.9v3.6c0,0.4,0.4,0.8,0.8,0.8h4"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M14.9,11.7c0-0.9-0.9-1.6-1.9-1.6S11,10.8,11,11.7s0.9,1.6,1.9,1.6
		s1.9,0.7,1.9,1.6s-0.9,1.6-1.9,1.6S11,15.9,11,15"/>
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="12.9" y1="9.1" x2="12.9" y2="10.2"/>
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="12.9" y1="16.5" x2="12.9" y2="17.5"/>
</svg>
{% endmacro %}

{% macro profile(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<circle style="fill:none;stroke:#000000;stroke-miterlimit:10;" cx="12.6" cy="7.6" r="4.5"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M19.8,21.8H5.4c-0.8,0-1.4-0.6-1.4-1.4v-2.4c0-0.7,0.3-1.4,0.8-1.9
		l1.1-1.1c0.5-0.5,1.3-0.8,2-0.7l1.2,0.2c2.3,0.3,4.5,0.3,6.8,0l1.5-0.2c0.8-0.1,1.5,0.2,2.1,0.7l1,1c0.5,0.5,0.7,1.1,0.7,1.8v2.4
		C21.1,21.2,20.5,21.8,19.8,21.8z"/>
</svg>
{% endmacro %}

{% macro profile_white(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<circle style="fill:none;stroke:#ffffff;stroke-miterlimit:10; stroke-width: 1.5;" cx="12.6" cy="7.6" r="4.5"/>
	<path style="fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width: 1.5;" d="M19.8,21.8H5.4c-0.8,0-1.4-0.6-1.4-1.4v-2.4c0-0.7,0.3-1.4,0.8-1.9
		l1.1-1.1c0.5-0.5,1.3-0.8,2-0.7l1.2,0.2c2.3,0.3,4.5,0.3,6.8,0l1.5-0.2c0.8-0.1,1.5,0.2,2.1,0.7l1,1c0.5,0.5,0.7,1.1,0.7,1.8v2.4
		C21.1,21.2,20.5,21.8,19.8,21.8z"/>
</svg>
{% endmacro %}

{% macro settings(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="1.9" y1="5.4" x2="23.1" y2="5.4"/>
	<line  style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="1.9" y1="12.5" x2="23.1" y2="12.5"/>
	<line  style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="1.9" y1="19.6" x2="23.1" y2="19.6"/>
	<rect x="7.9" y="2.4" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="2.9" height="5.6"/>
	<rect x="15.5" y="9.7" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="2.9" height="5.6"/>
	<rect x="5" y="16.8" style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;" width="2.9" height="5.6"/>
</svg>
{% endmacro %}

{% macro add(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-width: 2px;" x1="12.5" y1="6.9" x2="12.5" y2="18.1"/>
	<line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-width: 2px;" x1="6.9" y1="12.5" x2="18.1" y2="12.5"/>
</svg>
{% endmacro %}

{% macro delete(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="4.6" y1="5" x2="20.4" y2="5"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M16.6,21.5H8.2c-0.7,0-1.4-0.6-1.4-1.3L6.2,5h12.4l-0.7,15.2
		C17.9,20.9,17.3,21.5,16.6,21.5z"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M9.6,5L10,3.4c0.1-0.3,0.4-0.5,0.7-0.5h3.7c0.3,0,0.6,0.2,0.7,0.5
		L15.4,5"/>
</svg>
{% endmacro %}

{% macro success(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<polyline style="fill:none;stroke:#EE5151;stroke-miterlimit:10;stroke-width:2px;" points="21.7,7 9,19.7 3.3,14 "/>
</svg>
{% endmacro %}

{% macro success_green(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<polyline style="fill:none;stroke:#16a34a;stroke-miterlimit:10;stroke-width:2px;" points="21.7,7 9,19.7 3.3,14 "/>
</svg>
{% endmacro %}

{% macro ico_pass_1(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M14.7,6.6l-3.2-0.4l0.3-2.6c0-0.2,0.2-0.4,0.5-0.4l1.9,0.2
	c0.2,0,0.4,0.2,0.4,0.5L14.7,6.6z"/>
	<ellipse style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" cx="18.1" cy="12.5" rx="4.5" ry="7.2"/>
	<ellipse style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" cx="7" cy="12.5" rx="4.5" ry="7.2"/>
	<ellipse style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" cx="12.5" cy="12.5" rx="4.5" ry="7.2"/>
</svg>
{% endmacro %}

{% macro ico_pass_2(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M7.7,19.1l-0.8-0.8c2.1-2.8,5.8-2.8,7.9,0
		C13,20.5,9.8,21.2,7.7,19.1z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M7.7,17.3l-0.8,0.8c-2.8-2.1-2.8-5.8,0-7.9
		C9,12,9.8,15.2,7.7,17.3z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M11.1,15.6l-0.8-0.8c2.1-2.8,5.8-2.8,7.9,0
		C16.5,17,13.2,17.7,11.1,15.6z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M11.1,13.9l-0.8,0.8c-2.8-2.1-2.8-5.8,0-7.9
		C12.5,8.5,13.3,11.8,11.1,13.9z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M14.8,12l-0.8-0.8c2.1-2.8,5.8-2.8,7.9,0
		C20.1,13.4,16.8,14.1,14.8,12z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M14.7,10.3l-0.8,0.8c-2.8-2.1-2.8-5.8,0-7.9
		C16.1,4.9,16.9,8.2,14.7,10.3z"/>
	<line style="fill:none;stroke:#EE5151;stroke-miterlimit:10;" x1="18.3" y1="6.7" x2="3.2" y2="21.8"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M17.2,9.1H16c-0.5-3.5,2.1-6,5.6-5.6C22,6.3,20.2,9.1,17.2,9.1z
	"/>
</svg>
{% endmacro %}

{% macro ico_pass_3(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M14.3,12.1h-1.8c-0.7-5.1,3.1-9,8.3-8.3
		C21.4,7.9,18.8,12.1,14.3,12.1z"/>
	<path style="fill:#FFFFFF;stroke:#EE5151;stroke-miterlimit:10;" d="M12.5,13.9v1.8c-5.1,0.7-9-3.1-8.3-8.3
		C8.3,6.8,12.5,9.4,12.5,13.9z"/>
	<line style="fill:none;stroke:#EE5151;stroke-miterlimit:10;" x1="12.5" y1="11.2" x2="12.5" y2="22"/>
</svg>
{% endmacro %}

{% macro farmer(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
	<polyline style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" points="6.5,9.8 6.5,4.5 11.6,4.5 12.6,10.8 "/>
	<line style="fill:#FFFFFF;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="16.2" y1="17" x2="11.8" y2="17"/>
	<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M11.3,10.8h7.6c1,0,1.7,1,1.4,2l-0.7,1.8"/>
	<circle style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" cx="18.7" cy="17" r="2.3"/>
	<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="16.9" y1="10.8" x2="18.3" y2="7"/>
	<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M8.3,9.4l0.9,0.5c0.1,0,0.2,0.1,0.3,0.1l1,0.2
		c0.3,0,0.5,0.2,0.7,0.5l0.5,0.9c0,0.1,0.1,0.2,0.2,0.2l0.7,0.7c0.2,0.2,0.3,0.5,0.3,0.8l-0.2,1c0,0.1,0,0.2,0,0.3l0.2,1
		c0,0.3,0,0.6-0.3,0.8l-0.7,0.7c-0.1,0.1-0.1,0.1-0.2,0.2l-0.5,0.9c-0.1,0.3-0.4,0.4-0.7,0.5l-1,0.2c-0.1,0-0.2,0-0.3,0.1l-0.9,0.5
		c-0.3,0.1-0.6,0.1-0.8,0l-0.9-0.5c-0.1,0-0.2-0.1-0.3-0.1l-1-0.2c-0.3,0-0.5-0.2-0.7-0.5l-0.5-0.9c0-0.1-0.1-0.2-0.2-0.2l-0.7-0.7
		c-0.2-0.2-0.3-0.5-0.3-0.8l0.2-1c0-0.1,0-0.2,0-0.3l-0.2-1c0-0.3,0-0.6,0.3-0.8L4,11.8c0.1-0.1,0.1-0.1,0.2-0.2l0.5-0.9
		c0.1-0.3,0.4-0.4,0.7-0.5l1-0.2c0.1,0,0.2,0,0.3-0.1l0.9-0.5C7.8,9.3,8.1,9.3,8.3,9.4z"/>
	<circle style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" cx="7.9" cy="14.4" r="2.2"/>
</svg>
{% endmacro %}

{% macro farmer_large(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 58.1 58.1" style="enable-background:new 0 0 58.1 58.1;" xml:space="preserve">
<polyline style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" points="12.9,22.3 12.9,7.5 27.1,7.5 29.8,25.3 
	"/>
<line style="fill:#FFFFFF;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" x1="40.2" y1="42.7" x2="27.8" y2="42.7"/>
<path style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" d="M26.2,25.3h21.4c2.9,0,4.9,2.9,3.9,5.5l-1.9,5.2"/>
<circle style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" cx="47.1" cy="42.7" r="6.4"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" x1="42.2" y1="25.3" x2="45.9" y2="14.6"/>
<path style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" d="M18,21.4l2.6,1.3c0.2,0.1,0.5,0.2,0.8,0.3l2.8,0.4
	c0.8,0.1,1.5,0.6,1.9,1.4l1.3,2.6c0.1,0.2,0.3,0.5,0.5,0.7l2,2c0.6,0.6,0.8,1.4,0.7,2.2L30.1,35c0,0.3,0,0.5,0,0.8l0.5,2.8
	c0.1,0.8-0.1,1.6-0.7,2.2l-2,2c-0.2,0.2-0.4,0.4-0.5,0.7L26,46.1c-0.4,0.7-1.1,1.2-1.9,1.4l-2.8,0.4c-0.3,0-0.5,0.1-0.8,0.3L18,49.5
	c-0.7,0.4-1.6,0.4-2.3,0l-2.6-1.3c-0.2-0.1-0.5-0.2-0.8-0.3l-2.8-0.4c-0.8-0.1-1.5-0.6-1.9-1.4l-1.3-2.6c-0.1-0.2-0.3-0.5-0.5-0.7
	l-2-2c-0.6-0.6-0.8-1.4-0.7-2.2l0.5-2.8c0-0.3,0-0.5,0-0.8l-0.5-2.8c-0.1-0.8,0.1-1.6,0.7-2.2l2-2c0.2-0.2,0.4-0.4,0.5-0.7l1.3-2.6
	C8,24,8.7,23.5,9.5,23.4l2.8-0.4c0.3,0,0.5-0.1,0.8-0.3l2.6-1.3C16.4,21,17.2,21,18,21.4z"/>
<circle style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" cx="16.8" cy="35.4" r="6.3"/>
</svg>
{% endmacro %}

{% macro cart_large(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 58.1 58.1" style="enable-background:new 0 0 58.1 58.1;" xml:space="preserve">
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="4.7" y1="25.1" x2="53.4" y2="25.1"/>
<path style="fill:none;stroke:#000000;stroke-width:2.5;stroke-miterlimit:10;" d="M51.8,25.8l-3.5,22c-0.2,1.3-1.3,2.3-2.7,2.3H12.1
	c-1.4,0-2.5-1-2.7-2.3L6.3,25.8"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="12.3" y1="25.1" x2="25.2" y2="12.9"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="33.3" y1="12.9" x2="45" y2="24.7"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="19" y1="32.2" x2="19" y2="43.2"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="28.5" y1="32.2" x2="28.5" y2="43.2"/>
<line style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-miterlimit:10;" x1="37.9" y1="32.2" x2="37.9" y2="43.2"/>
</svg>
{% endmacro %}

{% macro close(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
{% endmacro %}

{% macro left_arrow(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>
{% endmacro %}

{% macro right_arrow(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
{% endmacro %}

{% macro recipes(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M16.8,7c-0.1,0-0.4-0.1-0.6-0.1c-0.3,0-0.6,0.1-0.9,0.1
	c-0.5-1.4-1.8-2.4-3.4-2.4c-1.6,0-3,1.1-3.5,2.6C7.9,7,7.4,6.9,6.8,6.9c-2,0-3.7,1.6-3.7,3.7c0,0.9,0.3,1.7,0.8,2.3"/>
<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="6.3" y1="9.8" x2="9.8" y2="13"/>
<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="11.7" y1="7.8" x2="11.7" y2="13.1"/>
<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M14.5,13.1c-0.6-0.7-0.9-1.5-0.9-2.5c0-2,1.7-3.7,3.7-3.7
	S21,8.6,21,10.7c0,0.8-0.3,1.6-0.8,2.3"/>
<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M20.6,13H3.4c-0.5,0-0.8,0.5-0.7,1l0.4,1c0.8,1.9,2.6,3.1,4.6,3.1
	h0v1.3h8.5v-1.3h0c2.2,0,4.1-1.3,4.8-3.4l0.3-0.7C21.5,13.5,21.1,13,20.6,13z"/>
</svg>
{% endmacro %}

{% macro blog(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
	<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="3.2" y1="7.9" x2="3.2" y2="16"/>
	<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="3.2" y1="9.8" x2="20.8" y2="5.9"/>
	<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="3.2" y1="14.2" x2="20.9" y2="18.2"/>
	<line style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" x1="20.8" y1="4.1" x2="20.8" y2="19.9"/>
	<path style="fill:none;stroke:#E54F4E;stroke-miterlimit:10;stroke-width:1.7px;" d="M12.3,16.3c-0.2,1.2-1.2,2.1-2.4,2.1c-1.4,0-2.5-1.1-2.5-2.5
		c0-0.2,0-0.4,0.1-0.7"/>
</svg>
{% endmacro %}

{% macro cat_vegetable(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M4.3,21.4"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M15.2,15.2c1.4-0.8,2.3-2.3,2-3.9c-0.2-1-0.7-2-1.5-2.8
		c-0.9-0.9-2.1-1.4-3.2-1.5c-1.4-0.1-2.8,0.8-3.5,2.1L3.5,19.5c-0.4,0.8,0.4,1.7,1.2,1.2L15.2,15.2z"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="7.2" y1="16.4" x2="8.9" y2="18.1"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="8.7" y1="9.6" x2="11" y2="11.9"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M16.4,9.1l-0.6-0.6c1.6-2.1,4.3-2.1,5.9,0
		C20.4,10.2,18,10.7,16.4,9.1z"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M16.4,7.8l-0.6,0.6c-2.1-1.6-2.1-4.3,0-5.9
		C17.4,3.9,18,6.3,16.4,7.8z"/>
</svg>
{% endmacro %}

{% macro cat_fruits(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;" d="M3.8,21.4"/>
	<g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M16.1,1.9
			c-2,0.1-3.9,2.1-3.7,4.3C14.5,6.2,16.3,4,16.1,1.9z"/>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M5.5,9.7
			C4,11.7,4.2,14.6,5,17c1,3.2,3.1,6.2,7.3,4.2c4.1,2,6.3-1,7.3-4.2c0.8-2.2,1-4.8-0.1-6.8c-0.1-0.2-0.2-0.4-0.3-0.5
			c-2.2-2.8-4.7-1.8-6.8-1C10.2,8,7.7,6.9,5.5,9.7z"/>
	</g>
</svg>
{% endmacro %}

{% macro cat_herbs(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M14.3,12.1h-1.8c-0.7-5.1,3.1-9,8.3-8.3
		C21.4,7.9,18.8,12.1,14.3,12.1z"/>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M12.5,13.9v1.8c-5.1,0.7-9-3.1-8.3-8.3
		C8.3,6.8,12.5,9.4,12.5,13.9z"/>
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" x1="12.5" y1="11.2" x2="12.5" y2="22"/>
</svg>
{% endmacro %}

{% macro cat_milk(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<g>
		<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M19.4,11.6c0,0.8-0.6,1.4-1.4,1.4s-1.4-0.6-1.4-1.4H3.4v8h18.3v-8
			H19.4z"/>
		<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M19.4,11.6C19.4,11.5,19.4,11.5,19.4,11.6c0-0.8-0.6-1.5-1.4-1.5
			s-1.4,0.6-1.4,1.4c0,0,0,0,0,0.1"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M19.4,11.6"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M16.6,11.6"/>
	</g>
	<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M3.1,11.6l14.9-6.5l0,0c2,1.5,3.4,3.8,3.7,6.3l0,0.2"/>
	<circle style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" cx="8.6" cy="15.4" r="1.2"/>
	<circle style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" cx="14" cy="8.3" r="1.1"/>
</svg>
{% endmacro %}

{% macro cat_meat(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<g>
		<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M11.3,14.4"/>
		<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M15,8.2
			c-2.1-1-4.4-1.1-6.6,0.6c-15.9,12.8,16.3,12.7,12,5.1c-0.6-1.3-1.5-2.7-2.7-3.8"/>
		<path style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1.4px;" d="M21.9,5.3C21.9,5.3,21.9,5.3,21.9,5.3c-0.4-0.4-0.9-0.5-1.3-0.4
			c0.1-0.5,0-0.9-0.4-1.3c0,0,0,0,0,0c-0.7-0.7-2-0.1-2.1,0.9L18,5.2c0,0.3-0.2,0.6-0.4,0.8l-1.3,1.4c-0.3,0.4-0.8,0.6-1.3,0.7l0,0
			l-1.9,0.4c-2.7,0.6-3.7,3.9-1.8,5.9l0,0l0,0c2,2,5.3,0.9,5.8-1.9l0.3-2c0-0.2,0.1-0.4,0.2-0.5c0.1-0.3,0.3-0.5,0.5-0.8L19.6,8
			c0.2-0.2,0.5-0.4,0.9-0.4l0.6-0.1C22.1,7.3,22.6,6,21.9,5.3z"/>
	</g>
</svg>
{% endmacro %}

{% macro cat_bread(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M3.3,10.5
	c0-2.7,3.5-5,7.8-5s7.9,2.3,7.9,5l0-0.2c0,0.7-0.6,1.3-1.3,1.3h-1v8c0,0.4-0.3,0.8-0.8,0.8h-10c-0.4,0-0.8-0.3-0.8-0.8v-8H4.7
	c-0.8,0-1.4-0.6-1.4-1.4V10.5z"/>
	<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M11,5.5l3.7,0
		c4.3,0,7.9,2.3,7.9,5l0-0.2c0,0.7-0.6,1.3-1.3,1.3h-1v8c0,0.4-0.3,0.8-0.8,0.8h-4"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="16.8" y1="11.5" x2="20.4" y2="11.5"/>
</svg>
{% endmacro %}

{% macro cat_drink(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M16.3,11.3
	c-0.1-0.2,0-0.5,0.1-0.6l2.9-2.9L20.1,8l1.1-1.1c0.2-0.2,0.2-0.6,0-0.8l-2.6-2.6c-0.2-0.2-0.6-0.2-0.8,0l-1.1,1.1L17,5.4l-2.9,2.9
	c-0.2,0.2-0.4,0.2-0.6,0.1l-1.3-0.4c-1-0.3-2-0.1-2.8,0.7L4.2,14c-0.8,0.8-0.8,2,0,2.8L8,20.6c0.8,0.8,2,0.8,2.8,0l5.2-5.2
	c0.7-0.7,1-1.8,0.7-2.8L16.3,11.3z"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="9.1" y1="9.5" x2="15.1" y2="15.6"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="5.1" y1="13.4" x2="11.3" y2="19.8"/>
</svg>
{% endmacro %}

{% macro cat_pantry(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<g>
		<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M14.2,12.7
			c-0.4-0.2-1-0.4-1.5-0.4c-0.5,0-1,0.1-1.5,0.4c-3,1.3-3-1.8-6.9,0.7c0,0,0,0,0,0l1.1,4.7h14.1l1.2-5C17.2,11.2,17,13.9,14.2,12.7z"
			/>
		<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" d="M20.6,13.1
			c0.2,0.1,0.3,0.2,0.5,0.3c0.3,0.1,1.8,0.7,1.8-0.5c0-0.9-0.9-0.9-1.1-1.7c-0.7-2.4-4.7-4.3-9.2-4.3c-4.5,0-8.5,1.9-9.2,4.3
			C3.4,12,2.5,12,2.5,12.9c0,1.2,1.4,0.7,1.8,0.5"/>
	</g>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="12.7" y1="8.7" x2="12.7" y2="10.4"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="15.8" y1="8.9" x2="17" y2="10.4"/>
	<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:1.4px;" x1="9.5" y1="8.9" x2="8.3" y2="10.4"/>
</svg>
{% endmacro %}

{% macro mail_send(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M23.5 17L18.5 22L15 18.5L16.5 17L18.5 19L22 15.5L23.5 17M13 18H3V8L11 13L19 8V13H21V6C21 4.9 20.1 4 19 4H3C1.9 4 1 4.9 1 6V18C1 19.1 1.9 20 3 20H13V18M19 6L11 11L3 6H19Z" /></svg>
{% endmacro %}

{% macro edit(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
<path style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="M19.5,13.3v7.1
	c0,1-0.8,1.8-1.8,1.8H3.5c-1,0-1.8-0.8-1.8-1.8V6.2c0-1,0.8-1.8,1.8-1.8h12.1"/>
<polygon style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="10.3,19.4 
	7.3,19.5 7.4,16.5 20.3,3.5 23.3,6.5 "/>
<line style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="18.3" y1="5.6" x2="21.2" y2="8.6"/>
</svg>
{% endmacro %}

{% macro kcal(class='') %}
<svg class="{{class}}" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
<g>
	<path d="M12.5,3.2c1.8,2,6.1,7.5,6.1,12.9c0,3.4-2.7,6.1-6.1,6.1s-6.1-2.7-6.1-6.1C6.4,11.1,10.8,5.4,12.5,3.2 M12.5,1.7
		c0,0-7.1,7.7-7.1,14.4c0,3.9,3.2,7.1,7.1,7.1s7.1-3.2,7.1-7.1C19.6,8.8,12.5,1.7,12.5,1.7L12.5,1.7z"/>
</g>
<g>
	<path d="M12.5,13.8c1,1.2,2.6,3.6,2.6,5.9c0,1.5-1.2,2.6-2.6,2.6s-2.6-1.2-2.6-2.6C9.9,17.5,11.5,15,12.5,13.8 M12.5,12.2
		c0,0-3.6,4-3.6,7.4c0,2,1.6,3.6,3.6,3.6s3.6-1.6,3.6-3.6C16.1,15.9,12.5,12.2,12.5,12.2L12.5,12.2z"/>
</g>
</svg>
{% endmacro %}

{% macro stopwatch(class='') %}
<svg version="1.1" class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
<g>
	<path d="M12.5,4.8c5.1,0,9.2,4.1,9.2,9.2s-4.1,9.2-9.2,9.2S3.3,19.1,3.3,14S7.4,4.8,12.5,4.8 M12.5,3.8C6.9,3.8,2.3,8.4,2.3,14
		s4.6,10.2,10.2,10.2S22.7,19.7,22.7,14S18.1,3.8,12.5,3.8L12.5,3.8z"/>
</g>
<g>
	<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="12.5" y1="1.7" x2="12.5" y2="4.4"/>
</g>
<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="10" y1="1.7" x2="15" y2="1.7"/>
<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="18.5" y1="6.1" x2="19.6" y2="4.7"/>
<line style="fill:none;stroke:#000000;stroke-miterlimit:10;" x1="12.5" y1="8" x2="12.5" y2="15"/>
</svg
{% endmacro %}

{% macro nutritions(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
<path d="M22.7,10.8c-0.7-1-1.6-1.6-2.6-2c0.4-0.3,0.8-0.6,1.2-0.9c1.1-1.2,1.6-3,1.4-4.8l-0.1-0.4l-0.4-0.1
	c-1.9-0.3-3.7,0.3-4.9,1.5c-0.3,0.3-0.6,0.7-0.8,1.1c-0.4-1.1-1.1-2.1-2.1-2.8L14,2.1l-0.3,0.2c-1.5,1.1-2.4,2.8-2.4,4.5
	c-0.2-0.3-0.5-0.5-0.8-0.7l-0.3-0.2L9.8,6.1c-1.4,1.1-2.3,2.6-2.4,4.2C7.3,10.1,7,10,6.8,9.8L6.5,9.5L6.2,9.8
	c-1.5,1.2-2.4,2.8-2.4,4.6c0,1.6,0.7,3.1,1.9,4.2l-3.4,3.4l0.7,0.7l3.4-3.4L7,19.8c1,1,2.2,1.5,3.5,1.5c0.1,0,0.2,0,0.3,0
	c1.7-0.1,3.3-1,4.4-2.4l0.2-0.3l-0.2-0.3c-0.2-0.2-0.4-0.4-0.5-0.6c1.6-0.2,3.1-1,4.2-2.4l0.2-0.3l-0.2-0.3
	c-0.2-0.3-0.4-0.5-0.7-0.7c0,0,0.1,0,0.1,0c1.7-0.1,3.3-1,4.4-2.4l0.2-0.3L22.7,10.8z M18,4.8c0.9-0.9,2.2-1.4,3.6-1.3
	c0.1,1.3-0.3,2.6-1.2,3.5c-0.5,0.6-1.5,1.3-3,1.3h-0.8C16.6,7,17,5.7,18,4.8z M14,3.4c1,0.9,1.6,2.1,1.7,3.3c0.1,0.8-0.1,2-1.2,3
	l-0.6,0.6c-1.1-0.9-1.6-2.1-1.6-3.4C12.3,5.6,12.9,4.4,14,3.4z M13.2,11.1l-0.3,0.3c0-0.2,0-0.4,0-0.6C13,10.9,13.1,11,13.2,11.1z
	 M10.2,7.2c1,0.9,1.6,2.1,1.7,3.3c0.1,0.8-0.1,2-1.2,3l-0.2,0.2c-0.1,0.1-0.3,0.3-0.4,0.4c-1.1-0.9-1.6-2.1-1.6-3.4
	C8.5,9.4,9.1,8.2,10.2,7.2z M4.8,14.3c0-1.3,0.6-2.5,1.7-3.5c1,0.9,1.6,2.1,1.7,3.3c0.1,0.8-0.1,2-1.2,3l-0.6,0.6
	C5.4,16.8,4.8,15.6,4.8,14.3z M9.2,14.7c0.1,0.1,0.1,0.1,0.2,0.2L9.2,15C9.2,14.9,9.2,14.8,9.2,14.7z M10.1,15.6l0.2,0.2
	c-0.2,0-0.4,0-0.5,0.1L10.1,15.6z M10.8,20.2c-0.8,0-2-0.1-3-1.2l-0.6-0.6c0.9-1.1,2.1-1.6,3.4-1.6c0.5,0,1,0.1,1.4,0.3
	c0.2,0.1,0.4,0.2,0.5,0.2c0.5,0.3,1.1,0.7,1.5,1.2C13.2,19.5,12,20.2,10.8,20.2z M14.4,16.6c-0.4,0-0.8,0-1.3-0.1
	c-0.3-0.1-0.5-0.2-0.8-0.3c-0.3-0.2-0.6-0.4-0.9-0.7l-0.5-0.6l0.1-0.1c0.9-1,2.1-1.5,3.3-1.5c1.3,0,2.5,0.6,3.5,1.7
	C16.9,15.9,15.7,16.5,14.4,16.6z M14.3,12.2L14.3,12.2c-0.3,0-0.5,0-0.8,0.1l0.5-0.5L14.3,12.2C14.3,12.2,14.3,12.2,14.3,12.2z
	 M18.3,12.8c-0.8,0.1-2-0.1-3-1.2l-0.6-0.6c0.9-1.1,2.1-1.6,3.4-1.6c1.3,0,2.5,0.6,3.5,1.7C20.7,12.1,19.5,12.7,18.3,12.8z"/>
</svg>

{% endmacro %}

{% macro more(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
<g>
	<path d="M12.6,23.8c-6.2,0-11.3-5.1-11.3-11.3S6.4,1.2,12.6,1.2s11.3,5.1,11.3,11.3S18.9,23.8,12.6,23.8z M12.6,3.1
		c-5.2,0-9.4,4.2-9.4,9.4s4.2,9.4,9.4,9.4s9.4-4.2,9.4-9.4S17.8,3.1,12.6,3.1z"/>
</g>
<g>
	<path d="M13.4,10.5v7.3h1.2v0.4h-4v-0.4h1.2v-6.9h-1.2v-0.4H13.4z M12.5,6.9c0.6,0,1,0.3,1,1c0,0.6-0.3,1-1,1c-0.7,0-1-0.5-1-1
		C11.5,7.3,11.9,6.9,12.5,6.9z"/>
</g>
</svg>
{% endmacro %}


{% macro youtube(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z" /></svg>
{% endmacro %}

{% macro pinterest(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M9.04,21.54C10,21.83 10.97,22 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12C2,16.25 4.67,19.9 8.44,21.34C8.35,20.56 8.26,19.27 8.44,18.38L9.59,13.44C9.59,13.44 9.3,12.86 9.3,11.94C9.3,10.56 10.16,9.53 11.14,9.53C12,9.53 12.4,10.16 12.4,10.97C12.4,11.83 11.83,13.06 11.54,14.24C11.37,15.22 12.06,16.08 13.06,16.08C14.84,16.08 16.22,14.18 16.22,11.5C16.22,9.1 14.5,7.46 12.03,7.46C9.21,7.46 7.55,9.56 7.55,11.77C7.55,12.63 7.83,13.5 8.29,14.07C8.38,14.13 8.38,14.21 8.35,14.36L8.06,15.45C8.06,15.62 7.95,15.68 7.78,15.56C6.5,15 5.76,13.18 5.76,11.71C5.76,8.55 8,5.68 12.32,5.68C15.76,5.68 18.44,8.15 18.44,11.43C18.44,14.87 16.31,17.63 13.26,17.63C12.29,17.63 11.34,17.11 11,16.5L10.33,18.87C10.1,19.73 9.47,20.88 9.04,21.57V21.54Z" /></svg>
{% endmacro %}

{% macro rss(class='') %}
<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M6.18,15.64A2.18,2.18 0 0,1 8.36,17.82C8.36,19 7.38,20 6.18,20C5,20 4,19 4,17.82A2.18,2.18 0 0,1 6.18,15.64M4,4.44A15.56,15.56 0 0,1 19.56,20H16.73A12.73,12.73 0 0,0 4,7.27V4.44M4,10.1A9.9,9.9 0 0,1 13.9,20H11.07A7.07,7.07 0 0,0 4,12.93V10.1Z" /></svg>
{% endmacro %}

{% macro menu(class='') %}
<svg class="{{class}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
	<line style="fill:none;stroke:#231F20;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="2.3" y1="5" x2="22" y2="5"/>
	<line style="fill:none;stroke:#231F20;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="2.3" y1="12.5" x2="22" y2="12.5"/>
	<line style="fill:none;stroke:#231F20;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="2.3" y1="20" x2="22" y2="20"/>
</svg>{% endmacro %}

