<svg version="1.1" id="brand_small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="48.345px" height="58.667px" viewBox="0 0 48.345 58.667" enable-background="new 0 0 48.345 58.667" xml:space="preserve">
<g>
	<path fill="#8BC53F" d="M36.094,0.448c-1.258,0-1.499,1.6-1.499,1.6c2.004,0.57,2.702,2.553,2.702,2.553
		c-2.409,0.948-3.346,2.463-3.875,4.378c-0.494,1.81-1.16,2.303-1.16,2.303s0.128,0.021,0.341,0.021c0.202,0,0.481-0.019,0.804-0.09
		c-0.096,0.435-0.152,0.858-0.172,1.237c-0.078,1.782-0.324,3.348-0.676,4.751c2.766,2.437,4.432,5.977,4.434,9.653
		c0,0.197-0.006,0.395-0.015,0.592c-0.022,0.465-0.071,0.933-0.139,1.401c-0.031,0.237-0.075,0.472-0.12,0.705
		c-0.037,0.215-0.074,0.425-0.119,0.641c-0.068,0.323-0.148,0.651-0.236,0.981l-0.078,0.288c-0.111,0.39-0.226,0.777-0.355,1.167
		l-0.002,0.003l-0.002,0.014l-0.003,0.005l-0.003,0.006c-0.153,0.457-0.312,0.91-0.488,1.36l-0.035,0.088
		c-0.171,0.43-0.348,0.855-0.533,1.276h-0.002l-0.004,0.003l-0.099,0.222c-0.169,0.376-0.341,0.751-0.522,1.12l-0.002,0.002
		l-0.005,0.009c-0.079,0.155-0.161,0.31-0.243,0.469c-0.144,0.282-0.285,0.57-0.436,0.848c-0.236,0.446-0.479,0.881-0.725,1.308
		c-1.178,2.048-2.287,5.134-4.672,6.22c-0.018,0.007-0.035,0.015-0.052,0.021c-0.032,0.015-0.066,0.028-0.098,0.042
		c-0.739,0.308-1.564,0.423-2.416,0.423h-0.012h-0.019c-1.577-0.004-3.249-0.393-4.66-0.681c-0.092-0.018-0.186-0.038-0.277-0.056
		c-0.045-0.009-0.092-0.019-0.136-0.027c-0.052-0.01-0.104-0.019-0.155-0.028c-0.509-0.095-1.025-0.182-1.534-0.266
		c-3.279-0.542-6.571-0.95-9.287-2.521c-0.126,0.586-0.216,1.18-0.259,1.773l0.001,0.005c-0.092,1.24,0.002,2.487,0.292,3.684
		l0.055,0.205c0.08,0.311,0.174,0.613,0.282,0.916l0.122,0.311c0.099,0.266,0.213,0.521,0.336,0.775l0.178,0.35
		c0.127,0.238,0.268,0.471,0.414,0.697l0.223,0.344c0.166,0.232,0.344,0.455,0.525,0.674l0.237,0.287
		c0.275,0.305,0.566,0.602,0.886,0.879c0.216,0.189,0.436,0.365,0.665,0.537c2.267,1.709,4.983,2.453,7.832,2.453
		c4.035,0,8.338-1.492,12.017-3.846c11.276-7.22,17.172-21.974,12.859-40.746c-0.249-1.102-0.625-2.001-1.078-2.742
		c0.6,0.286,1.005,0.617,1.005,0.617l-0.024-0.088c-0.115-0.408-0.662-2.118-1.953-3.475c-1.094-1.147-2.389-2.005-4.006-2.073
		c-0.072-0.002-0.146-0.004-0.219-0.004c-0.477,0-0.979,0.068-1.515,0.216c-0.465-2.437-2.237-3.79-2.237-3.79
		C36.129,0.449,36.111,0.448,36.094,0.448"/>
	<path fill="#ED5252" d="M9.157,0.606c-1.373,0-1.536,1.489-1.536,1.489C7.45,2.043,7.28,2.018,7.117,2.018
		c-1.298,0-2.244,1.536-1.164,2.651c-1.808,0.957-0.915,2.94,0.164,2.94c0.076,0,0.153-0.01,0.23-0.031
		c-0.311,0.493-0.44,0.909-0.44,1.26L5.562,9.082C5.263,8.565,4.796,8.342,4.335,8.342c-0.744,0-1.474,0.578-1.47,1.443
		c0,0-0.131-0.025-0.321-0.025c-0.435,0-1.184,0.13-1.413,0.984c-0.276,1.034,0.793,1.477,0.793,1.477
		c-0.633,0.934,0.249,1.637,0.952,1.637c0.177,0,0.342-0.044,0.47-0.142c-0.272,0.92,0.468,1.394,1.133,1.394
		c0.233,0,0.456-0.058,0.624-0.175c0.138,0.719,0.702,1.01,1.281,1.01c0.327,0,0.659-0.094,0.923-0.254
		c0.198,0.515,0.53,0.632,0.931,0.632c0.168,0,0.351-0.021,0.539-0.04c0.189-0.021,0.386-0.042,0.583-0.042
		c0.306,0,0.616,0.049,0.915,0.223c0.185,0.105,0.364,0.158,0.531,0.172l0.007,0.004c0.544,0.483,0.979,0.906,1.383,1.322
		c-0.628,0.384-1.223,0.798-1.806,1.22l-0.227,0.157l0.037-0.014C3.67,24.2,0.308,31.571,6.362,39.7
		c0.908,1.219,1.974,2.11,3.147,2.79c0.398-1.867,1.203-3.661,2.386-5.186c3.146-4.063,8.007-6.423,12.24-9.142
		c2.286-1.47,6.712-4.132,8.423-10.962c-0.836-0.736-1.758-1.387-2.783-1.893c-1.805-0.888-3.716-1.268-5.651-1.268
		c-2.906,0-5.869,0.856-8.62,2.134c0.008-0.557,0.016-1.176,0.032-1.939l0.005-0.182c0.152-0.146,0.277-0.355,0.337-0.633
		c0.29-1.349,2.105-1.547,1.481-2.815c0.838-0.248,1.654-1.269,0.955-2.217c0.791-0.182,1.496-1.612,0.305-2.188
		c0.799-0.153,1.287-1.927-0.142-2.128c0,0,0.407-1.13-0.564-1.632c-0.221-0.115-0.429-0.162-0.618-0.162
		c-0.801,0-1.305,0.825-1.305,0.825c-0.286-0.266-0.628-0.384-0.967-0.384c-0.908,0-1.782,0.848-1.438,1.963
		c-0.239,0.017-0.449,0.069-0.631,0.145c-0.09-0.49-0.455-0.913-1.192-0.927c0.659-0.449,0.433-2.04-0.73-2.04
		c-0.133,0-0.278,0.021-0.435,0.066c0,0-0.131-1.263-1.356-1.318C9.213,0.606,9.185,0.606,9.157,0.606 M14.497,16.669
		c-0.714-1.26-1.504-2.7-2.068-3.883c0.084-0.211,0.111-0.472,0.038-0.764c-0.038-0.163-0.046-0.321-0.041-0.475
		c0.315,0.429,0.94,0.746,1.243,1.031c0.175,0.168,0.342,0.322,0.656,1.095l0.16,0.293c-0.038,0.866-0.038,1.771,0.016,2.696
		L14.497,16.669z M13.122,17.409c-0.511-0.529-1.022-1.022-1.54-1.478c-0.01-0.129-0.035-0.266-0.109-0.426
		c-0.343-0.731-0.343-0.954-0.346-1.191c-0.004-0.316,0.107-0.786,0.11-1.22l0.186,0.102c0.529,1.217,1.172,2.579,1.935,4.08
		L13.122,17.409z"/>
	<path fill="#006838" d="M32.559,17.201L32.559,17.201c-1.711,6.829-6.137,9.491-8.423,10.961c-4.233,2.721-9.094,5.079-12.24,9.143
		c-1.183,1.524-1.988,3.318-2.386,5.186c2.715,1.57,6.007,1.979,9.286,2.521c0.51,0.084,1.026,0.171,1.535,0.265
		c0.05,0.01,0.102,0.021,0.154,0.03c0.045,0.008,0.091,0.018,0.136,0.025c0.091,0.019,0.185,0.038,0.278,0.057
		c1.411,0.289,3.083,0.678,4.659,0.681h0.02h0.011c0.853,0,1.678-0.115,2.417-0.422c0.032-0.014,0.066-0.028,0.098-0.042
		c0.017-0.007,0.033-0.016,0.05-0.023c2.386-1.086,3.494-4.171,4.672-6.219c0.247-0.427,0.49-0.86,0.726-1.307
		c0.15-0.278,0.291-0.567,0.437-0.85c0.081-0.157,0.164-0.312,0.241-0.468l0.006-0.009l0.002-0.001
		c0.181-0.369,0.354-0.745,0.521-1.121l0.101-0.221l0.003-0.003h0.002c0.186-0.421,0.361-0.849,0.533-1.277l0.035-0.088
		c0.176-0.45,0.336-0.903,0.488-1.361l0.002-0.005l0.004-0.004l0.002-0.014l0.002-0.003c0.131-0.391,0.244-0.777,0.354-1.167
		l0.079-0.289c0.088-0.33,0.168-0.658,0.236-0.982c0.045-0.214,0.082-0.425,0.119-0.639c0.045-0.235,0.088-0.469,0.119-0.706
		c0.069-0.468,0.117-0.938,0.139-1.401c0.011-0.198,0.015-0.394,0.015-0.592C36.99,23.179,35.325,19.639,32.559,17.201"/>
	<path fill="#F8A477" d="M32.56,17.201L32.56,17.201c2.767,2.438,4.431,5.978,4.433,9.654C36.99,23.178,35.326,19.638,32.56,17.201
		 M20.331,45.276c0.05,0.009,0.102,0.019,0.154,0.028C20.433,45.294,20.38,45.285,20.331,45.276 M20.621,45.332
		c0.091,0.018,0.185,0.038,0.278,0.056C20.806,45.37,20.711,45.349,20.621,45.332 M28.153,45.582
		c-0.017,0.007-0.032,0.015-0.05,0.022C28.121,45.597,28.137,45.589,28.153,45.582 M28.005,45.646
		c-0.74,0.307-1.564,0.422-2.417,0.422C26.441,46.068,27.266,45.953,28.005,45.646 M25.558,46.068h0.02H25.558"/>
</g>
</svg>
