    {% import "elements/content/icons.njk" as icons %}

	<div class="grid items-center max-w-screen-xl pt-8 pb-8 mx-auto next-categories">
    
        <h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
            Ďalšie kategórie
        </h2>

        <div class="mt-2 mb-6 font-semibold">
            <ul>
				{% if id == 3 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/3">Bylinky</a></li>
                {% else %}
				<li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/3">Bylinky</a></li>
				{% endif %}

				{% if id == 190 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/190">Mliečne výrobky</a></li>
                {% else %}
				<li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/190">Mliečne výrobky</a></li>
				{% endif %}

				{% if id == 4 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/4">Mäso</a></li>
                {% else %}
				<li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/4">Mäso</a></li>
				{% endif %}

				{% if id == 5 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/5">Pekáreň</a></li>
                {% else %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/5">Pekáreň</a></li>
				{% endif %}

				{% if id == 6 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/6">Nápoje</a></li>
                {% else %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/6">Nápoje</a></li>
				{% endif %}

				{% if id == 7 %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 text-white rounded-full bg-red-of border-2-transparent" href="{{root}}/fragment/next-items/7">Špajza</a></li>
                {% else %}
                <li class="inline-block mb-2 mr-1"><a up-target=".next-categories" up-follow up-instant class="px-6 py-2 border-2 border-red-200 rounded-full" href="{{root}}/fragment/next-items/7">Špajza</a></li>
				{% endif %}
                
            </ul>
        </div>

        <div class="grid grid-cols-7 gap-5 items">

            {% for next_product in next_products %}

            {% set old = old_date(next_product.end_date) %}
            
            <div class="mb-5 item">
                <a class="relative block" href="{{root}}/home/ponuka/{{next_product.old_id}}/{{next_product.slug}}" up-target=".content" up-follow up-instant >
                {% if next_product.image[0] and next_product.image[0].filename %}
                <div class="grid overflow-hidden rounded-md cursor-pointer place-items-center">
                    <div class="w-full bg-cover h-36 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{next_product.image[0].filename}});"></div>
                </div>
                {% endif %}

                {% if old or next_product.quantity === 0  %}
                <div class="absolute z-10 px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded bottom-2 left-2">
                    Vypredané
                </div>
                {% endif %}
                </a>
                <div class="mt-2 text-lg font-semibold leading-5 text-black title">{{ next_product.title }}</div>
                <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{next_product.price | price}}</span> za 
                {{next_product.unit}}
                {% if next_product.price_for === 'gramy' %}
                g.
                {% elif next_product.price_for === 'kilogramy' %}
                kg.
                {% elif next_product.price_for === 'liters' %}
                l.
                {% elif next_product.price_for === 'kusy' %}
                ks.
                {% elif next_product.price_for === 'balenie' %}
                bal.
                {% else %}
                {{next_product.price_for}}.
                {% endif %}
                </div>
                <div class="mt-1 text-xs text-gray-500">{{next_product.farmer.company_name}}</div>
                <div class="mt-0 text-xs text-gray-500">Ponuka <span class="font-semibold">{{next_product.quantity}} 
                {% if next_product.price_for === 'gramy' %}
                g.
                {% elif next_product.price_for === 'kilogramy' %}
                kg.
                {% elif next_product.price_for === 'liters' %}
                l.
                {% elif next_product.price_for === 'kusy' %}
                ks.
                {% elif next_product.price_for === 'balenie' %}
                bal.
                {% else %}
                {{next_product.price_for}}.
                {% endif %}
                </span></div>
            </div>
            {% endfor %}
            
            <div class="item">
                <a href="{{root}}/produkty?mc={{id}}&e={{id}}" up-follow up-instant up-target=".content" >
                <div class="w-full p-4 border-2 border-red-200 rounded-md cursor-pointer h-36 show-full-category">
                    <div class="mb-2 text-lg font-semibold leading-5 text-black truncate">{{next_products[0].category.name}}</div>
                    <div class="mb-1 mb-3 text-sm text-black">Zobraziť celú kategóriu</div>
                    <div class="flex items-center justify-center inline-block mr-3 rounded-full w-9 h-9 bg-red-of">
                        {{ icons.arrow_right_thin('arrow-white inline-block text-white fill-current') }}
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>