{% macro bratislavsky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/bratislava.svg">
{% endmacro %}

{% macro trnavsky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/trnava.svg">
{% endmacro %}

{% macro nitriansky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/nitra.svg">
{% endmacro %}

{% macro zilinsky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/zilina.svg">
{% endmacro %}

{% macro banskobystricky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/banska-bystrica.svg">
{% endmacro %}

{% macro presovsky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/presov.svg">
{% endmacro %}

{% macro trenciansky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/trencin.svg">
{% endmacro %}

{% macro kosicky_kraj(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/kosice.svg">
{% endmacro %}

{% macro sk(class='', width='', root='') %}
<img class="{{class}}" width="{{width}}" src="{{root}}/assets/img/sk.svg">
{% endmacro %}