{% import "elements/content/icons.njk" as icons %}
  
  <div class="drawer-side bg-white text-black">
    <label for="my-drawer" class="drawer-overlay bg-white"></label>

    <ul class="pt-4 menu p-4 overflow-y-auto w-96 bg-white font-semibold list-none select-none" up-nav>
      <li class="inline-block mr-3 cursor-pointer">
          <a href="{{root}}/" up-target=".content" up-instant up-follow >
          {% include "elements/content/logo.njk" %}
          </a>
      </li>
      <li class="inline-block border-b border-grey-400 my-5">
      </li>
      <li class="inline-block mr-3 cursor-pointer">
          <a href="{{root}}/produkty" up-target=".content" up-instant up-follow >
          {{ icons.carrot('inline-block text-red-of fill-current relative -top-0.5') }}
          Produkty
          </a>
      </li>
      <li class="inline-block mr-3 cursor-pointer">
          <a href="{{root}}/farmari" up-target=".content" up-instant up-follow >
          {{ icons.farmer('inline-block relative -top-0.5 w-6') }}
          Farmári
          </a>
      </li>
      <li class="inline-block mr-3 cursor-pointer">
          <a href="{{root}}/recepty" up-target=".content" up-instant up-follow >
          {{ icons.recipes('inline-block relative -top-0.5 w-6') }}
          Recepty
          </a>
      </li>
      <li class="inline-block mr-3 cursor-pointer">
          <a href="{{root}}/blog" up-target=".content" up-instant up-follow >
          {{ icons.blog('inline-block relative -top-0.5 w-6') }}
          Blog
          </a>
      </li>

      <li class="inline-block border-b border-grey-400 my-5">
      </li>

      {% for category in categories %}

      {% if category.active %}
          {% set isCurrentMainCategory = currentMainCategory(category.id, current_url) %}
          {% if isCurrentMainCategory %}
          <li class="inline-block mr-3 cursor-pointer text-sm text-red-of"><a href="{{root}}/blog?mc={{category.id}}&e={{category.id}}" up-target=".content" >{{ category.name }}</a></li>
          {% else %}
          <li class="inline-block mr-3 cursor-pointer text-sm"><a href="{{root}}/blog?mc={{category.id}}&e={{category.id}}" up-target=".content" >{{ category.name }}</a></li>
          {% endif %}
      {% endif %}

      {% endfor %}

      <li class="inline-block border-b border-grey-400 my-5">
      </li>

      <li class="inline-block mr-3 cursor-pointer">
          <a class="text-red-of" href="{{root}}/prihlasenie" up-target=".content" up-instant up-follow >
          Prihlásenie
          </a>
      </li>
      <li class="inline-block mr-3 cursor-pointer">
          <a class="text-red-of" href="{{root}}/registracia" up-target=".content" up-instant up-follow >
          Registrácia
          </a>
      </li>
    </ul>

   
  </div>