{% import "elements/content/icons.njk" as icons %}

<nav x-data="{ open: false }" class="bg-white border-b border-gray-100">
    <!-- Primary Navigation Menu -->
    <div class="px-4 py-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex">
            <!-- Logo -->
            <div class="flex-none">
                <a href="{{root}}" up-follow up-instant up-follow >
                    <span class="hidden lg:inline-block">{% include "elements/content/logo.njk" %}</span>
                    <span class="lg:hidden">{% include "elements/content/logo_small.njk" %}</span>
                </a>
            </div>
            <div class="grow sm:pl-10 sm:pr-10 pl-6 pr-0">
                <div class="grid top-menu place-items-center">
                    <ul class="mb-2 font-semibold list-none select-none hidden lg:inline-block" up-nav>
                        <li class="inline-block mr-3 cursor-pointer">
                            <a href="{{root}}/produkty" up-target=".content" up-instant up-follow >
                            {{ icons.carrot('inline-block text-red-of fill-current relative -top-0.5') }}
                            Produkty
                            </a>
                        </li>
                        <li class="inline-block mr-3 cursor-pointer">
                            <a href="{{root}}/farmari" up-target=".content" up-instant up-follow >
                            {{ icons.farmer('inline-block relative -top-0.5 w-6') }}
                            Farmári
                            </a>
                        </li>
                        <li class="inline-block mr-3 cursor-pointer text-red-of">
                            <a href="{{root}}/recepty" up-target=".content" up-instant up-follow >
                            {{ icons.recipes('inline-block relative -top-0.5 w-6') }}
                            Recepty
                            </a>
                        </li>
                        <li class="inline-block cursor-pointer">
                            <a href="{{root}}/blog" up-target=".content" up-instant up-follow >
                            {{ icons.blog('inline-block relative -top-0.5 w-6') }}
                            Blog
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="relative">
                    <form method="get" action="/recepty" up-submit up-target=".content" class="main-search-form">
                        <input id="main-search" name="q" value="{{q}}" type="text" class="text-left w-full px-6 py-2 placeholder-gray-400 border-2 rounded-md border-yellow-of focus:border-black ring-0 focus:ring-0" placeholder="Hľadaj recept" />
                        {% if isArray(c) %}
                            {% for cValue in c %}
                            <input name="c" value="{{cValue}}" type="hidden" />
                            {% endfor %}
                        {% elif c %}
                            <input name="c" value="{{c}}" type="hidden" />
                        {% endif %}
                        {% if isArray(mc) %}
                            {% for mcValue in mc %}
                            <input name="mc" value="{{mcValue}}" type="hidden" />
                            {% endfor %}
                        {% elif mc %}
                            <input name="mc" value="{{mc}}" type="hidden" />
                        {% endif %}
                        {% if isArray(e) %}
                            {% for eValue in e %}
                            <input name="e" value="{{eValue}}" type="hidden" />
                            {% endfor %}
                        {% elif e %}
                            <input name="e" value="{{e}}" type="hidden" />
                        {% endif %}
                        {% if isArray(r) %}
                            {% for rValue in r %}
                            <input name="r" value="{{rValue}}" type="hidden" />
                            {% endfor %}
                        {% elif r %}
                            <input name="r" value="{{r}}" type="hidden" />
                        {% endif %}
                        
                        <input name="p" value="1" type="hidden" />
                        <div class="absolute top-2 right-4">
                            <button type="submit">{{ icons.search('search inline-block text-yellow-of fill-current w-7 h-7') }}</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="flex-none select-none items-center mt-2 lg:mt-0">

                {% if user %}
                <a href="{{root}}/ucet" up-target="body" class="text-sm font-semibold" up-follow up-instant up-follow>
                <div class="inline-block mr-1 text-xs leading-7 text-center text-white bg-green-900 rounded-full w-7 h-7">{{user.initials}}</div>
                {{ user.name }} 
                </a>
                <a href="{{root}}/odhlasenie">
                    <div class="inline-block px-4 py-1 ml-2 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                        {{ icons.login('inline-block text-grey-500 fill-current w-5 h-5') }}
                        Odhlásiť
                    </div>
                </a>
                {% else %}
                <ul up-nav>
                    <li class="inline-block mr-1">
                        <a href="{{root}}/registracia" class="hidden sm:inline-block" up-target="body" up-follow up-instant up-follow>
                            <div class="inline-block px-4 py-1 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
                                <span class="hidden lg:inline-block">Registrovať</span>
                                {{ icons.profile_white('inline-block text-white fill-current w-5 h-5 lg:hidden') }}
                            </div>
                        </a>
                    </li>
                    <li class="inline-block">
                        <a href="{{root}}/prihlasenie" class="hidden sm:inline-block" up-target="body" up-follow up-instant up-follow>
                            <div class="inline-block px-4 py-1 text-sm uppercase bg-white border rounded-full cursor-pointer text-greygreen-of border-greygreen-of">
                                <span class="hidden lg:inline-block">Prihlásiť</span>
                                {{ icons.login('inline-block text-grey-500 fill-current w-5 h-5 lg:hidden') }}
                            </div>
                        </a>
                    </li>
                    <li class="inline-block lg:hidden">
                        <label for="my-drawer" class="inline-block drawer-button bg-white pl-2 cursor-pointer text-greygreen-of border-greygreen-of">
                            {{ icons.menu('inline-block text-grey-500 fill-current w-6 h-6') }}
                        </label>
                    </li>
                <ul>
                {% endif %}
                
            </div>
        </div>

        <div class="hidden lg:block">
            <div class="font-medium top-menu text-center">
                <ul class="mt-2 mb-1 text-sm list-none inline-block">

                    {% for category in categories %}

                    {% set isCurrentMainCategory = currentMainCategory(category.id, current_url) %}
                    {% set catUrl = mainCategoryUrl2(category.id, baseUrl) %}

                    {% if category.active %}
                        {% if isCurrentMainCategory %}
                        <li class="inline-block mr-3 cursor-pointer text-red-of"><a href="{{catUrl}}" up-target=".content" >{{ category.name }}</a></li>
                        {% else %}
                        <li class="inline-block mr-3 cursor-pointer"><a href="{{catUrl}}" up-target=".content" >{{ category.name }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</nav>
