{% import "elements/content/icons.njk" as icons %}

<nav x-data="{ open: false }" class="bg-white">
    <!-- Primary Navigation Menu -->
    <div class="px-4 py-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center">
            <!-- Logo -->
            <div class="flex-none">
                <a href="{{root}}" up-follow up-instant up-follow  up-target="body">
                    {% include "elements/content/logo.njk" %}
                </a>
            </div>
            <div class="items-center flex-1 lg:px-56 px-10">
                <div class="grid top-menu place-items-center">
                    <ul class="text-sm font-normal list-none" up-nav>
                        <li class="inline-block mr-5 cursor-pointer">
                            {% if(page == 'account') %}
                            <a href="{{root}}/ucet" up-target="body" up-instant up-follow class="text-red-of" >
                            {% else %}
                            <a href="{{root}}/ucet" up-target="body" up-instant up-follow >
                            {% endif %}
                            {{ icons.home('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            </a>
                        </li>
                        <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/spravy" up-target="body" up-instant up-follow >
                            {{ icons.message('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Správy
                            </a>
                        </li>
                        {% if user.privilegs === 'farmer' %}
                        <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/moja-ponuka" up-target="body" up-instant up-follow >
                            {{ icons.my_offer('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Moja ponuka
                            </a>
                        </li>
                        {% endif %}
                        {% if user.privilegs === 'customer' %}
                        <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/oblubene" up-target="body" up-instant up-follow >
                            {{ icons.favorites('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Obľúbené
                            </a>
                        </li>
                        {% endif %}
                        {# {% if user.privilegs === 'customer' %} #}
                        {# <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/kontakty" up-target="body" up-instant up-follow >
                            {{ icons.favorites('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Kontakty
                            </a>
                        </li> #}
                        {# {% endif %} #}
                        {% if user.privilegs === 'farmer' %}
                        {# <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/predplatne" up-target="body" up-instant up-follow >
                            {{ icons.subscription('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Predplatné
                            </a>
                        </li> #}
                        {% endif %}
                        <li class="inline-block mr-5 cursor-pointer">
                            <a href="{{root}}/ucet/vlastnosti" up-target="body" up-instant up-follow >
                            {{ icons.profile('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Profil
                            </a>
                        </li>
                        <li class="inline-block cursor-pointer">
                            <a href="{{root}}/ucet/nastavenia" up-target="body" up-instant up-follow >
                            {{ icons.settings('inline-block fill-current relative -top-0.5 w-5 mr-1') }}
                            Nastavenia
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="flex-none">

                {% if user %}
                {% if user.privilegs === 'farmer'  %}
                <a href="/ucet/pridat-ponuku" up-target=".content" >
                    <div class="inline-block px-4 py-1 pl-2 text-sm text-white uppercase rounded-full cursor-pointer bg-greygreen-of">
                        {{ icons.add('inline-block fill-current relative -top-0.5 w-5') }}
                        Pridať ponuku
                    </div>
                </a>
                {% endif %}
                <a href="{{root}}/ucet" up-target=".content" >{{ user.first_name }} {{ user.surname }}</a>
                <a href="{{root}}/odhlasenie">
                    <div class="inline-block px-4 py-1 ml-2 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                        {{ icons.login('inline-block text-grey-500 fill-current w-5 h-5') }}
                        Odhlásiť
                    </div>
                </a>
                {% else %}
                <ul up-nav>
                    <li class="inline-block">
                        <a href="/prihlasenie" up-target=".content" >
                            <div class="inline-block px-4 py-1 text-sm text-gray-400 uppercase bg-white border border-gray-400 rounded-full cursor-pointer">
                                <button type="submit">{{ icons.login('inline-block text-grey-500 fill-current w-5 h-5') }}</button>
                            </div>
                        </a>
                    </li>
                <ul>
                {% endif %}

                
            </div>
        </div>
    </div>
</nav>
