<div class="select-none">

    {% set used = false %}
    {% set catUrl = baseUrl %}

    {% if p %}
        {% set catUrl = baseUrl + "?p=1" %}
        {% set used = true %}
    {% endif %}

    {% if q %}
        {% if used %}
        {% set separator = "&" %}
        {% else %} 
        {% set separator = "?" %}
        {% endif %}
        {% set catUrl = catUrl + separator + "q=" + q %}
        {% set used = true %}
    {% endif %}

    {% if c %}
        {% if used %}
        {% set separator = "&" %}
        {% else %}
        {% set separator = "?" %}
        {% endif %}
        {% set catUrl = catUrl + separator + "c=" + c + "," + 206 %}
        {% set used = true %}
    {% else %}
        {% if used %}
        {% set separator = "&" %}
        {% else %}
        {% set separator = "?" %}
        {% endif %}
        {% set catUrl = catUrl + separator + "c=1" %}
    {% endif %}

    <div class="inline-block mr-5">
        <a class="inline-block px-3 py-1 mr-5 border border-gray-300 rounded-md select-none" href="{{catUrl}}" up-target=".content" up-follow up-instant>Cat 1</a>
    </div>
    <div class="inline-block mr-5">
        <a class="inline-block px-3 py-1 mr-5 border border-gray-300 rounded-md select-none" href="{{catUrl}}" up-target=".content" up-follow up-instant>Cat 2</a>
    </div>
    
</div>