<div class="select-none pagination">

    {% if pages > 1 %}

        {# first button #}
        {% set pageUrlFirst = paginationUrl(1, current_url) %}
    
        {% if p > 3 and pages > 6 %}
        <a class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center select-none" href="{{pageUrlFirst}}" up-target=".content" up-scroll="body" up-history="true" up-follow up-instant>1</a>
        {% endif %}

        {# prev button #}     
        {% set pageUrlPrev = paginationUrl(p - 1, current_url) %}
        
        {% if p - 1 %}
        <a class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center select-none" href="{{pageUrlPrev}}" up-target=".content" up-scroll="body" up-history="true" up-follow up-instant>
        {{ icons.left_arrow('inline-block fill-current') }}
        </a>
        {% else %}
        <span class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center cursor-not-allowed select-none opacity-30">
        {{ icons.left_arrow('inline-block fill-current') }}
        </span>
        {% endif %}

        {# number range start/end page #}
        {% set startPage = p - 3 %}
        {% if p < 3 %}
        {% set startPage = 0 %}
        {% endif %}
        {% if p > pages - 2 %}
        {% set startPage = p - 4 %}
        {% endif %}
        {% if p == pages %}
        {% set startPage = p - 5 %}
        {% endif %}
        {% if pages < 5 %}
        {% set startPage = 0 %}
        {% endif %}

        {% set endPage = p + 2 %}
        {% if p < 3 %}
        {% set endPage = 5 %}
        {% endif %}
        {% if pages < 5 %}
        {% set endPage = pages %}
        {% endif %}
        {% if p > pages - 2 %}
        {% set endPage = pages %}
        {% endif %}

        {# number buttons #}
        {% for i in range(startPage, endPage) -%}

            {% set pageUrl = paginationUrl(i + 1, current_url) %}

            {# actual page class #}
            {% if i + 1 == p %}
            {% set actualClass = 'text-white bg-green-900' %}
            {% else %}
            {% set actualClass = '' %}
            {% endif %}

            <a class="mr-5 inline-block px-3 py-1 rounded-full w-10 text-center select-none {{actualClass}}" href="{{pageUrl}}" up-target=".content" up-scroll="body" up-history="true" up-follow up-instant>{{ i + 1 }}</a>

        {%- endfor %}

        {# next button #}
        {% set pageUrlNext = paginationUrl(p + 1, current_url) %}

        {% if p < pages %}
        <a class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center select-none" href="{{pageUrlNext}}" up-target=".content" up-scroll="body" up-history="true" up-follow up-instant>
        {{ icons.right_arrow('inline-block fill-current') }}
        </a>
        {% else %}
        <span class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center cursor-not-allowed select-none opacity-30">
        {{ icons.right_arrow('inline-block fill-current') }}
        </span>
        {% endif %}

        {# last button #}
        {% set pageUrlLast = paginationUrl(pages, current_url) %}

        {% if p < pages - 2 and pages > 6 %}
        <a class="inline-block px-3 py-1 mr-5 rounded-full w-10 text-center select-none" href="{{pageUrlLast}}" up-target=".content" up-scroll="body" up-history="true" up-follow up-instant>{{pages}}</a>
        {% endif %}

    {% endif %}

    
</div>