{% if session_products.length %}

<h2 class="flex items-center mb-5 text-2xl font-medium text-red-of">
    <div class="inline-block">
        <div class="flex items-center justify-center mr-3 rounded-full w-7 h-7 bg-red-of">
            {{ icons.star('inline-block text-white fill-current w-5 h-5') }}
        </div>
    </div>
    
    Sezónna ponuka
</h2>

<div class="grid grid-cols-2 md:grid-cols-3 gap-7 items lg:grid-cols-5">
    {% for session_product in session_products %}

    {% set favorite = favoriteProduct(favoriteProducts, session_product.old_id) %}
    {% set old = old_date(session_product.end_date) %}

    <div class="mb-5 item">
        {% if session_product.external %}
        <a href="{{session_product.external_url}}" target="_blank">
        {% else %}
        <a href="{{root}}/home/ponuka/{{session_product.old_id}}/{{session_product.slug}}" up-follow up-instant>
        {% endif %}
            <div class="relative grid overflow-hidden rounded-md cursor-pointer place-items-center">
                {% if session_product.image[0] and session_product.image[0].filename %}
                <div class="w-full h-40 bg-center bg-cover sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/{{session_product.image[0].filename}});"></div>
                {% else %}
                <div class="w-full h-40 bg-center bg-no-repeat bg-contain sm:h-48 bg-greygreen-light-of-bg thumb-image" style="background-image: url({{root}}/assets/assets_web/thumb_small/of.png);"></div>
                {% endif %}

                {% if(favorite) %}
                <div class="absolute top-0 z-10 h-8 px-2 py-1 rounded-b-lg right-2 bg-red-of">
                    {{ icons.heart_outline('inline-block text-white fill-current relative w-4 h-4') }}
                </div>
                {% endif %}

                {% if old or session_product.quantity === 0 or session_product.flags.length %}
                <div class="absolute z-10 bottom-2 left-2">
                {% if old or session_product.quantity === 0 %}
                <div class="inline-block px-2 py-1 text-xs text-white uppercase bg-yellow-500 rounded">
                    Vypredané
                </div>
                {% endif %}
                {% if session_product.flags.length %}
                {% for flag in session_product.flags %}
                    {% if flag.ge_active %}
                    <div class="inline-block px-2 py-1 mt-1 text-xs text-white uppercase rounded bg-red-of">
                        {{flag.ge_name}}
                    </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </div>
                {% endif %}
            </div>
        </a>
        <div class="mt-2 text-lg font-semibold text-black truncate title">{{ session_product.title }}</div>
        <div class="text-xs text-red-of">Cena <span class="text-sm font-semibold">{{session_product.price | price}}</span> za 
        {{session_product.unit}}
        {% if session_product.price_for.trim() === 'gramy' %}
        g.
        {% elif session_product.price_for.trim() === 'kilogramy' %}
        kg.
        {% elif session_product.price_for.trim() === 'liters' %}
        l.
        {% elif session_product.price_for.trim() === 'kusy' %}
        ks.
        {% elif session_product.price_for.trim() === 'balenie' %}
        bal.
        {% else %}
        {{session_product.price_for}}.
        {% endif %}
        </div>
        <div class="mt-1 text-xs text-gray-500">{{session_product.farmer.company_name}}</div>
        {% if session_product.quantity %}
        <div class="mt-0 text-xs text-gray-900">Ponuka <span class="font-semibold">{{session_product.quantity}} 
        {% if session_product.price_for === 'gramy' %}
        g.
        {% elif session_product.price_for === 'kilogramy' %}
        kg.
        {% elif session_product.price_for === 'liters' %}
        l.
        {% elif session_product.price_for === 'kusy' %}
        ks.
        {% elif session_product.price_for === 'balenie' %}
        bal.
        {% else %}
        {{session_product.price_for}}.
        {% endif %}
        </span></div>
        {% endif %}
    </div>

    {% endfor %}

    {% if sessional_offers_categories.length > 0 %}
    <div class="col-span-2 item md:col-span-3 lg:col-span-1">
        <div class="mb-3 text-lg font-semibold text-red-of">Sezónne kategórie</div>
        <div class="text-black">
            <ul>
                {% for cat in sessional_offers_categories %}
                <li class="relative py-1 text-lg font-semibold border-t border-gray-300 cursor-pointer anim-head-shake">
                    <a class="block" href="{{root}}/produkty?c={{cat.id}}&e={{cat.id}}&p=1" up-target=".content" up-follow up-instant >
                    {{cat.name}}
                    {{ icons.arrow_right_thin('arrow inline-block text-gray-300 fill-current absolute right-0 top-1.5') }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>{# //item #}
    {% endif %}
</div>
{% endif %}